{% for d in drivers %}
  {{ loop.cycle('<div class="row">', '', '') | safe }}
  <div class='span4 mosaic'>
    <table class="clicky" data-fb='{{d.fbid}}'>
    <tr><td style='position:relative;width:120px;'>
    <div  class='driveroverlay' style='top:8px;'>
    <input type="checkbox" name="dkey" id="dkey" value="{{d.routekey}}" checked>
    <label for="dkey"></label>
    </div>
    <div  class='driveroverlay' style='bottom:8px;'>
    {% if d.ins == True %}
       <img src="/static/barnacle64.png" data-toggle="popover" data-content="Insured up to $500" class="info_ins">
    {% endif %}
    {% if d.bank == True %}
      <img src="/static/img/icons/bankver.png" class="info_bank" data-toggle="popover" data-content="Bank Account Verified.">
    {% endif %}
    </div>    
    <img src="{{d.profile_thumb}}">
    </td>
    <td class="capacity" >
    {% if d.capacity == 0 %}<img src='/static/img/icons/icocap0_wh.png'> 
    {% elif d.capacity == 1 %}<img src='/static/img/icons/icocap1_wh.png'>
    {% elif d.capacity == 2 %}<img src='/static/img/icons/icocap2_wh.png'>
    {% elif d.capacity == 3 %}<img src='/static/img/icons/icocap3_wh.png'>
    {% elif d.capacity == 4 %}<img src='/static/img/icons/icocap4_wh.png'>
    {% endif %}
    <br><br>
    <p>{{d.first_name}} &nbsp;&nbsp;</p>
    <div class="avgrating">
    <span class="rating-starsOff" style="width:95px;">
    <span class="rating-starsOn" style="width:19px">{{d.avg_rating}}</span>
    </span>
    </div>        
    <p>{{d.delivend}} </p>
    <a href='{{d.prof_url}}' target='_blank'>more >></a><br><br>    
    
    <!-- Networks: {% for n in d.networks %} {{n}}{% endfor %} -->
    </td></tr></table>
  </div>
 {{ loop.cycle('', '', '</div>') | safe}}
{% endfor %}
</div>
<script type="text/javascript">
$(document).ready(function(){
  $('.mosaic').click(function() {
    $sel = $(this).find('input[name=dkey]').get(0);
    console.log( $sel);
    $sel.setAttribute('checked',!$sel.getAttribute('checked'));
  });
  $('button.next').click(function() {
      $('form#search_form').submit();
  });
});

</script>