{% extends "base.html" %}
{% block title %}Who are you shipping with?{% endblock %}
{% block heading %}
 <!-- Progress bar and button -->
{% include "launch/forms/progress.html" %}
{% include "launch/forms/header_driver.html" %}

{% endblock %}
{% block content %}
  <script>
$(document).ready(function(){  
    $('i.prog2').addClass('blue-text');
    $('.navicoreq').addClass('onbutton');   
    user_rating();
    // tooltips
    $('.info_ins').popover({trigger:'hover', container:'body'});
    $('.info_bank').popover({trigger: 'hover',container:'body'});
    $('button.next').click(function(event) {
        loggedIn = checkLoginStatus();
        if (!loggedIn) {
          loginPlease();
          return;
        }        
      $('button.next').attr('disabled', 'disabled');
      $('button.next').addClass('wait');            
      $('#search_form').submit();
    });    
});

function user_rating(){
    $(".avgrating").each(function() {
      $(this).find('.rating-starsOn').each(function() {
        w =$(this).text();
        $(this).width(w * $(this).height());
      });  
    })
}
</script> 
<script>
  
$(document).ready(function(){
    /* Give the heading a pretty picture */
    hh = $('.heading').height()+20;
    $('.wash').height(hh);
    $('.hero_container').height(hh);
});
</script> 
{% endblock %}
