{% extends "base.html" %}
{% block title%}{{route_title}}{% endblock %}
{% block heading %}
  {% include "launch/forms/progress.html" %}
  {% include "launch/forms/header_req.html" %}
<div class="row-fluid">
  <div class="span12" style='height:90px'>
  </div>
</div>
{% endblock %}
{% block content %}
<script>
  
$(document).ready(function(){
    $('i.prog0').addClass('blue-text');
    $('.navicoreqs').addClass('onbutton');  
    /* Give the heading a pretty picture */
    hh = $('.heading').height()+20;
    $('.wash').height(hh);
    $('.hero_container').height(hh);
});
</script> 
{% endblock %}