{% extends "baseblank.html" %}
{% block title%}Let's Go!{% endblock %}
{% block heading %}
 <link rel="stylesheet" href="/static/landing/styles/transition.css">
<link rel="stylesheet" href="/static/css/checkout.css" />
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<div class="form-header">
  <h4 style='color:#fff'>Invoice</h4>
  <p style='color:#fff'>Provide your payment details below.</p>
</div>

<form enctype="multipart/form-data" method="post" id='cc_form' class="form-header form-horizontal" action="{{checkout_action}}">
  <div class="row-fluid">
    <div class="span7 greyback">
      <h4>Contact Info</h4>
      <div class="row-fluid">
        <div class='span3'>Name:</div>
        <div class='span9'><input name='name' type='name' required></div>
      </div>
     <div class="row-fluid" style='height:20px'></div>
    <h4>Payment Information</h4>
    <div class="row-fluid">
      <div class='span10 offset2'>       <div
			class="cc_visa       cc cc_initial"></div><div
			class="cc_mastercard cc cc_initial"></div><div
			class="cc_amex       cc cc_initial"></div><div
			class="cc_discover   cc cc_initial"></div><div
			class="cc_diners     cc cc_initial"></div><div
			class="cc_jcb        cc cc_initial"></div>
      </div>
    </div>
    <div class="row-fluid">
      <div class='span3'>Card Number:</div>
      <div class='span6'><input type='text' class='card-number input-large' maxlength='16'></div>
      <span class="text-error" id='cc-err'></span>
    </div>
    <div class="row-fluid">
      <div class='span3'>Expiration:</div>
      <div class='span6'>
      <select class='input-mini cc-em'>{% include 'month_opts.txt' %}</select> / 20<input type='number' class='input-mini cc-ey' min="13"></div>
      <div class="span3 text-error" id='ccexp-err'></div>
    </div>
    <div class="row-fluid">
      <div class='span3'>Security Code:</div>
      <div class='span2'><input type='text' class='input-mini cc-csc' maxlength="4"></div>
      <div class='span3 hidden-phone' style='padding-left:20px'><div id='cvc_card' class='visa_back'></div></div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        Quote:
      </div>
      <div class="span6">
        <span class="add-on hidden-phone">$</span>
          {{ rates }}
      </div>
    </div>
    <div class="row-fluid hidden-phone" style='height:20px'></div>
    <div class="row-fluid" >
      <div class='span12'>
      <label class="checkbox inline">
        <input type='checkbox' id='tos'> I have read and agree to the <a href='/tos'>Terms of Service</a>.
      </label>
      </div>
    </div>
    <input type='hidden' name='fee' value='{{booking_fee}}'>
    <div class="row-fluid">
      <div class='span4 offset4'>
	<button type="submit" class="button secondary" id='request_btn' disabled='disabled'>Book It</button>
      </div>
      <div class='span4 text-error' id='check-err'></div>
    </div>
  </div>

  <div class="span4 greyback">
    <h4>Summary</h4>
    <div id="map-canvas" class="homemap" style='height:200px'></div>

    <div class="row-fluid">
      <div class='span12'>
      <br>
      <p>Origin: {{ locstart }}</p>
      <p>Destination: {{ locend }}</p>
      <p>Deliver By: {{ delivby }}</p>
      </div>
    </div>
  </div>
</div>


</form>

{% endblock %}
{% block content %}
{% include "money/balancedjs.html" %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
 <script>

$(document).ready(function(){
    var mapURL = '/res/json/{{reskey}}';
    initialize_map(mapURL);

    $("#tos").click(function(){
        var agree = $("input#tos:checked").val();
        if (typeof agree!='undefined')
            $('#request_btn').removeAttr('disabled');
        else
            $('#request_btn').attr('disabled', 'disabled');
    });
});
$(document).ready(function(){
    /* Give the heading a pretty picture */
    hh = $('.heading').height()+20;
    $('.hero_container').height(hh);
});
  </script>
  <script type="text/javascript" src="/static/js/validation.js"></script>
<script type="text/javascript" src="/static/js/maps/mapoverlay.js"></script>
<script type="text/javascript" src='/static/js/money/ccpay.js'></script>
{% endblock %}
