{% extends "base.html" %}
{% block title%}Let's Go!{% endblock %}
{% block heading %}
 <!-- Progress bar and button -->
{% include "launch/forms/progress.html" %}
{% include "launch/forms/header_checkout.html" %}

{% endblock %}
{% block content %}
{% include "money/balancedjs.html" %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
 <script>
  
$(document).ready(function(){
    $('i.prog3').addClass('blue-text');
    $('button.next').hide();
    $('.navicoreqs').addClass('onbutton');  
    //click_submit('#request_btn','#request_form');
    var mapURL = '/res/json/{{reskey}}';
    initialize_map(mapURL);    
    $('#info_offer').popover({trigger: 'hover'});
    $('#info_email').popover({trigger: 'hover'});    
    
    $("#tos").click(function(){
        var agree = $("input#tos:checked").val();
        if (typeof agree!='undefined') 
            $('#request_btn').removeAttr('disabled'); 
        else
            $('#request_btn').attr('disabled', 'disabled'); 
    });
});
$(document).ready(function(){
    /* Give the heading a pretty picture */
    hh = $('.heading').height()+20;
    $('.wash').height(hh);
    $('.hero_container').height(hh);
});
  </script>
  <script type="text/javascript" src="/static/js/validation.js"></script>
<script type="text/javascript" src="/static/js/maps/mapoverlay.js"></script>
<script type="text/javascript" src='/static/js/money/ccpay.js'></script>  
{% endblock %}