{% extends "base.html" %}
{% block title%}{{route_title}}{% endblock %}
{% block heading%}<h1>{{route_title}}</h1>{% endblock %}
{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script type="text/javascript" src="/static/js/maps/mapstyles.js"></script>
<script src="/static/js/maps/launch/maphome.js"></script>
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<div class="row-fluid">
  <div class='span10 offset1'>
 <form action='/res/search' enctype="multipart/form-data" method="post" id='search_form' class="form-horizontal">
    {% include "launch/lreq_form_stub.html" %}     
    <p align="center">
    <input type='hidden' name="startlat" id="startlat">
    <input type='hidden' name="startlon" id="startlon">
    <input type='hidden' name="startstr" id="startstr">
    <input type='hidden' name="destlat" id="destlat">
    <input type='hidden' name="destlon" id="destlon">
    <input type='hidden' name="deststr" id="deststr">   	
    </p>
</form>
  </div>
</div>


 <script>  
$(document).ready(function(){
    var mapURL = '/post/jsonall';
    initialize_home(mapURL);
    vtest = [[0],[0]];
    click_ajax('#search_btn',['map0','map1'],['start','dest'],
        vtest,'#search_form',false, false);
});

function submitCallback(data, formURL) {
  $.ajax({
    type: "POST",
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    url: formURL,
    data: data,
    success: function(response) {
      console.log(response);
      //should just redirect
      if (response.status =='ok') 
        window.location.href=response.next;
      $('#search_btn').removeAttr('disabled');
      $('#search_btn').removeClass('wait');   
    }
  });
}
  </script>
  <script src="/static/js/jquery.validate.js"></script>
  <script type="text/javascript" src="/static/js/validation.js"></script>
{% endblock %}