<div class="row-fluid">
  <div class="span8">
    <div class="control-group row-fluid">   
      <label class="control-label" for="dropoff">Origin:</label>
        <div class="controls">
          <input class="input input-xlarge" type="text" name="start" id='map0Field' value="{{locstart}}">
          <span class="help-inline error" id='map0Err'>{{error_route}}</span>
        </div>
        <label class="control-label" for="dest">Destination:</label>
        <div class="controls">
          <input class="input input-xlarge" type="text" name="dest" id='map1Field' value="{{locend}}">
          <span class="help-inline error" id='map1Err'>{{error_route}}</span>
        </div>
    </div>   
  </div>
  <div class="span4">
    <button type="submit" class="button secondary" id='search_btn'>Next</button>
  </div>
</div>
<div class="row-fluid">
  <div class="span8 offset2">
    <div id="map-canvas" class="homemap"></div>
</div>
</div> 