{% extends "launch/baseblank.html" %}
{% block title%}Thank You For Your Request{% endblock %}
{% block content %}

      <div class="row-fluid"> <div class="span10 offset1">
      <h2><br>Thank You</h2><br>
        <p>Thank you for posting your request. You will receive an email confirmation shortly. </p>
        <p>All you need to do now is wait. We will send this to our best drivers, and you will be alerted when one accepts your package for delivery.  You can access or modify this page any time in your <a href='/account'>dashboard</a>.</p>
        <p>If you want to speed up the search process, share your listing on <a href="http://facebook.com/gobarnacle">Facebook</a> or <a href="http://twitter.com/gobarnacle">Twitter</a>.  A quarter of Barnacle users are actually able to source a driver through their existing social network.  It's a great way to catch up with old friends!
        </p>
        <p>Questions? Please <a href='mailto:help@gobarnacle.com'>contact us</a> directly.</p>
        <br>
        <p class="arial"><h4>Request Details</h4>
        <small>
    <div class="row-fluid">
      <div class='span2'><p>Origin:</p></div>
      <div class='span6'><p>{{ locstart }}
      <br><small>{{ dropoffstr }}</small></p></div>
    </div>  
    <div class="row-fluid">
      <div class='span2'><p>Destination:</p></div>
      <div class='span8'><p>{{ locend }}
      <br><small>{{ pickupstr }}<br>{{ delivby }}</small></p></div>
    </div>      
    <div class="row-fluid">
      <div class='span2'>Item:</div>
      <div class='span6'>{{ item }}</div>
    </div>   
    <div class="row-fluid">
      <div class='span2'>Size:</div>
      <div class='span2 icons'>
      {% if capacity == 0 %}
        <img src='/static/img/icons/icocap4.png'> Passenger Seat
      {% elif capacity == 1 %}
        <img src='/static/img/icons/icocap0.png'> Trunk
      {% else %}
        <img src='/static/img/icons/icocap1.png'> Wagon
      {% endif %}
      </div>
    </div>             
    <div class="row-fluid">
      <div class='span2'><p><b>Offer:</b></p></div>
      <div class='span6'><b>${{ price }} </b></span>
      </div>
    </div>       
        </small></p>
        
        <p>Go Home: <a href='/home'><img width="100px" src="/static/img/barnacle.png"></a></p>
      </div></div>
{% endblock %}