{% extends "base.html" %}
{% block title%}{{res_title}}{% endblock %}
{% block heading%}<h1>{{res_title}}</h1>{% endblock %}
{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    {% include "forms/stubspop/request_review.html" %}
<div class="row-fluid">
  <div class="span2  offset6">
    <button id='next_btn' class="button">Checkout</button>
  </div>
</div>  
 <script>
$(document).ready(function(){  
    $('.navicoreq').addClass('onbutton');   
    $('#next_btn').click(function(event) {
      event.preventDefault();
      $('#request_form').submit();
    });
});
</script>
{% endblock %}