{% extends "base.html" %}
{% block title%}{{route_title}}{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/datepicker/css/datepicker.css">
{% endblock %}

{% block heading %}<h1 class='whiteh1'>{{route_title}}</h1>
  {% include "post/forms/header_req.html" %}
{% endblock %}

{% block content %}

<div class='row' style='height:20px'></div>
{% include 'sizechart.html' %}
 <script>
$(document).ready(function(){
    $('#size_info').html(' <a href="#sizechart"><i class="icon-info-sign"></i></a>');
});
  </script>
{% endblock %}
