{% extends "base.html" %}
{% block title%}{{route_title}}{% endblock %}
{% block heading%}<h1>{{route_title}}</h1>
<div class="row-fluid">
  <div class="span6 offset5" style='text-align:right'>
    <p>Sending something? Post a <button class="button primary tiny" id='postreq_btn'>Delivery Request</button></p>
  </div><div class='span1 visible-desktop'></div>
</div>
{% endblock %}
{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="/static/js/maps/mapsclientno.js"></script>
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/landing/styles/transition.css">
<div class="row">
    <div class="span10 offset1">

 <form enctype="multipart/form-data" method="post" id='route_form' class="form-horizontal" action="{{route_action}}">

   <div class="tabbable">
    <ul class="nav nav-pills">
      <li id='tab0' class="active"><a href="#tab-sub" data-toggle="tab"><h6>Subscribe to Route</h6></a></li>
      <li id='tab1'><a href="#tab-post" data-toggle="tab"><h6>Post a New Route</h6></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab-sub">
        <div class="row-fluid">
         <div class="row-fluid support">
            <b>How Does This Work?</b><br>
            We are currently serving deliveries between Seattle, Portland, the Bay Area, and Greater Los Angeles.  By subscribing to a route, you will be notified of any requests between your selected destinations.  <br>
            If you have travel plans beyond the destinations listed below, you are still welcome to post your route. However, be aware that you may not get many delivery requests.
          </div>
          <div class="row-fluid" style='height:20px'></div>
          <p>Drag Markers to Select Route Segment</p>
          {% include "post/submap.html" %}
          <div class="row-fluid" style='height:20px'></div>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-post">
        <div class="control-group">
            <div class="controls" id="rtRadios">
                <label class="radio inline">
                  <input type="radio" name="rtr" id="repeatNo" value="0" checked> One-Way
                </label>
                <label class="radio inline">
                  <input type="radio" name="rtr" id="repeatWeek" value="1"> Round Trip
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="start">Start Address:</label>
            <div class="controls">
              <input class="input input-xlarge" type="text" name="start" id='map0Field' value="{{locstart}}"  style='width: 270px!important;'>
              <span class="help-inline error" id='map0Err'>{{error_route}}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" id='startlbl'>Departure Date:</label>
            <div class="controls">
              <input type="text" name="delivstart" value="{{delivstart}}" id="startdate" autocomplete="off">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="dest">Destination:</label>
            <div class="controls">
              <input class="input input-xlarge" type="text" name="dest" id='map1Field' value="{{locend}}"  style='width: 270px!important;'>
              <span class="help-inline error" id='map1Err'>{{error_route}}</span>
            </div>
        </div>
        <div class="control-group">
        <label class="control-label" id='endlbl'>Arrival Date:</label>
        <div class="controls">
          <input type="text" name="delivend" value="{{delivend}}" id="enddate" autocomplete="off">
        </div>
    </div>
      </div>

    </div>
   </div>


    <!--
    <div class="control-group" id='waypts-group'>
        <div class="controls">
          <button class="btn btn-mini" id='adddest_btn'>Add destination</button>
        </div>
    </div>-->
    <div class="control-group">
        <label class="control-label" for="capacity">Vehicle Capacity:</label>
        <div class="controls" id="repeatRadios">
            <label class="radio inline">
              <input type="radio" name="vcap" id="cap0" value="0">
              <img src='/static/img/icons/icocap0.png'> <br> Compact
            </label>
            <label class="radio inline">
              <input type="radio" name="vcap" id="cap1" value="1">
              <img src='/static/img/icons/icocap1.png'><br> SUV
            </label>
            <label class="radio inline">
              <input type="radio" name="vcap" id="cap2" value="2">
              <img src='/static/img/icons/icocap2.png'><br> Pickup
            </label>
            <label class="radio inline">
              <input type="radio" name="vcap" id="cap3" value="3">
              <img src='/static/img/icons/icocap3.png'><br> Hauler
            </label>
            <label class="radio inline">
              <input type="radio" name="vcap" id="cap4" value="4">
              <img src='/static/img/icons/icocap4.png'><br> Carry On
            </label>
        </div>
   </div>
     <div class="control-group">
        <label class="control-label" for="details">Details: <br>Prohibited items, etc.</label>
        <div class="controls">
            <textarea class="span4" name="details" rows="4">{{details}}</textarea>
        </div>
    </div>
    <input type="hidden" id="hidesub" value="0">
    <input type="hidden" id="hidert" value="{{rt}}">
    <input type="hidden" id="hidepost" value="{{newpost}}">
    <input type="hidden" id="hidecap" value="{{capacity}}">
    <input type='hidden' name="startlat" id="startlat">
    <input type='hidden' name="startlon" id="startlon">
    <input type='hidden' name="startstr" id="startstr">
    <input type='hidden' name="destlat" id="destlat">
    <input type='hidden' name="destlon" id="destlon">
    <input type='hidden' name="deststr" id="deststr">
    <div class='row-fluid'>
      <div class='span2 offset3'>
	<button type="submit" class="button secondary" id='submit_btn'>Submit</button>
    <button type="submit" class="button secondary" id='subscribe_btn'>Subscribe</button>
      </div>
      <div class='span4'>
         <label class="checkbox inline">
           <input type="checkbox" id="fbshare" name='fbshare' value='1' checked> Share on Facebook
         </label>
       </div>
    </div>
</form>
</div>
</div>
 <script>
$(document).ready(function(){
    $('button#adddest_btn').click(function(event) {
        event.preventDefault();
    });
});

  $(function() {
    $('.navicoroutes').addClass('onbutton');

    if (Modernizr.touch && Modernizr.inputtypes.date) {
        document.getElementById('startdate').type = 'date';
        document.getElementById('enddate').type = 'date';
    } else {
    $( "#startdate" ).datepicker({
      minDate: 0,
      maxDate: "+1Y",
      changeMonth: true,
      onClose: function( selectedDate ) {
        $( "#enddate" ).datepicker( "option", "minDate", selectedDate, "maxDate", "+1Y" );
      }
    });
    $( "#enddate" ).datepicker({
      minDate: 0,
      maxDate: "+1Y",
      changeMonth: true,
      onClose: function( selectedDate ) {
        $( "#startdate" ).datepicker( "option", "maxDate", selectedDate, "minDate", "+1d" );
      }
    });
    }
    $('.disabled').click(function(event) {
        event.preventDefault();
        });
  });

$(document).ready(function(){
    //fill in some info

    var capacity = $('input#hidecap').val();
    if (capacity != '') {
        var c = parseInt(capacity);
        $('input[name=vcap]').get(c).setAttribute('checked',true);
    }
    var rt = $('input#hidert').val();
    if (rt != '') {
        $('input[name=rtr]').attr('checked',false);
        $('input[name=rtr]').get(parseInt(rt)).setAttribute('checked',true);
    }
    $('#submit_btn').hide();
    var postsub = $('input#hidepost').val();
    if (postsub == '1') {
        /* display post new route */
        $('#tab-post').removeClass('fade').addClass('active');
        $('#tab-sub').removeClass('active').addClass('fade');
        $('#submit_btn').show();
        $('#subscribe_btn').hide();
        //returnLabel();
    }

    //add some validation
    var v = [[0],[0]];
    click_ajax('#submit_btn',['map0','map1'],['substart','subdest'],v,'#route_form',true, true);
    $('#subscribe_btn').click(function(event) {
      $('#subscribe_btn').attr('disabled', 'disabled');
      $('#subscribe_btn').addClass('wait');
      event.preventDefault();    
        loggedIn = checkLoginStatus();
        if (!loggedIn) {
          loginPlease();
          $(btn_id).removeAttr('disabled');
          $(btn_id).removeClass('wait');          
          return;
        }
        formData = $('#route_form').serializeObject();
        submitCallback(JSON.stringify(formData), '/route/subscribe');
    });
    click_redirect('#postreq_btn','/request');
    $("#tab0").click(function(){
      $("#hidepost").val(0);
      $('#submit_btn').hide();
      $('#subscribe_btn').show();
      //returnLabel();
    });
    $("#tab1").click(function(){
      $("#hidepost").val(1);
      $('#submit_btn').show();
      $('#subscribe_btn').hide();
      //returnLabel();
    });
    /* $("#rtRadios").click(function() {
        rr = $("input[name=repeatr]:checked").val();
        if (rr == "2" ) {
            returnLabel();
        }
    });*/
});

function returnLabel() {
    sp = $("#hidepost").val();
    if (sp == "1")
        $('label#endlbl').html('Arrival Date:');
    else
        $('label#endlbl').html('Watch Until:');
}
  </script>
  <script type="text/javascript" src="/static/js/validation.js"></script>
  <script type="text/javascript">
function submitCallback(data, formURL) {
  $.ajax({
    type: "POST",
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    url: formURL,
    data: data,
    success: function(response) {
      console.log(response);
      //should just redirect
      if (response.status =='ok')
        window.location.href=response.next;
      else if (response.status =='invalid')
        display_modal("#invalid-route");
      $('#submit_btn').removeAttr('disabled');
      $('#submit_btn').removeClass('wait');
    }
  });
}
</script>
{% endblock %}