{% extends "track/base.html" %}
{# Create a Route #}
{% block title%}Create Route{% endblock %}

{% block content %}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
<script src="/static/js/maps/mapsloccreate.js"></script>
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
   
<div class="row">
    <div class="span10 offset1">
 <form enctype="multipart/form-data" method="post" id='route_form' class="form-horizontal">
 
    <div class="control-group">
        <label class="control-label" for="start">Start Address:</label>
        <div class="controls">
          <input class="input" type="text" name="start" id='map0Field' value="Tap to select" disabled>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="dest">Destination:</label>
        <div class="controls">
          <input class="input" type="text" name="dest" id='map1Field' value="Tap to select" disabled>          
        </div>
    </div>
    <div id="map-canvas" style='width:400px;height:300px'></div>
    <div class="control-group">
        <label class="control-label" id='endlbl'>Arrival Date:</label>
        <div class="controls">
          <input type="text" name="delivend" value="{{delivend}}" id="enddate" autocomplete="off">
        </div>
    </div>    

    <input type='hidden' name="startlat" id="startlat">
    <input type='hidden' name="startlon" id="startlon">
    <input type='hidden' name="startstr" id="startstr">
    <input type='hidden' name="destlat" id="destlat">
    <input type='hidden' name="destlon" id="destlon">
    <input type='hidden' name="deststr" id="deststr">        
    <div class='row-fluid'>
      <div class='span2 offset1'>
	<button type="submit" class="btn" id='route_btn' disabled='disabled'>Submit</button>
      </div>
    </div>	
</form>
</div>
</div>
  <script>
$(document).ready(function(){
    $( "#enddate" ).datepicker({
      minDate: 0,
      maxDate: "+1Y",
      changeMonth: true,
      onSelect: function() { validForm(); }
    });   
    $('input').focusout(function() { validForm(); });
    $('input').click(function() { validForm(); });
    $('#route_btn').click(function(event) {
      event.preventDefault();
      loggedIn = checkLoginStatus();
      if (loggedIn) {    
        var ts = Date.now()/1000;
          var tzURL = "https://maps.googleapis.com/maps/api/timezone/json?location=" + $('#destlat').val() + "," + $('#destlon').val() + "&timestamp=" + ts + "&sensor=true";
          console.log(tzURL);
          var TimeZone = "-28800";
          $.ajax({
            type: "GET",
            url: tzURL,
            success: function(response) {
                if (response.status == "OK") {
                    TimeZone = response.rawOffset;
                }
            }
          }).always(function() {          
            data = {};
            data.tzoffset = TimeZone;
            data.startlat = $('#startlat').val();
            data.startlon = $('#startlon').val();
            data.destlat = $('#destlat').val();
            data.destlon = $('#destlon').val();
            data.locstart = $('#startstr').val();
            data.locend = $('#deststr').val();
            data.delivend = $('#enddate').val();
            
            $.ajax({
            type: "POST",
            dataType: "json",  
            contentType: "json",
            data: JSON.stringify(data),
            url: '/track/create',
            success: function(response) {
              console.log(response);
                if (response.status == "ok") {
                  var routekey = response.route.routekey;
                  window.location.replace('/track/share?routekey='+routekey);
                }
              }
            })
          });    
      } else {
        loginPlease();
      }
    });    
});
function validForm() {
    var empty = false;
    $('input').each(function() {
      if ($(this).val() == '') 
        empty = true;
    });
    if (empty) 
      $('#route_btn').attr('disabled', 'disabled'); 
    else { 
      $('#route_btn').removeAttr('disabled'); }
}    


  </script>
{% endblock %}