{% extends "track/base.html" %}
{# Manage Routes #}
{% block title%}Routes{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
   
<p>Tap to view route. Hold to update status. </p>
<table class="table table-condensed manage">
  <tr><th></th><th>Origin</th><th>Destination</th><th colspan='2'>Arrival Date</th></tr>
        {% for r in routes %}
        <tr data-key='{{r.routekey}}' data-url='{{r.post_url}}' class='route'><td>
            {% if r.statusint ==0 %}
            <img src='/static/img/icons/btn_active.png'>
            {% elif r.statusint==1 %}
            <img src='/static/img/icons/btn_inactive.png'>
            {% elif r.statusint==2 %}
            <img src='/static/img/icons/btn_wait.png'>
            {% endif %}
        </td><td>
          {{ r.locstart }}
        </td><td>
          {{ r.locend }}
        </td><td>
          {{ r.delivend }}
        </td><td>
          <button class='delete_btn'><img src='/static/img/icons/trash.png'>
        </td></tr>
        {% endfor %}
  <tr><th colspan='5'>Completed</th></tr>
        {% for r in completed %}
        <tr data-key='{{r.routekey}}' onclick="document.location.href ='{{r.post_url}}';"><td>
        </td><td>
          {{ r.locstart }}
        </td><td>
          {{ r.locend }}
        </td><td>
          {{ r.delivend }}
        </td><td>
          <button class='delete_btn'><img id='trash_img' src='/static/img/icons/trash.png'></button>
        </td></tr>
        {% endfor %}  
</table>
  <script>
$(document).ready(function(){
    $('.delete_btn').click(function(event) {
      event.preventDefault();
      loggedIn = checkLoginStatus();      
      if (loggedIn) {    
        var row = $(this).parents('tr');
        var routekey = $(this).parents('tr').attr('data-key');
        data={};
        data.status=0;
        data.routekey=routekey;
        $.ajax({
            type: "POST",
            dataType: "json",  
            contentType: "json",
            data: JSON.stringify(data),
            url: '/track/status',
            success: function(response) {
                if (response.status == "ok") {
                  console.log(row);
                  row.hide();
                } else 
                  alert(response.status);
            }
          });    
      } else {
        loginPlease();
      }
    });    
  var tapTime = 0;
  $('tr.route').bind('vmousedown vmouseup', function (event) {
    console.log(event);
    if(event.target == $('.delete_btn')[0] || event.target == $('.delete_btn'))
        return
    if(event.target == $('#trash_img')[0] || event.target == $('#trash_img'))
        return
    if (event.type == 'vmousedown') {
      tapTime = new Date().getTime();
    } else {
        var duration = (new Date().getTime() - tapTime);
        if (duration > 800) {
            //this is a tap-hold
          var key = $(this).attr('data-key');
          var td = $(this).children(":first");
          loggedIn = checkLoginStatus();      
          if (loggedIn) {    
            data={};
            data.status=1;
            data.routekey=key;
            $.ajax({
                type: "POST",
                dataType: "json",  
                contentType: "json",
                data: JSON.stringify(data),
                url: '/track/status',
                success: function(response) {                  
                    if (response.status == "ok") {
                      if (response.newstat == 0) {
                         td.html('<img src="/static/img/icons/btn_active.png">');
                      } else if (response.newstat == 1) {
                         td.html('<img src="/static/img/icons/btn_inactive.png">');
                      } else if (response.newstat == 2) {
                         td.html('<img src="/static/img/icons/btn_wait.png">');
                      }
                    } else 
                      alert(response.status);
                }
              });    
          } else {
            loginPlease();
          }          
        } else { 
          var url = '/track/mobile/' + $(this).attr('data-key');
          window.location.href=url;
        }
    }
  });    
});

  </script>
{% endblock %}