{% extends "track/base.html" %}
{# Update en Route #}
{% block title%}Track Drive{% endblock %}

{% block content %}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
<script src="/static/js/maps/mapslocupdate.js"></script>
<link rel="stylesheet" href="/static/css/jquery-ui.css" />

 <div id="map-canvas" style='width:400px;height:300px'></div>
<div class="row"><div id='addrText'></div></div>   
<div class="row">
    <div class="span10 offset1">
 <form enctype="multipart/form-data" method="post" id='route_form' class="form-inline">
    <div id='autoSub0' class="control-group">
        <label class="checkbox inline">
           <input type="checkbox" id="auto" value='1'> Auto submit every
        </label>
        <input type="number" id="timeup" onkeyup="validate_rate()" min="1" class="input-small" value="1"> minutes
    </div>
    <div id='autoSub1' class="control-group">
        Updating every <span id='timemin'></span> minutes 
        <button class="btn btn-small" id='cancel_btn'>Cancel</button>
    </div>
    <div class="control-group">
      <label class="control-label">Add Message:</label>
      <input type="text" name="msg" value="{{delivend}}" id="msg" class="input-large">
    </div>    

    <input type='hidden' name="startlat" id="startlat">
    <input type='hidden' name="startlon" id="startlon">     
    <div class='row-fluid'>
      <div class='span2 offset1'>
	<button type="submit" class="btn" id='update_btn'>Submit</button>
    <button class="btn" id='end_btn'>End Drive</button>
      </div>
    </div>	
</form>
</div>
</div>
  <script>
$(document).ready(function(){
    $('#autoSub1').hide();
    $('#update_btn').click(function(event) {
      event.preventDefault();
      loggedIn = checkLoginStatus();
      if (loggedIn) {    
        if(navigator.geolocation) {
          var auto = $("input#auto:checked").val();
          if (typeof auto!='undefined') {
            var timemins = $("input#timeup").val();
            var timeout = parseInt(timemins)*60000;
            autoInt = setInterval(updatePos, timeout);
            $('#autoSub0').hide();
            $('#autoSub1').show();
            $('#timemin').html(timemins);
          } else
            updatePos();
        } else
          handleNoGeolocation(false);
      } else {
        loginPlease();
      }
    });    
    $('#cancel_btn').click(function(event) {
        event.preventDefault();
        $('#autoSub1').hide();
        $('#autoSub0').show(); 
        window.clearInterval(autoInt);
    });
    $('#end_btn').click(function(event) {
        event.preventDefault();
        endDriveModal();
    });    
});
 </script>
 <script>
 function endDriveModal(){
    delete_form = '<br><button id="cancel" type="button" class="btn btn-small btn-inverse">Cancel</button> &nbsp;<button id="confirm" type="button" class="btn btn-small btn-inverse">Confirm</button> &nbsp;<button id="justend" type="button" class="btn btn-small btn-inverse">No, Just End</button>';
    $('body').append('<div id="confirm" class="modal hide fade in" style="display: none; "><div class="modal-body"><h4>Do you want to confirm your arrival?</h4>' + delete_form + '</div></div>');
    
    $('#confirm').modal();
    $('#cancel').on('click', function(){
      $('#confirm').modal('hide');
    });
    $('#confirm').on('click', function(){
      // go to confirmation page
      window.location.replace('/track/confirm');
    });
    $('#justend').on('click', function(){
      // go to management page with all routes inactive
      window.location.replace('/track/manage');
    });
}

 </script>
{% endblock %}