/** stuff for driver selection **/
form {
    padding: 0px;
    margin: 0;
}
.selected {
    color: #000;
    border: 1px solid red;
    background: #eee;
}
.pricetag {
    font: 2.0em/2.0em 'Arial', sans-serif;
    display:inline; 
    text-align:right;
    color: #999;
}
@media (max-width: 1200px) and (min-width:784px) {
    .friendsplus {
        color:#fff;
    }
}
.dumpfriends {
    height: 60px;
    overflow: hidden;
}
.insured {
    height: 40px;
}