* { margin: 0; padding: 0; outline: 0 }

.main {
    font: 1.0em/1.6em 'Open Sans', sans-serif;
	color: #555; 
    margin: 0 auto;
    max-width:1000px;
}
.densetxt {
    font: 1.2em/1.6em 'Open Sans', sans-serif;
}
.heading {
    background: rgba(70,70,70,0.04);
    border-top: 1px solid #dad2d2;
    border-bottom: 1px solid #dad2d2;
    padding: 10px;
    padding-left: 20px;
}
.heading h3 {
    display: inline;
}
.tiny {
    font: 0.8em/1.0em sans-serif;
}
.caption {
    font: 0.8em/1.2em 'Open Sans', sans-serif;
}
.clicky
{
    cursor:pointer;
}
.dropshadow {	
    background: rgba(70,70,70,0.01);
	-moz-box-shadow: 1px 1px 6px -3px;
	-webkit-box-shadow: 1px 1px 6px -3px;
	box-shadow: 1px 1px 6px -3px;
}
.plabel {
    font: 1.1em/1.2em 'Open Sans', sans-serif;
	color: #333; 
    display: inline;
	font-weight: 600;
}
.capacity img {
    height: 30px;
    display: inline;
    vertical-align: middle;
}
.sizechart {
    vertical-align: middle;
    height:30px;
    text-align: center;
}
.driverinfo {
    font: 0.95em/1.2em 'Open Sans', sans-serif;
    padding-bottom: 10px;
}
.drivernum {
    float: left;
    font: 1.3em 'Open Sans', sans-serif;
    color: #5973b9;
    padding-right: 8px;
}
.driverlabel {
    font: 0.95em/1.5em 'Open Sans', sans-serif;
    padding-left: 8px;
}
.question {
    cursor: pointer;
    color: #5973b9;
}
.answer {
    font: 0.95em/1.5em 'Open Sans', sans-serif;
    padding: 10px;
    color: #999
}
.unread {
    color: #5973b9;
    font-weight: bold;  
}

#map-canvas img{max-width: inherit;}
.homemap {
  height: 400px;
  width: 100%;  
}
.routemap {
  height: 300px;
  width: 100%;    
}
/* nav buttons */
.navicoreqs {
    border: 0;
    background:url('/static/img/icoreqs.png') 0 0 no-repeat;
    height: 50px;
    width: 34px;
    cursor:pointer;
}
.navicosearch {
    border: 0;
    background:url('/static/img/icosearch.png') 0 0 no-repeat;
    height: 50px;
    width: 37px;
    cursor:pointer;
}
.navicoroutes {
    border: 0;
    background:url('/static/img/icoroutes.png') 0 0 no-repeat;
    height: 50px;
    width: 35px;
    cursor:pointer;
}
.navicoaccount {
    border: 0;
    background:url('/static/img/icoaccount.png') 0 0 no-repeat;
    height: 50px;
    width: 40px;
    cursor:pointer;
}

button:hover {
    background-position: 0 -48px;
}
button:active, .onbutton{
    background-position: 0 -96px;
}
.reviews img{
    padding-bottom:4px;
    padding-right: 20px
}
/* for form validation */
.notvalid input:focus { 
    outline:none;
    border-color:#ff0000;
    box-shadow:0 0 10px #ff0000;
}
.error {
	color: #B80000;
}
.errorsm {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
    color: #B80000;
}
#img-prev img{
    max-height:100px;
    max-width:100px;
    display: inline;
}
/* div classes */
.notif {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #F2FFE1;
    padding-left: 40px;
    border-bottom: 1px solid #ccc
}
.contentpad10 {
    padding: 10px;
    }
.contentpad20 {
    padding: 20px;
    }    
.contentcenter {
    padding: 10px;
    margin-left:20%;
    margin-right:20%;
    }
.blog {
    padding: 10px;
    margin-left:15%;
    margin-right:15%;
    }
.blog p{
    margin-bottom:20px;
}
#navbar {
    text-transform: uppercase;
	font-size: 0.85em;
    line-height: 1.5em;
    white-space:nowrap;
    text-align:center;
    padding-left:20px;
    max-width:1000px;
    margin: auto;
}
.bottom hr {
    height: 1px;
    border:none;
    background: -webkit-gradient( 
                linear, 
                0 0, 
                100% 0,  
                from(rgba(50,50,50,0.01)),
                to(rgba(80,80,80,0.01)), 
                color-stop(.5,#c9c9c9)
                );
    background: -moz-linear-gradient(
                left,
                rgba(0,0,0,0.001) 0%,
                rgba(201,201,201,1) 50%,
                rgba(0,0,0,0.001) 100%
                );    
    background:-ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:-o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);    
    box-shadow: 0px -7px 13px 1px #dad2d2;
    -moz-box-shadow: 0px -7px 13px 1px #dad2d2;
    -webkit-box-shadow: 0px -7px 13px 1px #dad2d2;
}


#footer hr {
    height: 1px;
    border:none;
    background: -webkit-gradient( 
                linear, 
                0 0, 
                100% 0,  
                from(rgba(50,50,50,0.01)),
                to(rgba(80,80,80,0.01)), 
                color-stop(.5,#c9c9c9)
                );
    background: -moz-linear-gradient(
                left,
                rgba(0,0,0,0.001) 0%,
                rgba(201,201,201,1) 50%,
                rgba(0,0,0,0.001) 100%
                );    
    background:-ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:-o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);    
    box-shadow: 0px 7px 13px 1px #dad2d2;
    -moz-box-shadow: 0px 7px 13px 1px #dad2d2;
    -webkit-box-shadow: 0px 7px 13px 1px #dad2d2;
}
.footertop a{
    border:0;
    text-transform: uppercase;
    text-decoration: None;
	font-size: 0.9em;
    line-height: 200%;
    white-space:nowrap;
    text-align:center;
    color: #5973b9;
}
.footerbot{
    color: #aaa;
    text-transform: uppercase;
    font-size: 0.85em;
}
.footerbot a{
    line-height: 200%;
    font-size: 0.85em;
    color: #aaa; 
}

#comments {
    padding: 20px;
    max-height: 360px;
}

/* Mask for background, by default is not display */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

.modal-popup{
	display: none;
	background: #ddd;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
}
.table-mini {
    font: 0.9em/1.2em 'Open Sans', sans-serif;
}
.signin{
    margin: auto;
    font-size: 1.0em;
}
.dumpsm{
    font: 0.9em/1.2em 'Open Sans', sans-serif;
}
.dumpsm img {
    width: 80px;
    height: 80px;
}
.xsm {
    font: 0.8em/1.0em 'Open Sans', sans-serif;
}
/* Ratings */
.rating>span {vertical-align:top;}
.rating-starsOff, .rating-starsOn {display:inline-block; height:19px; background:url(/static/img/faces.png) repeat-x 0 0px;}
.rating-starsOn {display:block; max-width:95px; font-size: 0; top:0; background-position: 0 -38px;}
.rating-starsHover {background-position: 0 -19px!important;}

.post_content {
    margin-left:10px;
    width:100%;
    clear:both;
    padding: 10px;
    font: 1.05em/1.5em 'Times New Roman', serif;
}
.post_title{
    margin-left:10px;
    font: 1.4em/1.6em 'Times New Roman', serif;
    font-weight: bold;
    vertical-align:top;
    float:left;
}
.post_author{
    float:right;
    text-align:right;
    white-space: nowrap
}
.post_content p { margin-top: 1.5em; }

.radio img{
    height: 30px;
    width: auto;
}
.icons img {
    max-height: 30px;
    display: inline;
}
.icons-fb {
  background-image: url('/static/img/icons/fb.png');
  background-repeat: no-repeat;
  background-position:  center;
  background-size: 100%;
  width: 18px;
  height: 18px;
}

.arial  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
#prof_thumb {
  width: 70px;
  height: 70px; 
  float:right;
  border:0;
}
.profpic {
  max-width: 200px;
}