* { margin: 0; padding: 0; outline: 0; -webkit-box-sizing: border-box; 
-moz-box-sizing: border-box; box-sizing: border-box;}
.main {
    font: 1.0em/1.6em 'Open Sans', sans-serif;
	color: #555; 
    margin: 0 auto;
    max-width:1000px;
}
.header-bg {background: #f8f8f8; padding-top: 20px; }
.densetxt {
    font: 1.2em/1.6em 'Open Sans', sans-serif;
}
.heading {
    background: rgba(70,70,70,0.04);
    border-top: 1px solid #dad2d2;
    border-bottom: 1px solid #dad2d2;
    padding: 10px;
    padding-left: 20px;
}
.user_head {
    position:absolute;
    right:5px;
}
.user_head td{padding:4px 5px;}
.support {
  background: #eaeaea url(/static/landing/images/patterns/gray_pattern.gif);
  padding: 10px;
}
.heading h3 {
    display: inline;
}
.tiny {
    font: 0.8em/1.0em sans-serif;
}
.caption {
    font: 0.8em/1.2em 'Open Sans', sans-serif;
}
.clicky
{
    cursor:pointer;
}
.dropshadow {	
    background: rgba(70,70,70,0.01);
	-moz-box-shadow: 1px 1px 6px -3px;
	-webkit-box-shadow: 1px 1px 6px -3px;
	box-shadow: 1px 1px 6px -3px;
}
.plabel {
    font: 1.1em/1.2em 'Open Sans', sans-serif;
	color: #333; 
    display: inline;
	font-weight: 600;
}
.capacity img {
    height: 30px;
    display: inline;
    vertical-align: middle;
}
.sizechart {
    vertical-align: middle;
    height:30px;
    text-align: center;
}
.driverinfo {
    font: 0.95em/1.2em 'Open Sans', sans-serif;
    padding-bottom: 10px;
}
.drivernum {
    float: left;
    font: 1.3em 'Open Sans', sans-serif;
    color: #2699ae;
    padding-right: 8px;
}
.driverlabel {
    font: 0.95em/1.5em 'Open Sans', sans-serif;
    padding-left: 8px;
}
.question {
    cursor: pointer;
    color: #2699ae;
}
.answer {
    font: 0.95em/1.5em 'Open Sans', sans-serif;
    padding: 10px;
    color: #999
}
.unread {
    color: #2699ae;
    font-weight: bold;  
}

#map-canvas img{max-width: inherit;}
.homemap {
  height: 400px;
  width: 100%;  
}
.routemap {
  min-height: 300px;
  width: 100%;    
}
.reqmap {
  min-height: 250px;
  width: 95%;    
}
/* nav buttons */
.navicoreqs {
    border: 0;
    background:url('/static/img/icoreqs.png') 0 0 no-repeat;
    height: 50px;
    width: 34px;
    cursor:pointer;
}
.navicosearch {
    border: 0;
    background:url('/static/img/icosearch.png') 0 0 no-repeat;
    height: 50px;
    width: 37px;
    cursor:pointer;
}
.navicoroutes {
    border: 0;
    background:url('/static/img/icoroutes.png') 0 0 no-repeat;
    height: 50px;
    width: 35px;
    cursor:pointer;
}
.navicoaccount {
    border: 0;
    background:url('/static/img/icoaccount.png') 0 0 no-repeat;
    height: 50px;
    width: 40px;
    cursor:pointer;
}

button:hover {
    background-position: 0 -48px;
}
button:active, .onbutton{
    background-position: 0 -96px;
}
.reviews img{
    padding-bottom:4px;
    padding-right: 20px
}
/* for form validation */
.notvalid input:focus { 
    outline:none;
    border-color:#ff0000;
    box-shadow:0 0 10px #ff0000;
}
.error {
	color: #B80000;
}
.errorsm {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
    color: #B80000;
}
#img-prev img{
    max-height:100px;
    max-width:100px;
    display: inline;
}
/* div classes */
.notif {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #F2FFE1;
    padding-left: 40px;
    border-bottom: 1px solid #ccc
}
.contentpad10 {
    padding: 10px;
    }
.contentpad20 {
    padding: 20px;
    }    
.contentcenter {
    padding: 10px;
    margin-left:20%;
    margin-right:20%;
    }
.blog {
    padding: 10px;
    margin-left:15%;
    margin-right:15%;
    }
.blog p{
    margin-bottom:20px;
}
#navbar {
    text-transform: uppercase;
	font-size: 0.85em;
    line-height: 1.5em;
    white-space:nowrap;
    text-align:center;
    max-width:1000px;
    margin: auto;
}
#navhead {
  background: #f8f8f8;
}
#logo {
-webkit-transition: all .1s ease-in;
-moz-transition: all .1s ease-in;
-o-transition: all .1s ease-in;
-ms-transition: all .1s ease-in;
transition: all .1s ease-in;
background-size: 100% 100%;
background-repeat: no-repeat;
margin-left: 0;
margin-top: 0;
padding: 0;
position: absolute;
}
.flatlogo{
  background-image: url('/static/img/barnaclelogo_sm.png');  
  height: 56px;
  width: 200px;
}
.toplogo {
  background-image: url('/static/img/barnaclelogo_sq.png');
  height: 135px;
  width: 135px;
}
.bottom hr {
    height: 1px;
    border:none;
    background: -webkit-gradient( 
                linear, 
                0 0, 
                100% 0,  
                from(rgba(50,50,50,0.01)),
                to(rgba(80,80,80,0.01)), 
                color-stop(.5,#c9c9c9)
                );
    background: -moz-linear-gradient(
                left,
                rgba(0,0,0,0.001) 0%,
                rgba(201,201,201,1) 50%,
                rgba(0,0,0,0.001) 100%
                );    
    background:-ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:-o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);    
    box-shadow: 0px -7px 13px 1px #dad2d2;
    -moz-box-shadow: 0px -7px 13px 1px #dad2d2;
    -webkit-box-shadow: 0px -7px 13px 1px #dad2d2;
}



.footertop a{
    border:0;
    text-transform: uppercase;
    text-decoration: None;
	font-size: 0.9em;
    line-height: 200%;
    white-space:nowrap;
    text-align:center;
    color: #2699ae;
}
.footerbot{
    color: #aaa;
    text-transform: uppercase;
    font-size: 0.85em;
}
.footerbot a{
    line-height: 200%;
    font-size: 0.85em;
    color: #aaa; 
}

#comments {
    padding: 20px;
    max-height: 360px;
}

/* Mask for background, by default is not display */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

.table-mini {
    font: 0.9em/1.2em 'Open Sans', sans-serif;
}
.signin{
    margin: auto;
    font-size: 1.0em;
}
.dumpsm{
    font: 0.9em/1.2em 'Open Sans', sans-serif;    
    padding-bottom: 10px;
}
.dumpsm img {
    max-width: 70px;
    max-height: 70px;
    padding: 5px;
}
.xsm {
    font: 0.8em/1.0em 'Open Sans', sans-serif;
}
/* Ratings */
.rating>span {vertical-align:top;}
.rating-starsOff, .rating-starsOn {display:inline-block; height:19px; background:url(/static/img/faces.png) repeat-x 0 0px;}
.rating-starsOn {display:block; max-width:95px; font-size: 0; top:0; background-position: 0 -38px;}
.rating-starsHover {background-position: 0 -19px!important;}

.post_content {
    margin-left:10px;
    width:100%;
    clear:both;
    padding: 10px;
    font: 1.05em/1.5em 'Times New Roman', serif;
}
.post_title{
    margin-left:10px;
    font: 1.4em/1.6em 'Times New Roman', serif;
    font-weight: bold;
    vertical-align:top;
    float:left;
}
.post_author{
    float:right;
    text-align:right;
    white-space: nowrap
}
.post_content p { margin-top: 1.5em; }

.radio img{
    height: 30px;
    width: auto;
}
.icons img {
    max-height: 30px;
    display: inline;
}
.icons-fb {
  background-image: url('/static/img/icons/fb.png');
  background-repeat: no-repeat;
  background-position:  center;
  background-size: 100%;
  width: 18px;
  height: 18px;
}

.arial  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
#prof_thumb {
  width: 70px;
  height: 70px; 
  float:right;
  border:0;
}
.profpic {
  max-width: 200px;
}
.back_img {
    background: url('/static/img/back_idaho.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.splash_img {
    background: url('/static/img/back_101.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.whiteh1 {
  color: #fff;
  -webkit-transition: text-shadow 0.75s ease-in-out;
  transition: text-shadow 0.75s ease-in-out;
  text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}
.heroh1 {
  margin-top: 20%;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 600;
  text-shadow: rgb(0, 0, 0) 0px 0px 40px;
}
.wash {
  background: url('/static/img/back_wash.png') repeat-x;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;  
}
.hero_container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 0px;
}
.hero_fg {
    position: relative;
    z-index: 2;
    padding: 10px;
}
.hero_bg {
    -webkit-backface-visibility: hidden;
    z-index: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

button.wait {
    color: transparent !important;
    border: 0 !important;
    background: url('/static/img/icons/loader.gif') no-repeat scroll 0 0 transparent !important;
    height: 26px;
    cursor: wait !important;
}
.ship-item {
    border: 0;
    width: 100%;
    cursor:pointer;
    height:100px; 
    z-index: 0;
    position: absolute; 
    margin:10px;    
}

.item-bg {
    background: rgba(0, 0, 0, 0.68); 
    position: relative;
    z-index: 1;
    text-align:center;
    height: 120px;
    padding-top:60px;
    cursor:pointer;
}
.item-bg:hover {
    background: rgba(104, 104, 104, 0.68); 
    position: relative;
    z-index: 2;
    text-align:center;
    height: 120px;
    padding-top:60px;    
    cursor:pointer;
}
.item-bg.selected {
  background: rgba(104, 104, 104, 0.68); 
  -webkit-transition: all .1s ease-in;
-moz-transition: all .1s ease-in;
-o-transition: all .1s ease-in;
-ms-transition: all .1s ease-in;
transition: all .1s ease-in;
}
.v-cat {
    background:url('/static/img/icons/v-cat.gif') 50% 50% no-repeat;
    background-size: contain;
}
.v-bike {
    background:url('/static/img/icons/v-bike.gif') 50% 50% no-repeat;
    background-size: contain;
}
.v-house {
    background:url('/static/img/icons/v-house.gif') 50% 50% no-repeat;
    background-size: contain;
}
.v-guitar {
    background:url('/static/img/icons/v-guitar.gif') 50% 50% no-repeat;
    background-size: contain;
}
.v-gift {
    background:url('/static/img/icons/v-gift.gif') 50% 50% no-repeat;
    background-size: contain;
}
.v-car {
    background:url('/static/img/icons/v-car.gif') 50% 50% no-repeat;
    background-size: contain;
}
.driveroverlay {
  position: absolute;
  z-index: 2;
}
.driveroverlay img {
  height:32px;
}

.mosaic table {
  background: rgba(23, 23, 23, 0.72); 
  margin: 4px;
  border-spacing: 4px;
  width:100%;
}
.mosaic table:hover {
    background: rgba(104, 104, 104, 0.68); 
    cursor:pointer;
}
.mosaic td {
  padding: 4px;
  vertical-align: top;
  overflow: hidden;
}
.mosaic .capacity img{
  height: 16px;
  float:right;
}
.mosaic p {
  font-size:21px;
  font-weight:200;
  margin: 0;  
  color: #fff;
}
.greyback {
    margin: 10px;
    padding: 10px;
	background: #eee;
    color: #000;}
.insured img {
    max-height: 32px;
}
/* -----------------------------------------
   08. Footer
----------------------------------------- */

#footer { background: #171717 url(/static/landing/images/patterns/black_pattern.gif); padding-top: 40px; padding-bottom: 40px; }
#footer h5 { color: #777; margin-bottom: 20px; }
#footer hr { border: solid #333; border-width: 1px 0 0; }
#footer .section { margin-bottom: 10px; }
#footer p{ font-family: inherit; font-size: 13px; line-height: 1.4; margin-bottom: 17px;}
/*** Social Icons ***/
.footer-social-icons a { color: #777; float: left; display: inline-block; margin-right: 5px; }
.footer-social-icons a:hover { color: #5cabb8; }
.footer-social-icons a:focus { color: #5cabb8; }

/*** Twitter Feed ***/
.twitter-article {}
.twitter-text {}
.tweetprofilelink { margin-right: 5px; }
.tweet-time a { padding: 1px 4px 2px; font-size: 11px; text-align: center; text-decoration: none; line-height: 1; white-space: nowrap; display: inline; position: relative; bottom: 1px; color: #9a9a9a; background: #333;
		-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }


/*** Newsletter Form ***/
#result { font-weight: bold; }
#support { background: #eaeaea url(/static/landing/images/patterns/gray_pattern.gif); padding-top: 40px; padding-bottom: 20px; border-top: 10px solid #fafafa; }
#newsletter-form #result {}
.page { /*border: 1px solid #ddd; */background: #fff; box-shadow: 0 0 3px rgba(153, 153, 153, 0.1); max-width: 1170px; min-width: 300px; margin: 0 auto; }
.boxed-style {}
.wide-style { background: #fff;  margin: 0; max-width: none; }