h2 {    font: 2.4em/1.0em 'Sacramento','Open Sans', sans-serif;}
h4 {    font: 1.5em/1.6em 'Open Sans', sans-serif;}
p {
    text-align: left;
}
.formbot{ font: 0.9em/0.9em 'Arial', san-serif;}
.signup {
	text-decoration: none;
    border-radius: 4px;
    border: 1px solid #999;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    background: #fff;
}
.applyl {
    padding: 10px;
    line-height: 100%;
    font: 0.9em/1.3em 'Arial', sans-serif;    
    height: 100%;
}
.applyl img {
    width: 220px;
}
.applylr {
    line-height: 100%;
    font: 0.9em/1.3em 'Arial', sans-serif; 
}
.applylr img {
    height: 120px;
}
.applycap{
    font: 0.6em/1.1em 'Arial', sans-serif;    
    text-transform: uppercase
}
.applyr {
    border-radius: 0 4px 0 4px;
    border-left: 1px solid #555;
    height: 100%;
	background: #fff;    
}
.greyback {
	background: #eee;
	background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#fff));
	background: -moz-linear-gradient(bottom, #ddd, #fff);
   	background: -ms-linear-gradient(bottom, #ddd, #fff);
   	background: -o-linear-gradient(bottom, #ddd, #fff);
    width:100%;    
}
.splash_html {
background: url('/static/img/back_ql.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.apply {
width:100%;
background: transparent;
}
.centerf { text-align: center; }
.splash {
text-align: center;
width:100%;
background: transparent;
}

.splashbot {
    position:fixed;
    bottom:0;
    color: #333;
    text-transform: uppercase;
    text-decoration: None;
	font-size: 0.85em;
    line-height: 200%;
    white-space:nowrap;
    text-align:center;
    margin: auto;
}
.splashbot a{
    color: #333;
  }
.splashbot a:hover{
    text-decoration: None;
    color: #D0D7EA;
  }
@media (max-width: 767px) {
.apply-logo {
        max-width: 400px;
    }
    .hidden-tiny {
        display: None !important;
    }    
}
@media (max-width: 480px) {  
    .span12-phone {
        width: 91.48936170212765% !important;
        *width: 91.43617021276594% !important;
    }
    .apply-logo {
        max-width: 300px;
    }
}
.splashimg {
    width: 90%;
}
@media (max-width: 767px) {
    .splashimg {
        width: 40% !important;
        *width: 40% !important;
        }
}
@media (max-width: 480px) {
    .splashimg {
        width: 80% !important;
        *width: 80% !important;
        }
}