h2 {    font: 2.4em/1.0em 'Sacramento','Open Sans', sans-serif;}
h4 {    font: 1.5em/1.6em 'Open Sans', sans-serif;}

.splash_html {
background: url('/static/img/splash_back.png') no-repeat center center fixed;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.splash {
width:100%;
background: transparent;
}

.tiny {
    font: 0.8em/1.0em sans-serif;
}

.clicky
{
    cursor:pointer;
}
.dropshadow {	
    background: rgba(70,70,70,0.01);
	-moz-box-shadow: 1px 1px 6px -3px;
	-webkit-box-shadow: 1px 1px 6px -3px;
	box-shadow: 1px 1px 6px -3px;
}

#map-canvas img{max-width: inherit;}
.homemap {
  height: 400px;
  width: 100%;  
}
.routemap {
  height: 300px;
  width: 100%;    
}

/* for form validation */
.notvalid input:focus { 
    outline:none;
    border-color:#ff0000;
    box-shadow:0 0 10px #ff0000;
}
.error {
	color: #B80000;
}
.errorsm {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
    color: #B80000;
}
/* div classes */
.notif {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #F2FFE1;
    padding-left: 40px;
    border-bottom: 1px solid #ccc
}
.contentpad10 {
    padding: 10px;
    }
.contentpad20 {
    padding: 20px;
    }    
.contentcenter {
    padding: 10px;
    margin-left:20%;
    margin-right:20%;
    }


/* Mask for background, by default is not display */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

.modal-popup{
	display: none;
	background: #ddd;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
}
.table-mini {
    font: 0.9em/1.2em 'Open Sans', sans-serif;
}
.signin{
    margin: auto;
    font-size: 1.0em;
}

.btn-main{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 12px 22px;
	background: -moz-linear-gradient(
		top,
		#a6a8bf 0%,
		#003366);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a6a8bf),
		to(#003366));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #003366;
	-moz-box-shadow:
		0px 0px 3px rgba(000,000,000,0.5),
		inset 1px 1px 1px rgba(23,19,77,0.2);
	-webkit-box-shadow:
		0px 0px 3px rgba(000,000,000,0.5),
		inset 1px 1px 1px rgba(23,19,77,0.2);
	box-shadow:
		0px 0px 3px rgba(000,000,000,0.5),
		inset 1px 1px 1px rgba(23,19,77,0.2);
	text-shadow:
		2px 2px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}
.manage {
  font: 0.9em/1.0em sans-serif;
}
.manage img {
    max-width: 18px;
    max-height: 18px;
}