<link rel="stylesheet" href="/static/landing/styles/transition.css">

<div class="form-header">
<p class="lead text-resize">Give your deliveries a ride with our nationwide network of commuters.</p>
</div>
<form action="/post/request0" method="post" class="custom form-search"  id='request_form'>
    <div class="control-group">
      <label class="control-label">Origin:</label>
      <div class="controls">
        <input class="input input-xlarge" type="text" name="start" id='map0Field' value="{{locstart}}">
      </div>
    </div><!--end row-->
    <div class="control-group">
      <label class="control-label">Destination:</label>
      <div class="controls">
        <input class="input input-xlarge" type="text" name="dest" id='map1Field' value="{{locend}}">
      </div>
    </div><!--end row-->
    <div class="control-group">
      <label class="control-label">Space Needed<span id='size_info'></span>:</label>
      <div class="controls input-xlarge">
        <select  name="vcap" class="expand">
          <option  name="vcap" selected="selected" value="0">Passenger Seat</option>
          <option  name="vcap"  value="1">Trunk</option>
          <option  name="vcap" value="2">Wagon</option>
        </select>
      </div>
    </div><!--end row-->            
    <div class="control-group">
      <label class="control-label">Deliver By:</label>
      <div class="controls">
        <input type="date" name="reqdate" min="{{today}}" value="{{delivby}}" id="reqdate" autocomplete="off">
      </div>
    </div><!--end row-->
    <input type='hidden' name="startlat" id="startlat">
    <input type='hidden' name="startlon" id="startlon">
    <input type='hidden' name="startstr" id="startstr">
    <input type='hidden' name="destlat" id="destlat">
    <input type='hidden' name="destlon" id="destlon">
    <input type='hidden' name="deststr" id="deststr">         
    <input type='hidden' name="items" value="{{items}}">

    <div class="control-group">
      <button id='request_btn' class="button radius"><i class="icon-search"></i> &nbsp;GET A DRIVER</button>
    </div>
</form>

<script type="text/javascript" src="/static/landing/scripts/foundation.min.js"></script>        
<script type="text/javascript" src="/static/landing/scripts/transition.js"></script>
 <script>
  
$(document).ready(function(){
    var v = [[0],[0]];
    click_ajax('#request_btn',['map0','map1'],['start','dest'],v,'#request_form',true, false);
});
  </script>
 <script>
  
$(document).ready(function(){
    /* Give the heading a pretty picture */
    hh = $('.heading').height()+20;
    $('.wash').height(hh);
    $('.hero_container').height(hh);
});
  </script>  
  <script type="text/javascript" src="/static/js/validation.js"></script>
    <script type="text/javascript">
function submitCallback(data, formURL) {
  timestamp = new Date().getTime();
  console.log(timestamp);
  console.log(formURL);
  $.ajax({
    type: "POST",
    dataType: "text",
    accepts: "text/html",
    contentType: "application/json; charset=utf-8",
    url: formURL,
    data: data,
    success: function(response) {
      timestamp = new Date().getTime();
      console.log(timestamp);
      document.open();
      document.write(response);
      document.close(); 
    }
  });
}
</script>