{% extends "email/ebase.html" %}
{% block content %}
<p>
Dear {{first_name}},</p>
<p>
You recently posted a request to ship through Barnacle. To protect our drivers, we require that requests be associated with a valid form of payment. You can add your billing information through your dashboard <a href="https://www.gobarnacle.com/account">here</a>. 
</p><p>
As a reminder, you will not be charged until a driver accepts your request, and the payment will not be released to the driver until you confirm delivery. If you have any questions, please reply directly to this email.
</p>
<p>Thanks for using Barnacle!</p>
{% endblock %}        