{% extends "base.html" %}
{% block title%}{{first_name}}'s Dashboard{% endblock %}
{% block heading %}{% include "user/account/dash_head.html" %}
{% endblock %}
{% block content %}
<div class="row visible-phone">
  <div class="span4 offset1">
  <a href='/signout'><button class="button tiny secondary">Logout</button></a>
  </div>
</div>
<div class="row visible-phone" style='height:10px;'></div>

<div class="row-fluid">
  <div class='span7'>  
  {% include "user/account/route_subscribe.html" %}
  </div>
  <div class='span4'>  
    <div class='support' style='border: 1px solid #333'>
      <h4>Get More Delivery Requests</h4>
      <p>Add a Photo of Your Vehicle
      {% if vehicle_img_ok %}
      <i class="icon-ok"></i>
      {% endif %}
      </p>      
      
      <p>
      {% if ins %}
      You are a Verified Driver 
      <i class="icon-ok"></i>
      {% else %}
      <a href='/apply'>Apply to be a Verified Driver</a>
      <i class="icon-info-sign" id='info_apply' data-toggle="popover" data-content='Your deliveries will be insured and you will have first access to requests.'></i>
      {% endif %}
      </p>
            
      <p><a href='/settings'>Add Bank Account</a>
      {% if driver %}
      <i class="icon-ok"></i>
      {% else %}      
      <i class="icon-info-sign" id='info_bank' data-toggle="popover" data-content='This is how you will be paid for your deliveries.'></i>
      {% endif %}
      </p>
      <p><a href='/pay/cc'>Add a Credit Card</a>
      {% if cc %}
      <i class="icon-ok"></i>
      {% else %}      
      <i class="icon-info-sign" id='info_cc' data-toggle="popover" data-content='Add a payment source to request your own deliveries.'></i>
      {% endif %}
      </p>
    </div>
    <div class="row" style='height:20px;'></div>
    <div class='support row-fluid' style='border: 1px solid #333'>
      <div class='span8'>
        <p class='plabel'><a href='/tracker'>Get the App</a></p>
        <p>Provide senders with real-time tracking information.</p>
        <a href="https://play.google.com/store/apps/details?id=com.gobarnacle"><img width='120px' src='/static/img/icons/play_store.png'></a>
        <br><a href="https://itunes.apple.com/us/app/barnacle-driver-tracker/id797355394?ls=1&mt=8"><img width='120px' src='/static/img/icons/app_store.png'></a><br>
      </div>
      <div class='span4'>
        <img src='/static/img/app.png' style='max-height:150px'>
      </div>
    </div>
    <div class="row" style='height:20px;'></div>
   {% include "user/prof_dash.html" %}

  </div>
</div>
<div class="row-fluid" style='height:20px'></div>
<hr>
<div class="row-fluid">
  <div class="span10 offset1">
  <h4>Need a Delivery?</h4>
{% include "quicksearch.html" %}
  </div>
</div>
<script>
$(function() {
  $('.navicoaccount').addClass('onbutton');
});
    
$(document).ready(function(){
    $('#info_apply').popover({trigger: 'hover'});
    $('#info_bank').popover({trigger: 'hover'});
    $('#info_app').popover({trigger: 'hover'});
    $('#info_cc').popover({trigger: 'hover'});
});
</script>
{% endblock %}