{% extends "base.html" %}
{% block title%}{{first_name}}'s Dashboard{% endblock %}
{% block heading %}{% include "user/account/dash_head.html" %}
{% endblock %}
{% block content %}
<div class="row visible-phone">
  <div class="span4 offset1">
  <a href='/signout'><button class="btn btn-mini">Logout</button></a>
  </div>
</div>
<div class="row visible-phone" style='height:10px;'></div>
{% if cc == False %}
<div class="row">
  <div class="span10">
    <p><span class='text-error'>You have not linked a valid credit card to your account. Please do so <a href='/pay/cc'>here</a> so that drivers can take your requests.</span></p>
  </div>
</div>
{% endif %}
<div class="row" style='height:20px'></div>
{% include "user/profile_stub.html" %}
  <script>
  $(function() {
    $('.navicoaccount').addClass('onbutton');
    });
    
$(document).ready(function(){
    click_redirect('#editprof_btn','/profile');
    click_redirect('#routes_btn','/routes');
    click_redirect('#sett_btn','/settings');
    click_redirect('#earn_btn','/earn/summary');
});
</script>
{% endblock %}