{% extends "base.html" %}
{% block title %}Account Settings{% endblock %}
{% block heading %}<h1>Account Settings</h1>{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span8 offset2">
    <h3>Payment Account</h3>
    {{cc_num}}<br>
    <a href='/pay/cc'><button class="button small compl">Update</button></a>
  </div>
</div>
<div class="row-fluid">
  <div class="span8 offset2">

 <form enctype="multipart/form-data" method="post" id="settings_form" class="form-horizontal">
    {% include "user/forms/fields/settings_fields.html" %}
    
	<p align="center">		
	<button type="submit" class="button secondary" id="settings_btn">Save</button>
	</p>
</form>
  </div>
</div>
{% if driver == True %}
<div class="row-fluid">
  <div class="span8 offset2">
    <h3>Driver Options</h3>
      <button class='button small primary' id='bank_btn'>Payment Account</button>
    {% if ins == True %}
      <button class='button small primary disabled'>
      <i class="icon-check"></i> Insured Driver</button>
    {% else %}
      <a href='/apply'>
      <button class='button small primary'>Apply for Insurance</button></a>
    {% endif %}
  </div>
</div>

<div class="row-fluid">
  <div class="span10 offset2"  id='bank_stuff'><br>
  {% include "user/account/bankacct.html" %}
  </div>
</div>
{% endif %}

<script>
$(document).ready(function(){
    click_submit('#settings_btn','#settings_form');
    $('#bank_stuff').hide();
    $('#bank_btn').click(function() {
      $('#bank_stuff').slideToggle();
    });
});
</script>
{% endblock %}
  