{% extends "blog/base.html" %}

{% block title %}    
10 Road Trip Hacks
{% endblock %}

{% block meta %}
Having driven coast-to-coast four times, plus two additional trips halfway and back, I've made enough mistakes that people ask me for advice on what not to do.  If you're planning a road trip, here's a few hacks to make your trip stellar.
{% endblock %}

{% block content %}    
<div class='post_wrap'>
    <div class='post_title' id='post_title'>
    10 Road Trip Hacks
    </div>
    <div class='post_author'>
        <span>December 18, 2013</span><br>
        <span style='font-size:0.8em;'>Posted by: Gerrit</span>
    </div>
    <div class='post_content'>
<p><center>
        <img src='/static/blog/imgs/townpump.jpg' width='300'class="img-polaroid"></center></p>
        <p>
        Barnacle Adventurers:<br/><br/>
        Having driven coast-to-coast four times, plus two additional trips halfway and back, I've made enough mistakes that people ask me for advice on what not to do.  If you're planning a road trip, here's a few hacks to make your trip stellar:</p>
        <p><center><img src='/static/blog/imgs/rockies.jpg' width='400' class="img-polaroid"></center></p>
        <ol class='bloglist'>        
        <li><p><b>	West &gt; East:</b> If you're going cross country and have any flex days, spend them absorbing the breathtaking scenery in the mountain west.  Spend some extra time hiking or sightseeing.  Everything east of the Rockies is flat, so you can safely gun it in these parts to make up for lost time.</p>
            
            <p><center><img src='http://25.media.tumblr.com/tumblr_m7uabxztNB1rcn2uzo1_1280.jpg' width='400' class="img-polaroid"></center></p>

                    <li>	<p><b>Visit the Badlands:</b> The exception to #1, perhaps the most remarkable wonder of the world.</p>
        <li>	<p><b>Keep to the Code:</b> Follow proper etiquette and everybody wins.  Most notably, keep in the right lane except when you're passing and others will respect you as an experienced driver.</p>
        <li>	<p><b>10 MPH Over:</b> This seems to be the sweet spot to avoid getting tickets.</p>
        <li>	<p><b>Bring a Travel Mug:</b> If you drink as much coffee as I do (unlikely), this will get you a lot of discounts along the way and keep your coffee drinkable for longer.  For whatever reason disposable cups always result in coffee stains all over everything.</p>
        <li>	<p><b>Bring a Mini-Cooler:</b> Keep sandwiches and fruit, as this can be tough to access in some regions.  Freeze a water bottle overnight and keep in the cooler to avoid having to deal with messy ice (you get ice cold water when it melts).</p>
        <p><center><img src='/static/blog/imgs/chargers.jpg' width='200' class="img-polaroid"></center></p>
        <li>	<p><b>Bring a Car Charger:</b> Make sure to support your digitial hipsterati lifestyle by keeping your entire groups' gadgets charged.  GPS features drain phone batteries like nobody's business.</p>
        <li>	<p><b>Must Have Apps:</b> A handful of apps are a necessity:
        <table class='table-condensed'>
          <tr><td><img src='/static/blog/imgs/waze.png' width='100px'></td><td>
        	<b><a href='https://www.waze.com/' target='_top'>Waze</a>:</b> Has gone downhill somewhat since acquisition, but great for predicting cops and avoiding traffic jams.</td></tr>
          <tr><td><img src='/static/blog/imgs/gmaps.jpg' width='100px'></td><td>
            <b><a href='http://www.google.com/mobile/maps/' target='_top'>Google Maps</a>:</b> Their navigation features tend to work a bit better when internet access is low, plus it generally has more robust mapping and routing.</td></tr>
          <tr><td><img src='/static/blog/imgs/gasbuddy.png' width='100px'></td><td>
            <b><a href='http://www.gasbuddy.com/GasBuddyMobileApps.aspx' target='_top'>GasBuddy</a>:</b> Switch this to map view and look forward on your route to get a sense of whether nearby gas prices are rising or falling.</td></tr>
          <tr><td><img src='/static/barnacle128.png' width='100px'></td><td>
          <b><a href='/tracker' target='_top'>Barnacle</a>: </b> The driver tracker app made my aunt very happy, as she knew <a href="/track/view/agtzfnAycHBvc3RhbHIZCxIMVHJhY2tlck1vZGVsGICAgICu7IwKDA">'exactly when<a> I was pulling in and had hot soup ready on my arrival.</td></tr></table>
          </p>
        <li>	<p><b>Know Where Apps Fail:</b> Phone providers claim 99% coverage, but the 1% gaps seem to be along major roads.  Your phone will fail, especially in Wyoming, so make sure your navigator has an idea of what lies ahead.</p>
        <li>	<p><b style='color: #0087A3;'>Deliver for Barnacle:</b> Post your route at <a href='/'>http://gobarnacle.com/</a> and carry some packages along your route.  You may end up turning a profit on your road trip.</p>
        </ol>
        </p>
        <p>Safe travels!</p>

    </div>
</div>
{% endblock %}