{% extends "blog/base.html" %}

{% block title %}    
Driver Stories
{% endblock %}

{% block meta %}
We often receive stories submitted by our users. Here are a few of our recent favorites.
{% endblock %}

{% block content %}    
<div class='post_wrap'>
    <div class='post_title' id='post_title'>
    Barnacle Driver Stories
    </div>
    <div class='post_author'>
        <span>January 15, 2013</span><br>
        <span style='font-size:0.8em;'>Posted by: Amber</span>
    </div>
    <div class='post_content'>
<p>
We often receive stories submitted by our users. Here are a few of our recent favorites.
</p><p><hr>
        <h3>Anna in Berkeley</h3>
<img src='/static/blog/imgs/anna.jpg' width='400px' class="img-polaroid"><br>
<small>Anna, our lovely Barnacle driver</small>
</p><p>
I learned about Barnacle from a campus flyer. I didn’t get any delivery requests the first time I posted my route up to Berkeley, but I kept using the app anyway because my parents liked being able to know where I am on long drives.
</p><p>
Over Thanksgiving, I got a message from Linda, through Barnacle. Her father had recently passed away, and had a collection of rare cloth-bound books that she wanted to bring back to Los Altos from her family’s home in Richmond. We scheduled a time for me to pick up the books, and her brother helped load them into my Corolla (books sure are heavy!)
</p><p>
    I drove down to Los Altos and swung by Linda’s home to drop them off before going to my parents’ house for the long weekend. Linda had the sweetest family, and they invited me to stay for their Thanksgiving dinner. Sadly, I was in a hurry, so after we unloaded all the boxes I had to leave. But Linda cut a piece of pie for me to take home :)
</p><p>
I’ve met the nicest people through Barnacle, and am having so much fun as a driver.
</p><p>
<em>--Anna in Berkeley</em>
</p><p>
    <hr>
    <h3>Jonathan in La Jolla</h3>
<img src='/static/blog/imgs/gt40.jpg' width='400px' class="img-polaroid"><br>
<small>Robert, a happy Barnacle customer</small>
</p><p>
I drive between SoCal and the Bay Area at least twice a month for work, and my gas bill was killing me.  I was searching online for ways to offset fuel costs, and that's how I found Barnacle.  I always check before I hit the road, and it's been an easy way to get my commuting costs under control.  On one trip, a Barnacle user named Robert asked me to pick up a set of Recaro seats in San Diego. He gave me the phone number of his seller, and I connected with him at the Valero off the freeway exit in Encinitas. The seats folded up in my trunk and I delivered them up to Robert’s shop in Santa Clara, which was right on the way.
</p><p>
Robert took a few minutes to show me a GT40 replica that he’s building, and he has plans to race it when it’s finished. He invited me to come to the track to help out in the pits when he races, I'll definitely be looking forward to that.
</p><p>
<em>--Jonathan in La Jolla</em>
</p><p>
Have you had a recent experience with Barnacle? We would love to hear about it! Send your user stories to amber *AT* GoBarnacle.com and we will send you a Barnacle care package!
</p>
    </div>
</div>
{% endblock %}