{% extends "blog/base.html" %}

{% block title %}    
Crowdshipping for Small Businesses
{% endblock %}

{% block meta %}
Visual.ly is a fast-growing community platform for data visualization and logistics.  The company was founded in San Francisco in 2011, and within three years grew to nearly a hundred employees with over $12 million in funding.  
{% endblock %}

{% block content %}    
<div class='post_wrap'>
    <div class='post_title' id='post_title'>
	Crowdshipping for Small Businesses
    </div>
    <div class='post_author'>
        <span>March 31, 2014</span><br>
        <span style='font-size:0.8em;'>Posted by: Gerrit</span>
    </div>
    <div class='post_content'>
<p>
Large businesses with abundant shipping needs are able to achieve economies of scale, creating reduced costs and greater efficiency in shipping.  Startups, small businesses, and digital companies have a lower volume of transportation needs and consequently a different view of the shipping and logistics space.  Where large businesses can afford dedicated resources towards planning shipments, small business owners often find packaging, shipping, and receiving goods to be a time-consuming and laborious process.  Crowdshipping levels this playing field, providing small businesses access to the benefits of greater economies of scale.
</p><p>

<a href='http://visual.ly' target='_blank'><img align='right' src='/static/landing/images/visually_logo.png' class='img-polaroid'></a>
<h2>Case Study: Visual.ly</h2>
<a href='http://visual.ly'>Visual.ly</a> is a fast-growing community platform for data visualization and logistics.  The company was founded in San Francisco in 2011, and within three years grew to nearly a hundred employees with over $12 million in funding.  

</p><p>
In 2014, they sent their first team to SXSW Interactive, an annual festival in Austin that draws over 30,000 attendees.  Many startups attend with hopes to make a splash and come up empty-handed, but Visual.ly <a href='http://blog.visual.ly/the-king-of-contents-sxsw-content-marketing-treasures/'>crafted their plan</a> to make an outsized impact through the clever use of a mascot, the “King of Content”, to reflect their belief that content is king.

</p><p>
<img src='/static/blog/imgs/VisuallyBooth.png' width='300' align='left' class='img-polaroid' style='margin-right: 20px;'>
To properly execute their plan, they printed thousands of dollars worth of marketing collateral and prepared an impressive interactive booth display from their San Francisco office.  They sent it to Austin through a variety of sources, including traditional carriers, airplane carry-on, and crowdshipping through Barnacle.  Additional materials were printed or purchased upon arrival in Austin.
</p><p>

In the original plan, they would wait until later in the conference to evaluate their return shipping needs, since much of their marketing material would be distributed or consumed throughout the conference.  However, SXSW is a fast-paced and busy event drawing many high caliber contacts.  Their massively successful marketing campaign inundated the team with several valuable business connections.  The team was so busy generating business leads that they the logistics for their return shipment fell to the wayside until the last day.

</p><p>
At the close of the event, securing return shipping through commercial services was onerous.  Traditional event logistics companies were largely at capacity with pre-booked requests and considered Visual.ly’s need of 528 cubic feet of space to be too minor to be worth accommodating.  The team contemplated throwing away much of their material.
</p><p>
Instead, the Visual.ly team contacted Barnacle, with whom they had pre-booked return shipping within a standard size car trunk (roughly 108 cubic feet of space).  Barnacle’s unique crowdshipping platform provides shipping capacity via fleets of passenger vehicles, sourced in this case from other SXSW attendees who had travelled down by car.  The volume of attendees ensured that Barnacle was able to provide the flexibility and value of a large distribution network just by utilizing previously dormant capacity.
</p><p>
Just a half hour after the convention’s close, Barnacle’s ground team was able to review its fleet of vehicles and source an SUV large enough to carry the excess gear Visual.ly hadn’t planned for.  The team was able to fill the back of the vehicle with items they had would have otherwise discarded, and the driver departed for San Francisco. The display materials would be waiting for the Visual.ly team when they returned to work.
<ul style='margin-left: 30px;'>
<li>Download this as PDF: (<a href='/static/blog/imgs/Barnacle-VisuallyCaseStudy.pdf'>Crowdshipping-for-Small-Business.pdf</a>)</li>
<li>
<a href='http://www.gobarnacle.com/track/view/agtzfnAycHBvc3RhbHIZCxIMVHJhY2tlck1vZGVsGICAgMCk2NIIDA'>See the King of Content's whole road trip</a></li>
<li><a href='http://localhost:9080/blog/sammy-the-digitalocean-shark-goes-on-a-road-trip'>Sammy the DigitalOcean Shark also took a fun Barnacle road trip from Austin</a></li>
<li>Barnacle loves small businesses and startups.  Email help AT gobarnacle DOT com to learn more about our small business discounts</li>
</ul>


</p>
<p>
<img src='/static/blog/imgs/kingofcontent.png' class='img-polaroid'>


</p>    </div>
</div>
{% endblock %}
