{% extends "blog/base.html" %}

{% block title %}    
Barnacle &hearts; Heartland
{% endblock %}

{% block meta %}
On a recent cross-country Barnacle delivery across 16 northern states, I hit rough snow in 15 of them.  It’s best to simply stay off the roads whenever possible, but sometimes this just isn’t an option.  If you must drive long-distances through a polar vortex, here’s some tips.
{% endblock %}

{% block content %}    
<div class='post_wrap'>
    <div class='post_title' id='post_title'>
        Barnacle &hearts; Heartland

    </div>
    <div class='post_author'>
        <span>January 8, 2014</span><br>
        <span style='font-size:0.8em;'>Posted by: Gerrit</span>
    </div>
    <div class='post_content'>
<p><center>
        <img src="/static/blog/imgs/aprildriver.png" width='400' class="img-polaroid"></center></p>
        <p>
        Barnacle currently operates best along I-5, servicing the cities of Seattle, Portland, Sacramento/SF Bay Area, LA/San Diego, and Las Vegas. This hasn't slowed our eager Barnacle driver community, who have posted routes across the country.
        </p>
       
        <p>
            In December 2013, I had the pleasure of taking a <a href="http://gobarnacle.com/track/view/agtzfnAycHBvc3RhbHIZCxIMVHJhY2tlck1vZGVsGICAgICu7IwKDA">cross-country Barnacle delivery</a>.  Visiting family across the country, it's not really a surprise our marketplace is thriving     in the heartland.  The Hall family proved to be great early Barnacle users.
        </p>
        <ul class='bloglist'>
        <li><p><b>Uncle Jerry in Detroit</b> </p>
            In Motor City, I met up with my Uncle Jerry.  In his garage sat a broken down old Yamaha XS650.  My Dad, looking for retirement projects, was keen to get the old bike running again, but it wasn't really worth paying a ton just for a side project.
            <p><center><img src="/static/blog/imgs/motorcycle.png" width='400' class="img-polaroid"></center></p>
            
            <li>	<p><b>Grandma Essie in Coon Rapids:</b> I asked my 92-year old Grandma what we could bring her.  Anything at all in the world.  Sh asked for {{color}} yarn.  "Are you sure Grandma, we can bring anything you like."  She was sure.</p>
                 <p><center><img src="/static/blog/imgs/yarn.jpg" width='400' class="img-polaroid"></center></p>
                <li>	<p><b>Mom and Dad in Washington:</b> .</p>
                    
        </ul>
        </p>
        <p>Safe travels!</p>

    </div>
</div>
{% endblock %}