{% extends "blog/base.html" %}

{% block title %}    
Let's Motor
{% endblock %}

{% block meta %}
Road trips have fallen out of favor as an American pastime. Air travel is so quick, and low-cost carriers so cheap. But once upon a time, travel wasn’t a chore. The journey was the destination. 
{% endblock %}

{% block content %}    
<div class='post_wrap'>
    <div class='post_title' id='post_title'>
    Let's Motor
    </div>
    <div class='post_author'>
        <span>April 9, 2013</span><br>
        <span style='font-size:0.8em;'>Posted by: Elaine</span>
    </div>
    <div class='post_content'>
<p>
I just got back from dropping my friend Vit off in New Mexico. I drove nearly 3000 miles in the past week and have never been happier. My parents will be disappointed to hear this, but I think I’ve found my true calling in life, and it is long-haul truck driver.
</p><p>
An old Mini Cooper ad goes something like this:

<blockquote><i>LET'S BURN THE MAPS. Let's get lost. Let's turn right when we should turn left. Let's read fewer car ads and more travel ads. Let's not be back in ten minutes. Let's hold out until the next rest stop. Let's eat when hungry. Let's drink when thirsty. Let's break routines, but not make a routine of it. LET'S MOTOR.™</blockquote></i>
</p><p>
<a href="http://elaineou.files.wordpress.com/2013/04/mini-cooper-burn-the-maps-small-19228.jpg"><img src="http://elaineou.files.wordpress.com/2013/04/mini-cooper-burn-the-maps-small-19228.jpg" alt="mini cooper burn the maps" width="300" class="aligncenter size-thumbnail wp-image-2194" /></a>
</p><p>
Road trips have fallen out of favor as an American pastime. Air travel is so quick, and low-cost carriers so cheap. But once upon a time, travel wasn’t a chore. The journey was the destination. 
</p><p>
We tried to capture the essence of driving for the sake of driving in the splash screen for <a href="/" title="Peer-to-Peer Postal" target="_blank">Peer-to-Peer Postal</a>’s android app -- Those times when sightseeing involved watching the scenery change across state borders, and the only thing that mattered was the moment.
</p><p>
<a href="http://elaineou.files.wordpress.com/2013/04/p2pandroid.png"><img src="http://elaineou.files.wordpress.com/2013/04/p2pandroid.png?w=189" alt="P2P Postal on Android" width="180" class="aligncenter size-medium wp-image-2198" /></a>
</p><p>
Eastbound through Arizona, Vit pointed out Picacho Pass. <em>That’s how the pioneers used to find their way between Tuscon and Phoenix</em>, he said. 
</p><p>
You can’t see Picacho Pass from a commercial jet.
</p><p>
Let’s Motor. 
</p><p>
<a href="http://elaineou.files.wordpress.com/2013/04/capture2.png"><img src="http://elaineou.files.wordpress.com/2013/04/capture2.png?w=500" alt="Picacho Pass, AZ" width="500" height="278" class="alignnone size-large wp-image-2199" /></a>
</p>
    </div>
</div>
{% endblock %}