{% extends "blog/base.html" %}

{% block title %}
Barnacle at MIT $100K
{% endblock %}

{% block meta %}
Competition for the $100K is intense and the process spans the entire academic year. Judging panels are comprised of industry experts and institutional investors who evaluate the teams' progress throughout the program. During this multi-stage process, hundreds of teams compete in a series of pitch and business plan competitions until just 8 finalists remain to compete on the mainstage at the MIT $100K Launch Finale.
{% endblock %}

{% block content %}
<div class='post_wrap'>
    <div class='post_title' id='post_title'>
    MIT $100K Finalists
    </div>
    <div class='post_author'>
        <span>May 15, 2014</span><br>
        <span style='font-size:0.8em;'>Posted by: Gerrit</span>
    </div>
    <div class='post_content'>
        <p><center>
        <img src="/static/blog/imgs/mit100k.jpg" width='450'></center></p>
        <p>
        <i>Barnacle presents on the mainstage at the MIT $100K Finale.  We were selected as one of just eight finalists from over three hundred entries</i>.
        </p>
        <p>
        <h2>MIT $100K Finale</h2>
        This past year, over 300 of the most technologically innovative startups entered to enter the 2014 MIT $100K Competition.  Barnacle was honored to be selected as one of the eight finalists to present before an audience of thousands. The final event was televised and <a href="http://webcast.amps.ms.mit.edu/spr2014/100k/14may2014/index.html" target='_blank'>broadcast worldwide on livestream</a>.
        </p>
        <p>
        	<h3>About the $100K</h3>
        	Founded in 1990, the <a href='http://mit100k.org/' target='_blank'>MIT $100K competition</a> is one of the <a href='http://en.wikipedia.org/wiki/MIT_$100K_Entrepreneurship_Competition' target='_blank'>most prestigious entrepreneurship competitions</a> in the entire world.  Over its tenure, the competition has launched successful companies such as Akamai, HubSpot, and Harmonix.
        </p>
		<p>
			Competition for the $100K is intense and the process spans the entire academic year. Judging panels are comprised of industry experts and institutional investors who evaluate the teams' progress throughout the program. During this multi-stage process, hundreds of teams compete in a series of pitch and business plan competitions until just 8 finalists remain to compete on the mainstage at the MIT $100K Launch Finale.
		</p>

        <p>


            <center>
<img src="/static/blog/imgs/mit100kfinalist.jpg" width='400' class="img-polaroid">
            </center>

        </p>
         <p>
		        	Barnacle was thrilled to make the final round with the other greatest startups MIT has to offer. Other finalists presented revolutionary ideas for improving water purification, defining drone analytics, and increasing solar cell efficiency. Judges praised Barnacle for its potential to scale and for having the most significant traction. Barnacle is proud to have been placed in consideration with such a high caliber of world-changing ideas.
        </p>
    </div>
</div>
{% endblock %}
