{% extends "blog/base.html" %}

{% block title %}
 The Pieman Cometh
{% endblock %}

{% block meta %}
 Saatchi & Saatchi have a great pie-dea for how to ship through Barnacle
{% endblock %}

{% block content %}
<div class='post_wrap'>
    <div class='post_title' id='post_title'>
    The Pieman Cometh
    </div>
    <div class='post_author'>
        <span>June 1, 2014</span><br>
        <span style='font-size:0.8em;'>Posted by: Gerrit</span>
    </div>
    <div class='post_content'>
        <p><center>
		<img src="/static/blog/imgs/ss.jpg" width='600'/>
		</center></p>
        <small>
        Jessica in Oakland makes the tastiest pies in the world.  Global ad agency <a href='http://www.saatchi.com'>Saatchi &amp; Saatchi</a> wanted Jessica's pies for their exclusive party at the <a href='http://www.sustainablebrands.com/events/sb14' target='_blank'>San Diego Sustainability Conference</a> 500 miles away.
        </small>
        <p>
                <img src="/static/blog/imgs/saatchisquared.png" style='width:300px;padding:10px;float:right'>

        	If Saatchi &amp; Saatchi were forced to use existing delivery options, they would not get a taste of strawberry rhubarb selected from the finest fruits grown in the Bay Area. These pies taste best fresh, so they needed to be sent and received quickly. The pies needed to ship on Sunday, when most delivery options are taking a break. Sending through the rough and tumble of typical deliveries, and packaging the pies so they would not crumble would have been a Herculean task.
        </p>
        <p>
        	One courier service quoted $1300 to transport the pies.  They could have transported the delivery by commercial bus, but to package everything safely so that the pies would not arrive smelling like bus fumes had a quoted cost of $800.
        </p>
        <p>
        	Fortunately, they checked Barnacle.  Robert was driving south to attend the conference anyway and had an empty car.  He made nearly $100 off the delivery, but admitted he would have done it for free just so his car could smell like fresh-baked pie.  Thanks to Barnacle's crowdsourced network, Saatchi &amp; Saatchi's party was a major success.
        </p>
        <p>
        	When you need to ship outside the box, go Barnacle!
        </p>

    </div>
</div>
{% endblock %}
