{% extends "blog/base.html" %}

{% block title %}    
Sammy the DigitalOcean Shark Goes on a Road Trip
{% endblock %}

{% block meta %}
Cloud hosting company DigitalOcean raised a Series A round of $37.2 million at a $153 million valuation led by Andreessen Horowitz just before attending SXSW in Austin. Their Mascot, Sammy the Shark, took a road trip with a Barnacle driver.
{% endblock %}

{% block content %}    
<div class='post_wrap'>
    <div class='post_title' id='post_title'>
    Sammy the DigitalOcean Shark Goes on a Road Trip
    </div>
    <div class='post_author'>
        <span>March 19, 2014</span><br>
        <span style='font-size:0.8em;'>Posted by: Elaine</span>
    </div>
    <div class='post_content'>
        <p><center>
        <img src="/static/blog/imgs/sammyroadtrip.png" width='400'></center></p>
        <p>
        <img src="/static/landing/images/digitalocean.png" style='float:right; width: 150px'>        
        Sammy the Shark is <a href="http://digitalocean.com/">DigitalOcean</a>’s mascot and a huge fan of road trips. A week after helping his team raise their <a href="https://www.digitalocean.com/company/blog/digitalocean-closes-37-2-million-series-a-led-by-andreessen-horowitz/">Series A round</a>, he visited Austin for SXSW.</p><p>
        He flew down from NYC, which wasn’t terribly fun, because his team stuffed him into a large cardboard box. Worse yet, they paid $1500 for that last-minute ticket on FedEx Airlines.
        </p><p>
        After a fun week of meeting DigitalOcean fans at the SXSW Interactive Trade Show, it was time to go home. Instead of flying in a box, Sammy instead chose to hitch a ride with a Barnacle driver who had an extra seat. Well, more like an extra whole backseat, folded down. Sammy is a bit rotund, and the BBQ brisket in Austin did not help.
        </p>
       <p><center>
        <img src="/static/blog/imgs/sammyshark.jpg" width='350' class="img-polaroid">
        <br><small>Sammy in front of the Capitol Building.</small>        
        </center>        
        </p>
                <p style='float:left; padding-right:10px;'>
        <img src="/static/blog/imgs/sharketing.png" width='200' class="img-polaroid"><br>   
        <small>Sharks don't belong in boxes</small>
        </p>        
        <p><br>
        The trip took him through Arkansas, Tennessee, and Virginia, then up through the Northeast through some extreme weather conditions before finally returning home. 
        </p><p>
        Exciting stuff! Barnacle is looking forward to providing Sammy with his next road trip experience! 
        </p><p>
        Ship outside the box with <a href='/'>Barnacle</a>!
        </p>
        <p><center>
        <img src="/static/blog/imgs/sammymap.png" width='400' class="img-polaroid">   
        </center>        
        </p>
    </div>
</div>
{% endblock %}