{% extends "blog/base.html" %}

{% block title %}    
Spring Break!
{% endblock %}

{% block meta %}
The classic spring break experience is the college road trip.  This year, Barnacle is excited to support road trippers with an awesome contest. We have prizes for whoever drives the most miles, whoever posts the best photos, and whoever gets the most likes.  
{% endblock %}

{% block content %}    
<div class='post_wrap'>
    <div class='post_title' id='post_title'>
    Spring Break!  Woo!
    </div>
    <div class='post_author'>
        <span>March 16, 2014</span><br>
        <span style='font-size:0.8em;'>Posted by: Gerrit</span>
    </div>
    <div class='post_content'>
        <p><center>
        <img src="http://media.tumblr.com/tumblr_m30rvamtmQ1rn4fln.png" width='400' class="img-polaroid">
        </center></p>
        <p>
        Thousands of college students take a much-deserved week off this coming month to power them through graduation.  In America it's achieved legendary cultural status.  The Village Voice notes <a href="http://www.villagevoice.com/slideshow/18-spring-break-movies-to-watch-if-youre-not-going-on-spring-break-39139618/" target="_blank">18 film classics</a> about spring break, and Outside magagazine suggests <a target="_blank" href="http://www.outsideonline.com/adventure-travel/The-Top-10-Spring-Break-Adventures.html">10 awesome destinations</a>.
        </p>
        <p>The classic spring break experience is the college road trip.  This year, Barnacle is excited to support road trippers with an awesome contest.  All you need to do is download our <a href="/tracker">driver tracker app</a> and broadcast your journey.  We have prizes for whoever drives the most miles, whoever posts the best photos, and whoever gets the most likes.  <a href="/springbreak">Check out more details here</a>.
        </p>
 
    </div>
</div>
{% endblock %}