{% extends "blog/base.html" %}

{% block title %}    
SXSW
{% endblock %}

{% block meta %}
 Every year, tens of thousands of people descend on Austin, TX for the South by Southwest Film, Music and Interactive festival, generating over $200 million for the local economy.  This year, a team from Barnacle was thrilled to join the festivities.
{% endblock %}

{% block content %}    
<div class='post_wrap'>
    <div class='post_title' id='post_title'>
    SXSW
    </div>
    <div class='post_author'>
        <span>March 16, 2014</span><br>
        <span style='font-size:0.8em;'>Posted by: Gerrit</span>
    </div>
    <div class='post_content'>
        <p><center>
        <img src="/static/blog/imgs/point.png" width='400' class="img-polaroid"></center></p>
        <p>
        Every year, tens of thousands of people descend on Austin, TX for the South by Southwest Film, Music and Interactive festival, generating over $200 million for the local economy.  This year, a team from Barnacle was thrilled to join the festivities.
        </p>
        <p>
        <h2>Ship by Southwest</h2><br/>
        <p><center>
            <img src="/static/blog/imgs/visuallybooth1.jpg" width='400' class="img-polaroid"></center></p>

        Of course, while many attended just to party, much of our time was spent working behind the scenes.  Thousands of businesses and bands made their way to the festival and needed to haul gear, booth materials, amps... you name it.  They had a lot of options, but 2014 is the pioneering first year when many opted to crowdship using Barnacle.  Companies like <a href="http://visual.ly"</a>Visual.ly</a>, <a href="http://digitalocean.com/">Digital Ocean</a>, and <a href="http://phone.com/">Phone.com</a> picked us for a variety of reasons:
        </p>
        <p>
            <ul style="margin-left: 20px;">
                <li><strong>Reliability:</strong> Visual.ly shipped to SXSW through a blend of carriers, including Barnacle.  On the way back, they put their trust in Barnacle, since they could meet the driver and use our app to <a href="/track/view/agtzfnAycHBvc3RhbHIZCxIMVHJhY2tlck1vZGVsGICAgMCk2NIIDA">follow their driver's journey</a>.</li>
                <li><strong>Flexibility:</strong> A Barnacle representative stopped by the Phone.com booth at 3 PM.  By 6, a Barnacle driver was on the scene packing their materials into a car trunk, no need to wait in line at UPS.</li>
                <li><strong>Convenience:</strong> Digital Ocean had a massive shark costume they needed shipped back.  Trying to find a 6 foot box at crunch time is nearly impossible.  Thankfully, Barnacle shipped outside the box.</li>

            </ul>
        </p>
        <p>
            Needless to mention, price often worked in people's favor.  Digital Ocean's mascot would have cost over 300% more to ship through a traditional carrier... plus this hungry feller may have eaten its way through the box!
        </p>
        <p>
            <center><img src="/static/blog/imgs/sharketing.png" width='400' class="img-polaroid" alt="That's what we call Sharketing!"></center>
        </p>
        <p>
                <h2>Number One with a Barnacle</h2><br/>
                SXSW also brought us our first startup competition and a first place finish for Barnacle!
        </p>
        <p>
            <center><img src="https://pbs.twimg.com/media/BiTJXDKCAAAmiiP.jpg" width='400' class="img-polaroid" ></center>
        </p>
        <p>
            A dozen top tier MBA programs sent their finest startups to Austin to compete in the <a href="http://strikingly.com/bschool-sxsw">SXSW 2014 Business Idea Challenge</a>.  Great ideas came from across the country, ranging from <a href="http://lovegrain.co/">sustainable gluten-free pancakes</a> to <a href="http://www.smartbod.co/">smart vibrators</a>.  Against fierce competition, judges were impressed with Barnacle's top notch team and traction.
        
        </p>
        <p>
            <center><img src="https://pbs.twimg.com/media/BiPOKvxCQAAYvSS.jpg:large" width='400' class="img-polaroid" ></center>
                Great fun and thanks to everybody in Austin for a great experience!
        </p>
    </div>
</div>
{% endblock %}