{% extends "blog/base.html" %}

{% block title %}    
What it's Like to Drive for Barnacle
{% endblock %}

{% block meta %}
Total tally: five happy deliveries, one unhappy cat. My food and gas were fully funded by customers. Not the best wages, but add in five destinations that I otherwise would not have visited. 
{% endblock %}

{% block content %}    
<div class='post_wrap'>
    <div class='post_title' id='post_title'>
    What it's Like to Drive for Barnacle
    </div>
    <div class='post_author'>
        <span>August 1, 2013</span><br>
        <span style='font-size:0.8em;'>Posted by: Elaine</span>
    </div>
    <div class='post_content'>
<p>
<img src="http://elaineou.files.wordpress.com/2013/08/img_8537.jpg?w=300" alt="IMG_8537" width="300" height="225" class="alignnone size-medium wp-image-3421" />
</p><p>
I started the trip with a stuffed animal. The bear was part of a care package destined for Hillsboro, Oregon. In Red Bluff, I picked up an outboard motor from a Craigslist seller.
</p><p>
<img src="http://elaineou.files.wordpress.com/2013/08/img_8406.jpg?w=300" alt="outboard motor camping on the Rogue River" width="300" height="225" class="alignnone size-medium wp-image-3417" />
</p><p>
That night, I camped out on the Rogue River. I had planned on sleeping in the car, but the outboard motor smelled like gas. I found wild blackberries along the river. Blackberries for dinner!
</p><p>
I delivered the motor to the Craigslist recipient, who turned out to be a former aerobatic pilot. This led to one of the most amazing days of my life, but that is a story for another day.
</p><p>
<img src="http://elaineou.files.wordpress.com/2013/08/eastside-distilling.jpg?w=300" alt="eastside-distilling" width="300" height="199" class="alignnone size-medium wp-image-3427" />
</p><p>
For my next stop, I headed to Eastside Distilling in Portland to pick up some liquor for a delivery request. Supposedly they make good stuff that they don’t ship to California. I got a free tour of the distillery and learned how rum is made. I don’t even like rum, but now if the whole Peer-to-Peer Postal thing fails, I know how to start a bootlegging business.
</p><p>
<img src="http://elaineou.files.wordpress.com/2013/08/img_8556.jpg?w=225" alt="IMG_8556" width="225" height="300" />
</p><p>
I delivered the care package and picked up my next request: Watermelons from a farm outside of Portland. An odd-sounding request, but they grow some exceptional watermelons in Oregon, and too few to export out of state.
</p><p>
My Portlander friend Jenny joined me on this venture. We headed to the farm, which not only sells the sought-after watermelons, but also features a pick-your-own berry patch. The bushes were falling over with blueberries so we helped them lighten their load by eating it.
</p><p>
After crapping blue for the next 2 days, I set out for home. But first I had to pick up a cat and take it to Humboldt.
</p><p>
<table><tr><td>
<img src="http://elaineou.files.wordpress.com/2013/08/img_8604.jpg?w=500" alt="I covered him with my road map to keep the sun off his back. He figured out how to open the window. Maybe he just wanted to stick his head outside like a dog, but I locked it to be safe." width="500" height="375" class="size-large wp-image-3423" /></td></tr>
<tr><td width="500"> <small>I covered him with my road map to keep the sun off his back. He figured out how to open the window. Maybe he just wanted to stick his head outside like a dog, but I locked it to be safe.</small></td></tr></table>
</p><p>
Mountain View via Humboldt is not the fastest route south, but I had lived in California most of my life and never seen Redwood National Park. I needed to remedy this and figured that transporting a cat would be much like having a stuffed animal in the car again. 
</p><p>
The redwoods were lovely. I tried to take the cat hiking in his carrier (not supposed to leave animals in the car), but he was complaining so much I had to turn around. Okay, no redwood hiking on this trip.
</p><p>
<img src="http://elaineou.files.wordpress.com/2013/08/aveofgiants3.jpg?w=300" alt="aveofgiants3" width="300" height="225" class="alignnone size-medium wp-image-3436" />
</p><p>
Total tally: five happy deliveries, one unhappy cat. My food and gas were fully funded by customers. Not the best wages, but add in five destinations that I otherwise would not have visited. 
</p><p>
And that is why we created Barnacle.
</p><p>
<img src="http://elaineou.files.wordpress.com/2013/08/img_8625.jpg?w=500" alt="Cat insisted on riding on my lap when the roads got twisty." width="500" height="375" class="size-large wp-image-3424" /><br> <small>Cat insisted on riding on my lap when the roads got twisty.</small>
</p>
    </div>
</div>
{% endblock %}