{% extends "blog/base.html" %}

{% block title %}    
When Sharing is Outlawed
{% endblock %}

{% block meta %}
As shareable startups grow, they frequently bump into regulatory hurdles. Join founding team members from Lyft, RelayRides, Bayshare, and Peers.org to learn how savvy startups have overcome such barriers and brought the sharing economy into mainstream acceptance. The panel discussion is hosted by the Law Offices of WilmerHale and the Silicon Valley Peers community group.
{% endblock %}

{% block content %}    
<div class='post_wrap'>
    <div class='post_title' id='post_title'>
    When Sharing is Outlawed
    </div>
    <div class='post_author'>
        <span>April 2, 2014</span><br>
        <span style='font-size:0.8em;'>Posted by: Elaine</span>
    </div>
    <div class='post_content'>
<img src='/static/blog/imgs/sharingoutlawed.jpg' style='width:400px;'>    
<p>
Yesterday, history was made when Airbnb revealed a new plan to collect and distribute taxes directly from Airbnb hosts. For Airbnb to directly tax their hosts can be a good thing. Taxes bring stability and legitimacy to the homesharing market. 
</p><p>
But is it fair to tax individuals who use Airbnb to help make their monthly rent in the same manner as professional hosts who use Airbnb to manage multiple properties?
</p><p>
<img src='/static/blog/imgs/wilmerhale.jpg' style='width:240px;float:left;padding:10px'> 
This was just one of many outstanding issues addressed in our panel discussion, "<a href='https://www.eventbrite.com/e/when-sharing-is-outlawed-tickets-10904831645?id=2' target='_blank'>When Sharing is Outlawed</a>", yesterday evening.
</p><p>
Despite the pouring rain, sharing economy proponents and critics flocked to the law offices of WilmerHale in Palo Alto for an event brought together by the collaborative efforts of the Silicon Valley Peers Community Group (<a href='https://www.facebook.com/groups/1410935799141923/' target='_blank'>join us here</a>).
</p><p>
Barnacle CEO Gerrit Hall moderated a fascinating interchange of ideas with representatives from prominent enterprises and organizations: Alex Benn of RelayRides, Jesse Biroscak of BayShare, Katie Kincaid of Lyft, Jeremiah Owyang of Crowd Companies, and Jeffrey Thomas of NASDAQ Private Market.
Our panelists covered a number of critical topics for sharing economy startups and participants alike. 
</p>
<img src='/static/blog/imgs/panel1.jpg' style='width:600px;'> 
<p>
Because the collaborative economy is well-adopted here, Bay Area residents often take for granted the regulatory landscape that must be navigated for sharing platforms to gain acceptance in other areas. 
</p><p>
Katie Kincaid explained that Lyft had to work with local cities and states to provide transportation services and differentiate ride-sharing from the taxi industry. RelayRides, on the other hand, had relatively few interactions with the government while first expanding because there does not exist any infrastructure for car-sharing regulation.
</p>
<p>
<img src='/static/blog/imgs/panel4.jpg' style='width:400px;float:left;padding:10px'> 
Jesse Biroscak expanded the discussion to an international level, where in cities such as London, parking spaces are owned by the local council. Seoul, on the other hand, is positioning itself to be a model for sharing with a new city-funded project called “Sharing City, Seoul”.
</p>
<p>
While much of the regulation lobbied for by industry incumbents has been largely placed to block innovative competitors, there was a general consensus among the panelists that some amount of regulation is ultimately necessary.
</p><p>
Safety was cited as a major point. Protective regulations are clearly appropriate for nuclear energy and building codes, but transportation is also an area subject to  safety concerns. 
</p><p>
Jeffrey Thomas of NASDAQ weighed in on government regulations as applied to crowdfunding. While the Jumpstart Our Business Startups (JOBS) Act passed last year made it easier for companies to choose when and how to raise money, Congressional mandates still hamper crowdfunding platforms in the interest of protecting investors against fraud. 
</p>
<img src='/static/blog/imgs/panel3.jpg' style='width:560px;'> 
<p>
Regulations may also be necessary to ensure that all demographics are served equally. As Jesse Biroscak pointed out, some percentage of taxis are required to be ADA-accessible. Jeremiah Owyang of Crowd Companies asked, “When was the last time you booked an Airbnb in East Palo Alto?” But Owyang also mentioned that there are collaborative organizations specifically targeted towards underserved communities, such as The Learning Shelter and City Car Share. 
</p><p>
In some cases, local governments can work with collaborative companies to evolve the existing infrastructure to be better suited for everyone involved. 
RelayRides, for instance, is the first sharing marketplace that has established a partnership with an airport to provide carsharing at SFO. 
</p><p>
Organizations like Peers and Bayshare can encourage their partner companies to adhere to certain standards in order for sharing services to be taken seriously as legitimate platforms. 
In order for the collaborative economy to become successful, the sharing platforms must collaborate with governing bodies as well as with each other.
</p>
    </div>
</div>
{% endblock %}