<link rel="stylesheet" href="/static/landing/styles/transition.css">
<div class="row-fluid">
  <div class="span12">
    <div class="form-header">
    <h4 style='color:#fff'>What are you shipping?</h4>
    </div>
     <form action='/res/edit/{{key}}' enctype="multipart/form-data" method="post" id='search_form' class="custom form-item form-horizontal">
     <input type='hidden' name="category" id="category">
    <div class='row-fluid'>
      <div class='span4' style='position:relative'>
        <div class='ship-item v-bike'>      
        </div>
        <div class='item-bg' data-cat=1><h4>Sporting Goods</h4></div>
      </div>
      <div class='span4' style='position:relative'>
        <div class='ship-item v-house'>      
        </div>
        <div class='item-bg' data-cat=2><h4>Household / Office</h4></div>
      </div>
        <div class='span4' style='position:relative'>
        <div class='ship-item v-guitar'>      
        </div>
        <div class='item-bg' data-cat=3><h4>Musical Instruments</h4></div>
      </div>
    </div>
    <div class='row-fluid' style='height:10px'></div>
    <div class='row-fluid'>
      <div class='span4' style='position:relative'>
        <div class='ship-item v-cat'>      
        </div>
        <div class='item-bg' data-cat=4><h4>Animals</h4></div>
      </div>
      <div class='span4' style='position:relative'>
        <div class='ship-item v-car'>      
        </div>
        <div class='item-bg' data-cat=5><h4>Automotive</h4></div>
      </div>
        <div class='span4' style='position:relative'>
        <div class='ship-item v-gift'>      
        </div>
        <div class='item-bg' data-cat=0><h4>Other</h4></div>
      </div>
    </div>
    <div class='row' style='height:80px'></div>
    <a id='insurance'></a>
    {% include "launch/forms/progress.html" %}
    <div class='row-fluid'>
      <div class='span5 offset1'><h4>Want Insurance?</h4></div>
    </div>
    <div class='row' style='height:20px'></div>
    <div class='row-fluid'>
      <div class='span5 offset1'>
        <label>Describe your package</label>
        <textarea class="span12" name="items" rows="8" placeholder='Write a short description and please note any special handling instructions for your driver.'style='height:100%'></textarea>
      </div>
      <div class='span3 offset1'>
        <label>Upload a Photo (optional)</label>    
        <div id="img-prev" class='clicky'><img src='/static/img/placeholder2.png' class='preview'></div>
        <input type="hidden" name="id" value="{{id}}">
        <input type="file" class="file" id="images" accept="image/png,image/jpeg,image/gif" name="file" style='display:None;'>
      </div>
    </div>
    <div class='row' style='height:20px'></div>
    </form>    
  </div>
</div>

<script type="text/javascript" src="/static/landing/scripts/foundation.min.js"></script>        
<script type="text/javascript" src="/static/landing/scripts/transition.js"></script> 
<script type="text/javascript" src="/static/js/save_image.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#img-prev').click(function() {
    document.getElementById("images").click();
  });
  $('.item-bg').click(function() {
    $('.item-bg').removeClass('selected');
    $(this).addClass('selected');
    var cat = $(this).attr('data-cat');
    $('input#category').val(cat);
    scrollToAnchor('#insurance');
  });
  $('button.next').click(function() {  
    event.preventDefault();
    loggedIn = checkLoginStatus();
    console.log(loggedIn);
    if (!loggedIn) {
      loginPlease();
      return;
    }  else if ($('input#category').val() != '') {
      console.log(loggedIn);
      $('button.next').attr('disabled', 'disabled');
      $('button.next').addClass('wait');
      $('form#search_form').submit();      
    } else
        display_modal_msg('Please select a category.');
  });
});
function scrollToAnchor(aid){
    var aTag = $(aid);
    $('html,body').animate({scrollTop: aTag.offset().top},'slow');
}
</script>