 <!-- Progress bar and button -->
 <div class="row">
  <div class="span2 offset5" style='color:#fff;'>
    <table style='border:0;width:100%;max-width:150px;margin:0 auto;'><tr>
    <td width='25%'><i class="icon-circle prog0"></i></td>
    <td width='25%'><i class="icon-circle prog1"></i></td>
    <td width='25%'><i class="icon-circle prog2"></i></td>
    <td width='25%'><i class="icon-circle prog3"></i></td>
    </tr></table>
  </div>
  <div class="span2 offset2">
    <p style='float:right;'><button type="submit" class="button action next">Next</button></p>
  </div>
</div>