 <!-- Progress bar and button -->
 <div class="row">
  <div class="span2 offset5" style='color:#fff'>
    <table style='border:0;width:100%'><tr>
    <td width='25%'><i class="icon-circle"></i></td>
    <td width='25%'><i class="icon-circle"></i></td>
    <td width='25%'><i class="icon-circle"></i></td>
    <td width='25%'><i class="icon-circle"></i></td>
    </tr></table>
  </div>
  <div class="span2 offset2">
    <p><button type="submit" class="button action" id='search_btn'>Next</button></p>
  </div>
</div>