<div class="form-header">
<h4 style='color:#fff'>What are you shipping?</h4>
</div>
 <form action='/res/edit/{{key}}' enctype="multipart/form-data" method="post" id='search_form' class="custom form-item form-horizontal">
<div class='row-fluid'>
  <div class='span4' style='position:relative'>
    <div class='ship-item v-bike'>      
    </div>
    <div class='item-bg'><h4>Sporting Goods</h4></div>
  </div>
  <div class='span4' style='position:relative'>
    <div class='ship-item v-house'>      
    </div>
    <div class='item-bg'><h4>Household / Office</h4></div>
  </div>
    <div class='span4' style='position:relative'>
    <div class='ship-item v-guitar'>      
    </div>
    <div class='item-bg'><h4>Musical Instruments</h4></div>
  </div>
</div>
<div class='row-fluid' style='height:10px'></div>
<div class='row-fluid'>
  <div class='span4' style='position:relative'>
    <div class='ship-item v-cat'>      
    </div>
    <div class='item-bg'><h4>Animals</h4></div>
  </div>
  <div class='span4' style='position:relative'>
    <div class='ship-item v-car'>      
    </div>
    <div class='item-bg'><h4>Automotive</h4></div>
  </div>
    <div class='span4' style='position:relative'>
    <div class='ship-item v-gift'>      
    </div>
    <div class='item-bg'><h4>Other</h4></div>
  </div>
</div>
<div class='row' style='height:80px'></div>
<div class='row-fluid'>
  <div class='span5 offset1'><h4>Want Insurance?</h4></div>
</div>
<div class='row' style='height:20px'></div>
<div class='row-fluid'>
  <div class='span5 offset1'>
    <label>Describe your package</label>
    <textarea class="span12" name="items" rows="8" placeholder='Write a short description and please note any special handling instructions for your driver.'></textarea>
  </div>
</div>
<div class='row' style='height:20px'></div>
</form>
<script type="text/javascript" src="/static/landing/scripts/foundation.min.js"></script>        
<script type="text/javascript" src="/static/landing/scripts/transition.js"></script>
 <script>
$(document).ready(function(){
    var v = [[0],[0]];
    click_ajax('#request_btn',['map0','map1'],['start','dest'],v,'#request_form',true, false);
});
  </script>
 <script>
  
$(document).ready(function(){
    /* Give the heading a pretty picture */
    hh = $('.heading').height()+20;
    $('.wash').height(hh);
    $('.hero_container').height(hh);
});
  </script>  
  <script type="text/javascript" src="/static/js/validation.js"></script>
    <script type="text/javascript">
function submitCallback(data, formURL) {
  timestamp = new Date().getTime();
  console.log(timestamp);
  console.log(formURL);
  $.ajax({
    type: "POST",
    dataType: "text",
    accepts: "text/html",
    contentType: "application/json; charset=utf-8",
    url: formURL,
    data: data,
    success: function(response) {
      timestamp = new Date().getTime();
      console.log(timestamp);
      document.open();
      document.write(response);
      document.close(); 
    }
  });
}
</script>
 <script>  
$(document).ready(function(){
  $('#swaploc').click(function() {
    var temp = $('input#map0Field').val();
    $('input#map0Field').val($('input#map1Field').val());
    $('input#map1Field').val(temp);
    temp = $('input#startlat').val();
    $('input#startlat').val($('input#destlat').val());
    $('input#destlat').val(temp);
    temp = $('input#startlon').val();
    $('input#startlon').val($('input#destlon').val());
    $('input#destlon').val(temp);    
    temp = $('input#startstr').val();
    $('input#startstr').val($('input#deststr').val());
    $('input#deststr').val(temp);    
  });
});
</script>