{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block heading %}<h1>About Barnacle</h1>{% endblock %}
{% block content %}

<div class='row-fluid'>
  <div class="fb-follow span3 offset9" data-href="https://www.facebook.com/GoBarnacle" data-width="250" data-show-faces="false"></div>
</div>
<div class="row-fluid">
  <div class="span3 offset1">
  <img src='/static/img/aj.jpg' class='img-rounded img-polaroid'>
  </div>
  <div class="span7">
<p>Here at Barnacle, we love going on road trips!</p>
<p>For those who don't, our network of drivers can help you deliver items that are uneconomical to send by mail. Barnacle drivers are commuting as part of their everyday lives, and your deliveries are just along for the ride.</p>
<p>Because Barnacle is a community, we look out for our drivers and users. 
Our happy customers have used us to transport bicycles, musical instruments, care packages, pets, and more! <br>
</p>
  </div>
</div>
<div class="row-fluid">    
  <div class="span10 offset1">
<p>
<br>
Barnacle drivers now service routes all over the San Francisco Bay Area. We also offer weekly deliveries between Northern California and the Greater Los Angeles Area. We have a central holding facility for dropoffs and pickups located in Mountain View, California. We have a another storage site just east of Los Angeles.
</p>
<p><a href='/loc'>How to find us</a>.</p>

<div class="row bottom">&nbsp;<hr></div>  
<h4>Team</h4>
<p>Barnacle was created by a team of engineers from Stanford, Harvard, and MIT. We're growing, and we want you to <a href='/jobs'>join us</a>!</p>
<br>
{% include 'share/mailchimp.html' %}

  </div>
</div>
{% endblock %}
