<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.gobarnacle.com/static/img/barnacle.png"/>
    <meta property="og:title" content="Barnacle"/>
    <meta property="og:url" content="http://www.gobarnacle.com"/>
    <meta property="fb:app_id" content="540602052657989"/>
    <meta property="og:site_name" content="Barnacle"/>
    <meta property="og:description" content="Barnacle is a crowdsourced shipping and transport community that matches drivers with people who need to send or receive shipments. Bulky or fragile items may be uneconomical to mail, or a hassle to wrap in packaging. Give them their own private seats in passenger vehicles!"/>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Sacramento|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/p2pps.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/landing/styles/font-awesome.min.css">
    <script src="/static/js/jquery-1.9.1.js"></script>
    <script src="/static/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="/static/js/modernizr.custom.js"></script>
    <script>
    function breakout_of_frame() {
        if (top.location != location)
            top.location.href = document.location.href ;
    }
    </script>
    {% block head %}
    {% endblock %}
</head>
  <body onload="breakout_of_frame()">
<span id='hidegoog' style='display:none'>{{hidegoog}}</span>
{% include "nav.html" %}
<div class='hero_bg row-fluid'>
  <div class="hero_container">  
    <div class="back_img"></div>
  </div>
  <div class="wash"></div>
</div>
<div class='heading hero_fg'>
  <div class="main row-fluid">
    <div class='span12'>
   {% block heading %}{% endblock %}
    </div>
  </div>
</div>
<br>
<div class="main">
    {% block content %}
    {% endblock %}
</div>

{% block content2 %}{% endblock %}
<br>
  <link rel="stylesheet" href="/static/css/foundation-grid.css">
{% include "landing/footer.html" %}


	<!-- signin -->
{% include 'signin-box.html' %}
{% block modal_windows %}
{% endblock %}
{% include 'google_analytics.html' %}
<script type="text/javascript" src="/static/js/fb.js"></script>
<script type="text/javascript" src="/static/js/modal-window.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/cookie.js"></script>
<script type="text/javascript" src="/static/js/signinup.js"></script>

</body>
</html>
