{% extends "base.html" %}
{% block title %}Barnacle Delivers{% endblock %}
{% block heading %}<h1>{% include "quicksearch.html" %}</h1>
{% endblock %}
{% block content %}

<div class="row-fluid">
  <div class="span8" style='padding-left:10px'>  
    <div class="hidden-phone">
        Current Driver Network:
        <div id="map-canvas" class="homemap"></div>
    </div>

    <div class="row" style='height:10px'></div>
    <div>
      <h4><small>Going on a roadtrip or commuting regularly? Offset your travel expenses.</small></h4>
    </div>
    <div>
        <button id='post_btn' class="button ">Be a Driver</button>
        &nbsp;&nbsp;
        <a href='/how'><button class="button compl hidden-phone">How it Works</button></a>
    </div>    

  </div>
  <div class="span4">
 
    <table class="table table-hover table-bordered" style="background-color:#eee; height:100%; width:90%" id="newsTable">
    <tr><th>
    News
    </th></tr>
    <tr><td>Welcome to Barnacle!</td></tr>
    <!--<tr class='clicky' onclick="document.location.href = '/account';" id='updates'>
    <td>You have no new delivery updates.</td></tr>-->
    </table>
    <div class="fb-follow" data-href="https://www.facebook.com/GoBarnacle" data-width="250" data-show-faces="false" style='padding-top:10px;padding-left:10px;'></div>
    
  </div>
</div>

<!--
    <div class="row"><div class="span10 contentpad20">
    <h4>Featured Requests</h4>
    <div id='dumpreqs'>
        <table class="table table-hover table-condensed">
        {% for nr in new_requests %}
        <tr class='clicky' onclick="document.location.href = '{{nr.post_url}}';">
            <td><img src="{{nr.prof_img}}" width='64px'></td>
            <td>{{nr.first_name}} needs to send {{nr.reqitems}} from {{nr.locstart}} to {{nr.locend}} by {{nr.delivby}}
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
    </div></div>
-->    

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
<script type="text/javascript" src="/static/js/maps/mapstyles.js"></script>
<script type="text/javascript" src="/static/js/maps/maphome.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var mapURL = '/route/json';
    initialize_home(mapURL);
    click_redirect('#post_btn','/drive');
    
    /* Get notifications */
    //Matches
  $.ajax({
    type: "GET",
    contentType: "json", 
    url: '/match/matches',
    success: function(q) {
      console.log(q);
      if (q.status=='ok') {
        matchstr='';
        if (parseInt(q.reqcount) > 0) 
          matchstr+='<tr class="clicky" onclick="document.location.href = \'/routes\';"><td>There are '+q.reqcount+ ' driver matches for your delivery requests.</td></tr>';
        if (parseInt(q.routecount) > 0) 
          matchstr+='<tr class="clicky" onclick="document.location.href = \'/routes\';"><td>There are '+q.routecount+ ' delivery requests that match your upcoming routes.</td></tr>';
        if (matchstr != '') {
          $('#newsTable tr:last').after(matchstr);
        }
      }
    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.log(textStatus);
      console.log(jqXHR);
     }
  });        
  //Delivery status
  $.ajax({
    type: "GET",
    contentType: "json", 
    url: '/news/status',
    success: function(q) {
      console.log(q);
      for (t in q) {
        rowstr = '<tr class="clicky" onclick="document.location.href = \''+ q[t].post_url + '\';"><td>';
        rowstr += 'Tracking information is available for your delivery to ' + q[t].locend + '.</td></tr>';
        $('#newsTable tr:last').after(rowstr);        
      }
    }
  });            
  //Review reminders
  $.ajax({
    type: "GET",
    contentType: "json", 
    url: '/news/reviews',
    success: function(q) {
      console.log(q);
      for (t in q) {
        rowstr = '<tr class="clicky" onclick="document.location.href = \''+ q[t].review_url + '\';"><td>';
        rowstr += 'Please leave a review for your delivery to ' + q[t].locend + '.</td></tr>';
        $('#newsTable tr:last').after(rowstr);        
      }
    }
  });    
    
    //If driver, people who need help from your location
  // Try HTML5 geolocation
  data = {};
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
    data.startlat = position.coords.latitude;
    data.startlon = position.coords.longitude;
    getRequestDump(data); 
    }, function() {
      getRequestDump(data); 
    });
  } else 
    getRequestDump(data);     
});

function postRedir(url) {
  $.ajax({
    type: "POST",
    url: url,
    success: function(q) {
      document.open();
      document.write(q);
      document.close(); 
      loadFBdata();      
    }
  });
}
function getRequestDump(data) {
  $.ajax({
    type: "POST",
    dataType: "json",
    contentType: "json",     
    data: JSON.stringify(data),
    url: '/match/dumprequests',
    success: function(q) {
        console.log(q);
        if (q.status == 'ok') {
          if (parseInt(q.count) > 0) {
            matchstr = '<tr class="clicky" onclick="postRedir(\''+q.link+'\')"><td>'+q.count+ ' users need to send packages from your location. Click to view.</td></tr>';
            $('table#newsTable tr:last').after(matchstr);
          }
        }
      }
  });            
}
function loadFBdata() {
    FB.getLoginStatus(function(response) {      
        if (response.status === 'connected') {
          $('.clicky').each(function() {
            var fbid = $(this).attr('data-fb');
            dumpFriends(fbid, $(this).next().find('.dumpfriends'),3);
            dumpThumb(fbid, $(this).find('td.dumpthumb'));
          });
        }
    });
}
</script>
{% endblock %}


