{% extends "base.html" %}
{% block title %}Careers at Barnacle{% endblock %}
{% block heading %}Current Openings{% endblock %}
{% block content %}
<div class="row-fluid densetxt">
  <div class="span10 offset1">
<p >At Barnacle, you will be working alongside some of the smartest developers in the field. </p>
<p>We are a small-but-powerful team of engineers. Every team member has a real impact on the direction of the company and we have a lot of fun. If you share our vision for bridging communities by providing peer-to-peer connections over long distances, please check out our open positions below.<br></p>
  </div>
</div>
<div class="row-fluid densetxt">    
  <div class="span10 offset1">
<br>
<b>UI Design Intern</b><br>
<p>Barnacle's UI/UX Designer will create flows, wireframes and other UX documentation for all Barnacle products, on both mobile and browser-based platforms. If you don't already have experience with Adobe CS, you will gain it quickly.</p>
<b>Engineering Intern</b><br>
<p>Barnacle's Engineering Interns dive right into development. They will work (and learn) alongside talented engineers. We use the latest tools and technologies and you will have the opportunity to work on all parts of the stack. If you are looking for a hands-on, challenging experience, check us out.</p>
<b>Back End Engineer</b><br>
<p>We are looking for fantastic software engineers to architect and build features and solutions. Whether you're a generalist or specialist, as long as you enjoy solving difficult problems, this role will be perfect for you. We will fit the role around the individual and their interests.</p>
<b>QA Engineer</b><br>
<p>Barnacle's QA Engineer will help test features of our products, and in the process help guide the future development of our platform.
You should have solid product and industry savvy, and be able to serve as the voice of the user to help guide the development of our products.</p>
<br>
<p>If you love what we do, send a message to <a href="mailto:jobs@gobarnacle.com">jobs@GoBarnacle.com</a> and tell us where you think you fit in.</p>
  </div>
</div>
{% endblock %}
