{% extends "base.html" %}
{% block title%}Message {{recv_name}}{% endblock %}
{% block heading%}<h1>Message {{recv_name}}</h1>{% endblock %}
{% block content %}
{{last_message}}
{{sender}}
<div class="row-fluid">
  <div class="span8 offset2">
  <form enctype="multipart/form-data" method="post" id='msg_form' class="form-horizontal">
    <div class="control-group">
        <label class="control-label">To:</label>
        <div class="controls">
            {{recv_name}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="subject">Subject:</label>
        <div class="controls">
            <input type="text" name="subject" value="{{subject}}" class="input-xlarge" id="subject">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <textarea class="input-xlarge" rows="8" name="msg" id="msg">{{msg}}</textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <label class="checkbox inline">
              <input type="checkbox" name="cc" value='1'> Send a copy to my email address
            </label>
        </div>
    </div>
    <input type="hidden" name="receiver" value="{{receiver}}">
    <p align="center">
    <button type="submit" class="button small secondary" id="msg_btn">send</button>
    </p>
</form>
</div>
</div>
<script>

$(document).ready(function(){
    click_submit('#msg_btn','#msg_form');
});
</script>
<script src="/static/js/jquery.validate.js"></script>
{% endblock %}