<div id="signin-box" class="modal fade in" style="display: none; ">  
<div id="fb-root"></div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="modal-body">  
<div class="btn-group fblogin">
  <button class="btn btn-primary" style='height: 42px'><div class="icons-fb"></div></button>
  <button class="btn btn-primary" style='height: 42px'>Log in with Facebook</button>
</div>
    <hr>
      <p>To establish trust in the community, we require that drivers sign up using their Facebook accounts. We will never post on your wall or share your information without your permission. Please read our <a href='/privacy' target='_blank'>privacy policy</a> to learn how we protect your information.</p>
      <p><small>
      
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle question" data-toggle="collapse" href="#fb0">Why do I need to connect with Facebook?</a>
      </div>
      <div id="fb0" class="accordion-body collapse">
        <div class="accordion-inner">Barnacle is a community. Having a Facebook account establishes an identity for our users and shows others that you are a real person. However, we do understand that some of our users really don't like connecting with their Facebook accounts. If that is you, <a href='/apply/nofb'>sign up here</a> and we will verify your identity to set  you up with a username and password.
        </div>
      </div>
    </div>  
      </small></p>      
    
  </div>
</div>  

<div id="invalid-box" class="modal fade in" style="display: none; ">  
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="modal-body">  
        <h4>Invalid Location.</h4>
    </div>
</div>  

<div id="invalid-route" class="modal fade in" style="display: none; ">  
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="modal-body">  
        <h4>Invalid Route.</h4>
    </div>
</div>  

<div id="modal-box" class="modal fade in" style="display: none; ">  
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="modal-body">  
        <h4 id='modal-msg'></h4>
    </div>
</div>  