{% extends "base.html" %}
{# View Reservation #}
{% block title%}{{sender_first_name}}'s Delivery Offer{% endblock %}
{% block heading %}{{sender_first_name}}'s Delivery Offer{% endblock %}
{% block content %}

<div class="row-fluid"><div class="span6 offset1">
    {% if edit_allow == True %} 
<button type="submit" class="btn btn-inverse" id="editres_btn">Edit Offer</button>
<button type="submit" class="btn btn-danger" id='delete_btn'>Delete Offer</button>
    {% endif %}
</div></div>
    {% include "forms/stubspop/offer_stub.html" %}
    {% include "res_buttons_stub.html" %}


{% endblock %}