{% extends "base.html" %}
{% block title %}Privacy{% endblock %}
{% block heading %}<h1>Privacy</h1>{% endblock %}
{% block content %}
<div class="contentpad20">
<p>Effective Date: July 13, 2013</p>
<p>
This Privacy Policy explains what information of yours will be collected by Barnacle (“Barnacle,” the "Site", “we,” or “us”) this Site, and how the information will be used and protected. We will not use or share your information with anyone except as described in this Privacy Policy. By using this Site, you agree to these practices.</p>

<h4>Information we Collect</h4>
<p>
We do not collect personally identifiable information about you when you browse through this website without creating an account. We may record information that your web browser routinely shares, such as your browser type, browser language, software and hardware attributes, the date and time of your visit, the web page from which you came, your Internet Protocol address and the geographic location associated with that address, the pages on this Site that you visit and the time you spent on those pages. This is anonymous data that we collect on an aggregate basis. </p>
<p>
We may collect personally identifiable information about you through our website when you obtain an account, such as your name and email address. 
This is done using Facebook Connect. This service will authenticate your identity and provide you the option to share certain personal information with us such as your name, email address, and picture to pre-populate your profile. Facebook Connect gives you the option to post information about your activities on this website to your profile page to share with others within your network.
</p><p>
We do not send any promotional emails; however, we may send you service related emails related to your account. Other than basic information that we need to establish your account, it will be up to you to decide how much information to share as part of your profile. You may review and revise your profile at any time.
</p>
<p>
Cookies Information: We may send one or more cookies — a small text file containing a string of alphanumeric characters — to your computer that uniquely identifies your browser and lets us learn about your behavior and usage patterns when you are on our Site. We do not use cookies to collect personal information about you. A persistent cookie remains on your hard drive after you close your browser. Persistent cookies may be used by your browser on subsequent visits to the Service. Persistent cookies can be removed by following your web browser’s directions. A session cookie is temporary and disappears after you close your browser. You can reset your web browser to refuse all cookies or to indicate when a cookie is being sent.
</p>
<h4>How We Use Your Information</h4>
<p>When you provide us with your contact information, we will use that information to communicate with you about your use of our service. For example, when you have entered into a confirmed transaction with another user, we will use your contact information to notify you of the transaction. We also have a "send message" feature that allows users of our Site to communicate with Barnacle members. With this feature, you can create a message and we will send it on your behalf through an anonymized address. </p>
<h4>Ratings and Reviews</h4>
<p>You will be able to rate and review any user whom you transact with. If you choose to submit a rating, this will be aggregated with other ratings and available to other registered users of the Site. If you submit a review, your review along with your user name will be posted for everyone to see.</p>

<h4>How We Share Your Information</h4>
<p>Personally Identifiable Information: Barnacle will not rent or sell your personally identifiable information to others. We may store personal information in locations outside the direct control of Barnacle (for instance, on servers or databases co-located with hosting providers). Any personally identifiable information you elect to make publically available on the Site will be available to other Users. If you remove information that you have made public on the Site, copies may remain viewable in cached and archived pages of the Site, or if other Users have copied or saved that information.
</p>
<h4>How We Protect Your Information</h4>
<p>Barnacle is concerned with protecting your privacy and data, but we cannot ensure or warrant the security of any information you transmit to the Site or guarantee that your information on the Service may not be accessed, disclosed, altered, or destroyed by breach of any of our industry standard physical, technical, or managerial safeguards. </p>
<p>
In the event that personal information is compromised as a result of a breach of security, Barnacle will promptly notify those persons whose personal information has been compromised, in accordance with the notification procedures set forth in this Privacy Policy, or as otherwise required by applicable law.
</p>
<h4>Changes to our Privacy Policy</h4>
<p>
If we change our privacy policies and procedures materially, we will post those changes on the Site to keep you aware of what information we collect, how we use it and under what circumstances we may disclose it. Changes to this Privacy Policy are effective when they are posted on this page. When we change the policy in a material manner we will let you know and by updating the ‘effective date’ at the top of this page.
</p>
</div>
{% endblock %}
  