{% extends "base.html" %}

{% block title%}{{first_name}}{% endblock %}
{% block heading%}{{first_name}}{% endblock %}
{% block content %}
{% include "forms/stubspop/profile_stub.html" %}
{% if fbfriend==True %}
{% include "msg_link.html" %}
{% endif %}
  <script>
$(document).ready(function(){
    click_redirect('#review_btn','{{review_url}}');
    click_redirect('#msg_btn','{{message_url}}');
    {% if m==1 %}
      window.location.hash = 'notif-msg';
    {% endif %}
    {% if m==2 %}
      window.location.hash = 'notif-rev';
    {% endif %}
});
</script>
<div id='notif-msg' class="modal hide fade in" style="display: none; "><div class="modal-body"><h4>Message Sent!</h4></div></div>
<div id='notif-rev' class="modal hide fade in" style="display: none; "><div class="modal-body"><h4>Thank you for your review!</h4></div></div>
{% endblock %}