 <form enctype="multipart/form-data" action="/search" id="search_form" method="post" class="form-inline">
  <div class="row-fluid">
    <div class="span3">
      <input type="text" name="start" id='map0Field' placeholder='Enter Your Origin'><br>
      <span class="error" id='map0Err'></span>
    </div><div class="span3">
      <input type="text" name="dest" id='map1Field' placeholder='Enter Your Destination'><br>
      <span class="error" id='map1Err'></span>
    </div><div class="span3">
	  <button type="submit" class="btn btn-info" id="search_btn">Find a Driver</button>
    </div>
  </div>
    <input type='hidden' name="startlat" id="startlat">
    <input type='hidden' name="startlon" id="startlon">
    <input type='hidden' name="destlat" id="destlat">
    <input type='hidden' name="destlon" id="destlon">      
</form>
<script>
$(function() {     
  var v = [[1],[1]];
  click_validloc('#search_btn',['map0','map1'],['start','dest'],v,'#search_form',false);
});
</script>
<script type="text/javascript" src="/static/js/validation.js"></script>