{% extends "base.html" %}
{# Public View of Posts #}
{% block title%}Review Your Delivery Request{% endblock %}
{% block heading %}<h1>Review Your Delivery Request</h1>{% endblock %}
{% block content %}
    {% include "forms/stubspop/request_review.html" %}
<div class="row-fluid"><div class="span6 offset6">
<button type="submit" class="button primary" id="request_btn">Update Request</button>
<button type="submit" class="button secondary" id='delete_btn'>Delete Request</button>
</div></div>
<script type="text/javascript">
$(document).ready(function(){
    click_submit('#request_btn','#request_form');
    add_confirmation_dialog('{{delete_url}}',"delete_btn");    
});
</script>

{% endblock %}