{% extends "base.html" %}
{# Public View of Posts #}
{% block title%}{{first_name}}'s Delivery Request{% endblock %}
{% block heading %}{{first_name}}'s Needs a Delivery{% endblock %}
{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<div class="row-fluid"><div class="span6 offset1">
    {% if edit_allow == True %} 
<button type="submit" class="btn btn-inverse" id="editpost_btn">Edit Request</button>
        {% if num_confirmed == 0 %}
<button type="submit" class="btn btn-danger" id='delete_btn'>Delete Request</button>
        {% else %}
<button class="btn btn-danger btn-mini" disabled>{{num_confirmed}} Confirmed Reservations</button>
        {% endif %}
    {% endif %}
<button type="submit" class="btn btn-primary btn-mini" id='fb_btn'>Facebook Share</button>    
</div></div>
<div class="row"><div class="span10 offset1">
    {% if num_offers!=0 and edit_allow==True %}
    <table class='table table-striped table-hover table-condensed table-mini'>
        <thead><tr>
        <td>From</td>
        <td>Deliver By</td>
        <td>Price</td>
        <td>Confirmed?</td>
        </tr></thead>
        {% for res in resdump %}
        <tr class='clicky' onclick="document.location.href = '{{res.reserve_url}}';">
            <td>{{res.sender}}</td>
            <td>{{res.delivby}}</td>
            <td>${{res.price}}</td>
            <td>{% if res.confirmed==True %}<span class="text-error">Yes</span>{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
</div></div>
    {% include "forms/stubspop/request_stub.html" %}
    {% include "forms/stubspop/prof_box.html" %}
<div class="row-fluid">
  <div class="span8 offset1 btn-group">
  <button type="submit" class="btn" id="viewprof_btn">View {{first_name}}'s profile</button>
  {% if msg_ok == True %}
  <button type="submit" class="btn" id="message_btn">Message {{first_name}}</button>
  {% endif %}
  <button type="submit" class="btn" id="reserve_btn">Offer to Deliver</button>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    {% include 'share/fb_request.html' %}
    {% if share_onload == True %}
      window.open(fb_url, '', 'width=800,height=500,scrollbars=no,location=no');
    {% endif %}    
    click_redirect('#viewprof_btn','{{profile_url}}');
    click_redirect('#message_btn','{{message_url}}');        
    click_redirect('#reserve_btn','{{reserve_url}}');
    click_redirect('#editpost_btn','{{edit_url}}');
    add_confirmation_dialog('{{delete_url}}',"delete_btn");    
    click_facebook('#fb_btn',fb_url);
});
</script>

{% endblock %}