{% extends "base.html" %}
{# Public View of Posts #}
{% block title%}{{first_name}}'s Delivery Request{% endblock %}
{% block heading %}<h1>{{first_name}} Needs a Delivery</h1>{% endblock %}
{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<div class="row"><div class="span10 offset1">
    {% if num_offers!=0 and edit_allow==True %}
    <table class='table table-striped table-hover table-condensed table-mini'>
        <thead><tr>
        <td>From</td>
        <td>Deliver By</td>
        <td>Price</td>
        <td>Confirmed?</td>
        </tr></thead>
        {% for res in resdump %}
        <tr class='clicky' onclick="document.location.href = '{{res.reserve_url}}';">
            <td>{{res.sender}}</td>
            <td>{{res.delivby}}</td>
            <td>${{res.price}}</td>
            <td>{% if res.confirmed==True %}<span class="text-error">Yes</span>{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% if num_matches!=0 and edit_allow==True %}
    <table class='table table-striped table-hover table-condensed table-mini'>
    <thead><tr>
    <td colspan=2><span class="text-error">Matching Routes</span></td>
    <td>Destination</td>
    <td>Departure Date</td>    
    </tr></thead>
    {% for m in matchdump %}
    <tr class='clicky' onclick="document.location.href = '{{m.post_url}}';">
        <td></td>
        <td>{{m.locstart}}</td><td>{{m.locend}}</td>
        <td>{{m.delivstart}}</td>
    </tr>
    {% endfor %} 
    </table>
    {% endif %}    
</div></div>
    {% include "forms/stubspop/request_stub.html" %}
<div class="row-fluid"><div class="span6 offset1">
    {% if edit_allow == True %} 
<button type="submit" class="button" id="editpost_btn">Edit Request</button>
        {% if num_confirmed == 0 %}
<button type="submit" class="button secondary" id='delete_btn'>Delete Request</button>
        {% else %}
<button class="button secondary tiny" disabled>{{num_confirmed}} Confirmed Reservations</button>
        {% endif %}
    {% endif %} 
</div>
<div class="span5">
  <button type="submit" class="button compl" id="reserve_btn">Offer to Deliver</button>  
</div>
</div>
<br>

<script type="text/javascript">
$(document).ready(function(){
    {% include 'share/fb_request.html' %}
    if(window.location.href.indexOf('?')>0) {
      var name = window.location.href.split('?')[1]
      if (name=='fb')
        window.open(fb_url, '', 'width=800,height=500,scrollbars=no,location=no');
    }
    click_redirect('#viewprof_btn','{{profile_url}}');
    click_redirect('#message_btn','{{message_url}}');        
    click_redirect('#reserve_btn','{{reserve_url}}');
    click_redirect('#editpost_btn','{{edit_url}}');
    add_confirmation_dialog('{{delete_url}}',"delete_btn");    
    click_facebook('#fb_btn',fb_url);
});
</script>

{% endblock %}

{% block content2 %}
<div class="row-fluid heading" id='simreqs'><div class="span10 offset1">
<h3>Other Requests Along the Way</h3>
<p>Still have space in your car? Check out these other nearby requests for more delivery opportunities.</p>
<table class="table table-striped table-hover" id='dumpreqs'>
  <tr>
    <th>Sender</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Deliver By</th>
  </tr>
</table>
<br>
</div></div>
<script type="text/javascript">
$(document).ready(function(){
    data = {'key':'{{routekey}}'};
    $('#simreqs').hide();
    getRequestDump(data);
});
function getRequestDump(data) {
  $.ajax({
    type: "POST",
    dataType: "json",
    contentType: "json",     
    data: JSON.stringify(data),
    url: '/match/dumpreqsdest',
    success: function(q) {
        console.log(q);
        if (q.status == 'ok') {
          if (parseInt(q.count) > 0) {
            for (k in q.posts) {
              if (q.posts[k].routekey != '{{routekey}}') {
                $('#simreqs').show();
                buf = '<tr class="clicky"';
                if (typeof q.posts[k].fbid != 'undefined') 
                  buf += 'data-fb="'+ q.posts[k].fbid+'" ';
                buf += 'onclick="document.location.href = \'/post/request\/';
                buf += q.posts[k].routekey +'\';"><td ';
                if (typeof q.posts[k].fbid != 'undefined') 
                  buf += 'rowspan="2"';
                buf += '><img height="50px" src="';
                buf += q.posts[k].thumb_url+'"><br>'; 
                buf += q.posts[k].first_name+ '</td><td>';
                buf += q.posts[k].start+ '</td><td>';
                buf += q.posts[k].dest+ '</td><td>';
                buf += q.posts[k].delivby+ '</td>';
                if (typeof q.posts[k].fbid != 'undefined') 
                  buf += '<tr><td colspan="4">Mutual Friends: <div class="dumpfriends">None.</div></td></tr>';
                buf += '</tr>';    
                $('table#dumpreqs tr:last').after(buf);
              }
            } 
            loadFBdata();
          } else
            $('#simreqs').hide();
        }
      }
  });            
}
function loadFBdata() {
    FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          $('.clicky').each(function() {
            var fbid = $(this).attr('data-fb');
            if (fbid != 'undefined') {
              dumpFriends(fbid, $(this).next().find('.dumpfriends'),3);
            }
          });
        }
    });
}
</script>
{% endblock %}