<div class="row-fluid">
  <div class="span8 offset1 btn-group">
  {% if is_receiver == True %}
  <button type="submit" class="button info" id="viewprof_btn">View {{sender_first_name}}'s Profile</button>
  {% endif %}
  <button type="submit" class="button info" id="viewroute_btn">View {{receiver_first_name}}'s Route</button>
  {% if is_receiver == True or is_sender == True %}{% if msg_ok == True %}
  <button type="submit" class="button info" id="message_btn">Send Message</button>
  {% endif %}{% endif %}
  
  {% if confirm_allow %}
  <button type="submit" class="button primary confirm" id="confirmres_btn">Confirm</button>
  <button type="submit" class="button secondary decline" id="decline_btn">Decline</button>
  {% endif %}
  </div>
</div>
{% include 'forms/msgbox.html' %}
  
<script type="text/javascript">
$(document).ready(function(){
    click_redirect('#viewprof_btn','{{sender_profile_url}}');
    click_redirect('#viewroute_btn','{{post_url}}');
    click_redirect('#editres_btn','{{edit_url}}');
    add_confirmation_dialog('{{confirm_url}}',"confirmres_btn");
    add_confirmation_dialog('{{delete_url}}',"delete_btn");
    add_confirmation_dialog('{{decline_url}}',"decline_btn");
});

</script>