{% extends "base.html" %}
{% block title %}Search for a Driver{% endblock %}
{% block heading %}<h1>Search for a Driver</h1>{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />  
<div class="row-fluid">
    <div class="span3 offset8" style='text-align:right'>
        <p>Driving somewhere? <br>Search <a href="/search/request"><button class="btn btn-info btn-mini">Delivery Requests</button></a></p> 
    </div><div class='span1 visible-desktop'></div> 
</div>
<div class="row-fluid">
  <div class="span10 offset1">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="/static/js/maps/mapsclient.js"></script>

 <form enctype="multipart/form-data" method="post" class="form-horizontal" id="search_form">
    <div class="control-group">
        <label class="control-label">Origin:</label>
        <div class="controls">
          <input class="input input-xlarge" type="text" name="start" id='map0Field'>
          <span class="help-inline error" id='map0Err'>{{error_route}}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="dest">Destination:</label>
        <div class="controls">
          <input class="input input-xlarge" type="text" name="dest" id='map1Field'>
          <span class="help-inline error" id='map1Err'>{{error_route}}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="dates">Deliver By:</label>
        <div class="controls">
        <input class="input-small" type="text" name="enddate" id="enddate" autocomplete="off" value="{{delivend}}">
        </div>
    </div>   
    <input type='hidden' name="startlat" id="startlat">
    <input type='hidden' name="startlon" id="startlon">
    <input type='hidden' name="destlat" id="destlat">
    <input type='hidden' name="destlon" id="destlon">  
    <p align="center">
	<button type="submit" class="btn" id="search_btn">Search</button>
    </p>
</form>
  </div> 
</div>
<div class="row-fluid">
  <div class="span8 offset2">
    <p>Or, click on map to select route points.</p>
    <div id="map-canvas" class="homemap"></div>
</div>
</div>    
  <script>
  $(function() {
    $('.navicosearch').addClass('onbutton');
    $( "#enddate" ).datepicker({
      minDate: 0,
      maxDate: "+1Y",
      changeMonth: true,
    });
    var v = [[1],[1]];
    click_validloc('#search_btn',['map0','map1'],['start','dest'],v,'#search_form',false);
  });
  </script>
  <script type="text/javascript" src="/static/js/validation.js"></script>
{% endblock %}
