{% extends "base.html" %}
{% block title %}Search Delivery Requests{% endblock %}
{% block heading %}Search Delivery Requests{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<div class="row-fluid">
  <div class="span10 offset1">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="/static/js/maps/mapssearchreq.js"></script>
 <form enctype="multipart/form-data" method="post" class="form-horizontal" id="search_form">
<br>
    <div class="control-group">
        <label class="control-label" for="start">Origin:</label>
        <div class="controls">
          <input class="input input-xlarge" type="text" name="start" id='map0Field' keyup="check_clear()">
          <span class="help-inline error" id='map0Err'>{{error_route}}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="dest">Destination:<br>(Optional)</label>
        <div class="controls">
          <input class="input input-xlarge" type="text" name="dest" id='map1Field' keyup="check_clear()">
          <span class="help-inline error" id='map1Err'>{{error_route}}</span>
        </div>
    </div>    
    <input type='hidden' name="startlat" id="startlat">
    <input type='hidden' name="startlon" id="startlon">
    <input type='hidden' name="destlat" id="destlat">
    <input type='hidden' name="destlon" id="destlon">     
    <p align="center">
	<button type="submit" class="btn" id="search_btn">Search</button>
    </p>
</form>
    <button class="btn" id="city_btn">City Lookup</button>
</div></div>
<div class="row-fluid">
  <div class="span8 offset2">
    <div id="map-canvas" class="homemap"></div>
</div>
</div>
  <script>
  $(function() {
    $('.navicosearch').addClass('onbutton');
    mapallURL = '/search/reqseo';
    initialize(mapallURL);
    /**
    vtest = [[0],['input#map1Field','']];
    click_validloc('#search_btn',['map0','map1'],['start','dest'],
        vtest,'#search_form',false);
    **/
    $('#search_btn').click(function(event) {
      event.preventDefault();
      // Update map with results
      if ($("input#map0Field").val()=='')
        initialize(mapallURL);
      else {
        mapURL = mapallURL + "?startlat=" + $("input#startlat").val() + "&startlon=" + $("input#startlon").val() + "&destlat=" + $("input#destlat").val() + "&destlon=" + $("input#destlon").val();
        initialize(mapURL);
      }
    });

    $('#city_btn').click(function(event) {
      event.preventDefault();
      citydata = "startlat=" + $("input#startlat").val() + "&startlon=" + $("input#startlon").val() + "&destlat=" + $("input#destlat").val() + "&destlon=" + $("input#destlon").val();

        $.ajax({
          type: "POST",
          url: '/search/citylut?'+citydata,
          contentType: "json",  
          success: function(route){      
            console.log(route);
            // WARREN: Here you should replace the URL with the city names that are returned, and the $(input#startlat), $(input#startlon), $(input#destlat), $(input#destlon) should be replaced with the returned results from the new cities
          }
        });
    });
  });
function check_clear() {
  var input0 = $("input#map0Field").val();
  var input1 = $("input#map1Field").val();
  if (input0=='') {
    $('input#startlat').val('');
    $('input#startlon').val('');
  }
  if (input1=='') {
    $('input#destlat').val('');
    $('input#destlon').val('');
  }  
}  
  </script>
  <script type="text/javascript" src="/static/js/validation.js"></script>
{% endblock %}
