{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block heading %}Search Results{% endblock %}

{% block content %}
<div class="contentpad10 row">
  <div class="span10 offset1">
  <br>
  <table class="table table-striped table-hover">
    <thead><tr>
        <th>Sender</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Deliver By</th>
    </tr></thead>
        {% for post in posts %}
    <tr class='clicky' onclick="document.location.href = '{{post.post_url}}';">
        <td>
        <img height="50px" src="{{post.thumb_url}}"><br>
        {{post.first_name}}</td>
        <td>{{post.start}}</td>
        <td>{{post.dest}}</td>
        <td>{{post.delivby}}</td>
    </tr>
            {% endfor %}
  </table>
  <br>
  </div>
</div>
{% endblock %}
  <script>
  $(function() {
    $('.navicosearch').addClass('onbutton');
    });
  </script>