<div class='hero_bg row-fluid'>
  <div class="hero_container">  
    <div class="back_img"></div>
  </div>
  <div class="wash"></div>
</div>
<div class='heading hero_fg'>
  <div class="main row-fluid">
    <div class='span12'>
    <h1>Search Results</h1>
    </div>
  </div>
</div>
<br>
<div class="main">

<div class="row">
  <div class="span10 offset1">
  <br>
  <table class="table table-striped table-hover">
    <thead><tr>
        <th>Sender</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Deliver By</th>
    </tr></thead>
        {% for post in posts %}
    <tr class='clicky' data-fb='{{post.fbid}}' onclick="document.location.href = '{{post.post_url}}';">
        <td {% if post.fbid %}rowspan='2'{% endif %}>
        <img height="50px" src="{{post.thumb_url}}"><br>
        {{post.first_name}}</td>
        <td>{{post.start}}</td>
        <td>{{post.dest}}</td>
        <td>{{post.delivby}}</td>
	  {% if post.fbid %}
	  <tr>
		<td colspan='4'>Mutual Friends: <div class='dumpfriends'>None.</div></td>
	  </tr>
	  {% endif %}        
    </tr>
            {% endfor %}
  </table>
  <br>
  </div>
</div>
</div>
<br>