<div class='row-fluid'><div class='span10 offset1'>
  <a id='sizechart'></a>
  <h4>Size Chart</h4>
  <table class='table table-bordered'>
    <tr><td></td><td></td><th>Max Dimensions</th></tr>
    <tr><td style='text-align:center;'>
      <label><img src='/static/img/icons/icocap4.png' class='sizechart'><br>Passenger Seat</label>
    </td><td>Cargo that would fit on a passenger seat.<br>About the size of an airline carry-on bag.</td><td>L: 16"<br>W: 16"<br>H: 24"</td></tr>
    <tr><td style='text-align: center'>
      <label><img src='/static/img/icons/icocap0.png' class='sizechart'><br>Trunk</label>
    </td><td>Cargo that would fit in a car trunk.<br>About the size of two stacked suitcases.</td><td>L: 18"<br>W: 36"<br>H: 24"</td></tr>  
    <tr><td style='text-align: center'>
      <label><img src='/static/img/icons/icocap1.png' class='sizechart'><br>Wagon</label>
    </td><td>Cargo that would fit in an SUV or station wagon with folded seats.<br>Larger if permitted by the driver.</td><td>L: 48"<br>W: 36"<br>H: 24"</td></tr>
  </table>
</div></div>