{% extends "base.html" %}
{% block title %}Barnacle Spring Break{% endblock %}
{% block heading %}<h1>Spring Break Road Trip Contest</h1>
{% endblock %}
{% block content %}

<div class="row-fluid">
  <div class="span8" style='padding-left:10px'>
      
      You like to drive.  You like to win.  Barnacle wants you to do both!  Our Spring Break Road Trip Contest is now live.  <b>To win, simply log the most miles</b> using our new <a href="/tracker" target="_blank">driver tracker app</a> by March 31.
      <br/><br/>
      <img src="/static/img/springbreak-roadtrip.jpg"><br/><br/>
          <h4>Instructions:</h4>
          <ol style="margin-left: 30px;">
              <li><b>Register</b>: Fill out <a href="https://docs.google.com/forms/d/15kVle1bEd2Ivs9Dh1W_j3-WO0KIDGXriihR9cj_ybAM/viewform">this simple form</a> so we know you're participating.'
              <li><b>Download app</b>: It's free!  Works best on <a href="https://itunes.apple.com/us/app/barnacle-driver-tracker/id797355394?ls=1&mt=8">iPhone</a> but also works with <a href="https://play.google.com/store/apps/details?id=com.gobarnacle">Droids</a></li>
              <li><b>Post a route</b>: This can be done <a href="/drive">on our site</a> or in app</li>
              <li><b>Activate the route</b>: Within the app, visit the "Manage Routes" page and make sure your route is active.</li>
              <li><b>Start Your Drive</b>: Within the app, click "Start Drive".</li>
              <li><b>Repeat:</b> Keep doing steps 2 through 4 until you can't drive any more'
          </ol>
          <br/>
          Bonus Amazon gift cards will be awarded for people who post the best pictures (as voted by our judges) and for those who post their route on Facebook and get the most likes from their friends.
          <br/>
          <br/>
    
    <div class="row"><div class="span8">
      <div id="map-canvas" class="routemap"></div>
    </div></div>
  </div>
  <div class="span4">

 
      <h4>Current Leaderboard</h4>
      
      <table class="table table-hover table-condensed">
          <tr class='clicky' onclick="document.location.href = 'http://gobarnacle.com/profile/agtzfnAycHBvc3RhbHIWCxIJVXNlclByZWZzGICAgMCM2q8KDA';">
              <td><b>1</b></td>
              <td><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c0.0.720.720/p720x720/1472796_10202466803940741_1076575854_n.jpg" width='64px'></td>
              <td>Tammy: <a href="http://www.gobarnacle.com/track/view/agtzfnAycHBvc3RhbHIZCxIMVHJhY2tlck1vZGVsGICAgMCM1aAKDA">1096 Miles</a></td>
          </tr>
 
          <tr class='clicky' onclick="document.location.href = 'http://www.gobarnacle.com/profile/agtzfnAycHBvc3RhbHIWCxIJVXNlclByZWZzGICAgICDwZEIDA';">
              <td><b>2</b></td>
              <td><img src="http://profile.ak.fbcdn.net/hprofile-ak-frc3/t1.0-1/c120.0.720.720/1375006_10101734183663957_742946334_n.jpg" width='64px'></td>
              <td>Zack: <a href="http://www.gobarnacle.com/track/view/agtzfnAycHBvc3RhbHIZCxIMVHJhY2tlck1vZGVsGICAgMDEpfUJDA">237 Miles</a></td>
          </tr>
          
          <tr class='clicky' onclick="document.location.href = 'http://www.gobarnacle.com/profile/agtzfnAycHBvc3RhbHIWCxIJVXNlclByZWZzGICAgIDr0LQLDA';">
              <td><b>3</b></td>
              <td><img src="http://www.gobarnacle.com/img/4966814803034112?key=fFBExVqZTU" width='64px'></td>
              <td>Angi: <a href="http://www.gobarnacle.com/track/view/agtzfnAycHBvc3RhbHIZCxIMVHJhY2tlck1vZGVsGICAgMCo4_UIDA">102 Miles</a></td>
          </tr>
          <!--
          <tr class='clicky' onclick="document.location.href = 'http://www.gobarnacle.com/profile/agtzfnAycHBvc3RhbHIWCxIJVXNlclByZWZzGICAgMDk97ELDA';">
              <td><b>3</b></td>
              <td><img src="http://profile.ak.fbcdn.net/hprofile-ak-prn1/t1.0-1/c127.37.466.466/71935_1679174620625_3332303_n.jpg" width='64px'></td>
              <td>Charles: <a href="http://www.gobarnacle.com/track/view/agtzfnAycHBvc3RhbHIZCxIMVHJhY2tlck1vZGVsGICAgMCU6KgJDA">39 Miles</a></td>
          </tr>-->
      </table>
      
      <hr>
      <h4>FAQ</h4>

      <i>What Do I Win?</i>
      <br/>
      The grand prize winner will receive one aluminum "gift bag" from our friends at Mumford Brewery.<br/>
      <center><img src="/static/img/springbreak-aluminum.jpg" width="100"></center>
      <br/><br/>
      <i>Cool!  What's Inside the Gift Bag?</i>
          
          <br/>Our lawyers say we can't say what specifically is inside, so you'll have to use your imagination :)
          <br/><br/>
          
          <i>That's Too Good to be True!  What's the Catch?</i>
          <br/>
          No catch.  We need some drivers to test out our new app for when we put it live.  We'll probably ask you for your feedback at some point.

      
      <div class="fb-follow" data-href="https://www.facebook.com/GoBarnacle" data-width="250" data-show-faces="false" style='padding-top:10px;padding-left:10px;'></div>
      
  </div>
</div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
<script type="text/javascript" src="/static/js/maps/mapstyles.js"></script>
<script type="text/javascript" src="/static/js/maps/maphome.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var mapURL = '/route/json';
    initialize_home(mapURL);
    click_redirect('#post_btn','/drive');
    
    /* Get notifications */
    //Matches
  $.ajax({
    type: "GET",
    contentType: "json", 
    url: '/match/matches',
    success: function(q) {
      console.log(q);
      if (q.status=='ok') {
        matchstr='';
        if (parseInt(q.reqcount) > 0) 
          matchstr+='<tr class="clicky" onclick="document.location.href = \'/routes\';"><td>There are '+q.reqcount+ ' driver matches for your delivery requests.</td></tr>';
        if (parseInt(q.routecount) > 0) 
          matchstr+='<tr class="clicky" onclick="document.location.href = \'/routes\';"><td>There are '+q.routecount+ ' delivery requests that match your upcoming routes.</td></tr>';
        if (matchstr != '') {
          $('#newsTable tr:last').after(matchstr);
        }
      }
    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.log(textStatus);
      console.log(jqXHR);
     }
  });        
  //Delivery status
  $.ajax({
    type: "GET",
    contentType: "json", 
    url: '/news/status',
    success: function(q) {
      console.log(q);
      for (t in q) {
        rowstr = '<tr class="clicky" onclick="document.location.href = \''+ q[t].post_url + '\';"><td>';
        rowstr += 'Tracking information is available for your delivery to ' + q[t].locend + '.</td></tr>';
        $('#newsTable tr:last').after(rowstr);        
      }
    }
  });            
  //Review reminders
  $.ajax({
    type: "GET",
    contentType: "json", 
    url: '/news/reviews',
    success: function(q) {
      console.log(q);
      for (t in q) {
        rowstr = '<tr class="clicky" onclick="document.location.href = \''+ q[t].review_url + '\';"><td>';
        rowstr += 'Please leave a review for your delivery to ' + q[t].locend + '.</td></tr>';
        $('#newsTable tr:last').after(rowstr);        
      }
    }
  });    
    
    //If driver, people who need help from your location
  // Try HTML5 geolocation
  data = {};
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
    data.startlat = position.coords.latitude;
    data.startlon = position.coords.longitude;
    getRequestDump(data); 
    }, function() {
      getRequestDump(data); 
    });
  } else 
    getRequestDump(data);     
});

function postRedir(url) {
  $.ajax({
    type: "POST",
    url: url,
    success: function(q) {
      document.open();
      document.write(q);
      document.close(); 
      loadFBdata();      
    }
  });
}
function getRequestDump(data) {
  $.ajax({
    type: "POST",
    dataType: "json",
    contentType: "json",     
    data: JSON.stringify(data),
    url: '/match/dumprequests',
    success: function(q) {
        console.log(q);
        if (q.status == 'ok') {
          if (parseInt(q.count) > 0) {
            matchstr = '<tr class="clicky" onclick="postRedir(\''+q.link+'\')"><td>'+q.count+ ' users need to send packages from your location. Click to view.</td></tr>';
            $('table#newsTable tr:last').after(matchstr);
          }
        }
      }
  });            
}
function loadFBdata() {
    FB.getLoginStatus(function(response) {      
        if (response.status === 'connected') {
          $('.clicky').each(function() {
            var fbid = $(this).attr('data-fb');
            dumpFriends(fbid, $(this).next().find('.dumpfriends'),3);
            dumpThumb(fbid, $(this).find('td.dumpthumb'));
          });
        }
    });
}
</script>
{% endblock %}


