{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span8 offset1"><h3>Meet the Team</h3></div>
</div>
<div class="row-fluid">
    <table style="width:100%; margin-bottom:25px;">
        <tr>
            <td style="width:10%;vertical-align:top;">
                <img src="/static/warren_construction.jpg" style="border: 1px solid black">
                <p style="text-align:center;"><strong>Warren Mar<strong><br>
                Lead Builder and Developer
                </p>
                <p><a href="http://www.linkedin.com/in/warrenmar"><img src="/static/imgs/xicon_in.png"></a> 
                  <a href="https://github.com/wmar"><img src="/static/imgs/xicon_git.png"></a> 
                  <a href="mailto:warren@bumpscientist.com"><img src="/static/imgs/xicon_email.png"></a> 
                </p>
            </td>
            <td style="width:40%; vertical-align:top;">
                <p style="padding-left:5px; padding-right:20px;">
                    WARREN is part of the construction crew. As a PhD student at Stanford University, he worked in an underground lair to build new materials atom by atom. He previously worked on solar cells, MEMS accelerometers and MEMS displays. He is now a master of data science and app development. When he isn't building stuff, he can be found squeezing in a run.
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:10%;vertical-align:top;">   
                <img src="/static/elaine_team.jpg" width='128px' style="border: 1px solid black">
                <p style="text-align:center;"><strong>Elaine Ou</strong><br>
                Chief Crash Test Dummy
                </p>
                <p><a href="http://www.linkedin.com/in/elaineo"><img src="/static/imgs/xicon_in.png"></a> 
                  <a href="https://github.com/elaineo"><img src="/static/imgs/xicon_git.png"></a> 
                  <a href="https://www.facebook.com/profile.php?id=219360"><img src="/static/imgs/xicon_fb.png"></a>  
                  <a href="mailto:elaine@bumpscientist.com"><img src="/static/imgs/xicon_email.png"></a>                   
                </p>
            </td>
            <td style="width:40%; vertical-align:top;">
                <p style="padding-left:5px; padding-right:20px;">
                    ELAINE has a PhD in EE and Management Science from Stanford University. Previously, she was a faculty member at the University of Sydney. She was also the founder of Aurora Finance LLC, a financial software company. She has since found her true calling in life as a long-haul truck driver for Barnacle. 
                </p>
            </td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td style="width:10%;vertical-align:top;">                
                <img src="/static/poca_team.jpg" width='128px' style="border: 1px solid black">
                <p style="text-align:center;"><strong>Poca Bear</strong><br>
                Foot Soldier and Evangelist
                </p>
            </td>
            <td style="width:40%; vertical-align:top;">
                <p style="padding-left:5px; padding-right:20px;">
                    POCA has a degree in Physics from UC San Diego. He once ran for political office in Massachusetts and mastered the art of cold-calling. He is now hard at work on solving all the problems of the world, so don't be surprised when all your problems suddenly vanish. It was Poca.
                </p>
            </td>            
        </tr>
        <tr>
            <td><br></td>
        </tr>
    </table>
</div>

{% endblock %}
