{% extends "base.html" %}
{# View Reservation #}
{% block title%}{{res.first_name}}'s Reservation Request{% endblock %}
{% block heading %}<h1>{{res.first_name}}'s Reservation Request</h1>{% endblock %}
{% block content %}

<div class="row-fluid"><div class="span6 offset1">
    {% if edit_allow == True %} 
<button type="submit" class="button small info" id="editres_btn">Edit Reservation</button>
<button type="submit" class="button small secondary confirm" id='delete_btn'>Delete Reservation</button>
    {% endif %}
    {% if confirmed == True %} 
<a href="{{track_url}}"><button class="button compl">Track Delivery</button></a>
    {% endif %}    
</div></div>
    {% include "post/forms/stubspop/reserve_stub.html" %}
    {% include "post/res_buttons_stub.html" %}


{% endblock %}