{% extends "landing/base.html" %}

{% block title %}
Barnacle - Auto and Freight Deliveries Along for the Ride
{% endblock %}

{% block metadescr %}
  <meta content="barnacle,motorcycle transport,auto transport,auto transit, military moves, ship package,logistics,crowdsourced deliveries,crowdsourced shipping,courier,freight, shipping, disruption,postmates,zipments,taskrabbit,shutl,uship,fedex,ups,dhl,usps,shyp,mini storage, self storage,auto transit" name="keywords">
  <meta content="Barnacle is a crowdsourced shipping and delivery community that matches drivers with people who need to transport freight. Bulky or fragile shipments and parcels may be uneconomical to mail, or a hassle to wrap in packaging. Give them their own private seats in passenger vehicles!" name="description">
{% endblock %}

{% block keyphrase %}
Auto and Freight
{% endblock %}

{% block testimonials %}
<section>
	<div id="testimonials">
  	<div class="row">
    	<div class="twelve columns"><hr>
      	<ul class="testimonials-carousel">
        	<li>
          	<div class="quote-content">
              When I moved up from San Diego, I couldn't find anyone willing to transport my motorcycle for less than 500 bucks. Through Barnacle, I found a nice fellow with extra space on his flatbed who brought me my bike for less than half the cost of a commercial shipper!
            </div>
          	<div class="quote-author">
            	<strong>Rob</strong>
              <span class="author-description"> &nbsp; Seattle, WA</span>
            </div>            
          </li>          
        	<li class="hide-on-mobile">
            <div class="quote-content">
              Race takeoffs always cost more to ship than the tires are even worth. This is a great way for me to get cheap tires!
            </div>
            <div class="quote-author">
            	<strong>Jon</strong>
              <span class="author-description"> &nbsp;  San Diego, CA</span>
            </div>
          </li>          
          <li class="hide-on-mobile">
            <div class="quote-content">
              I do a lot of custom bodywork fabrication for my business. Barnacle is perfect for me to get the bodywork to my customers at a huge discount.
            </div>
            <div class="quote-author">
            	<strong>Sal</strong>
              <span class="author-description"> &nbsp; Santa Clara, CA</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}