<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->


<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<!--Site charset-->
  <meta charset="utf-8">
  <!--Site title-->
  <title>{% block title %}{% endblock %}</title>
  <!--Meta-->
    {% block metadescr %}{% endblock %}
  <meta name="author"  content="Elaine Ou">
  <!--Set the viewport width to device width for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Foundation Framework-->
  <link rel="stylesheet" href="/static/landing/styles/foundation.min.css">
  <!--Plugins-->
  <link rel="stylesheet" href="/static/landing/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/static/landing/styles/prettyPhoto.css">
  <link rel="stylesheet" href="/static/css/p2pps.css">
  
  <link rel="stylesheet" href="/static/landing/styles/app.css">
  <link rel="stylesheet" href="/static/landing/styles/updates.css">
  <link rel="stylesheet" href="/static/landing/styles/custom.css">
  <style type="text/css">
    #header { padding-top: 20px; padding-bottom: 40px; background: url(/static/landing/images/profile-{{seodir}}/header_image_bg.jpg) top center no-repeat; max-width: 1170px; margin: 0 auto; 
    box-shadow: inset 0 50px 50px -50px #171717;
    -moz-box-shadow: inset 0 50px 50px -50px #171717;
    -webkit-box-shadow: inset 0 50px 50px -50px #171717;
     }
  </style>
  <script src="/static/js/jquery-1.9.1.js"></script>
  
	
  <!--Google Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  
  <!--[if IE 7]>
  <link rel="stylesheet" href="/static/landing/styles/font-awesome-ie7.min.css">
  <script src="/static/landing/scripts/ie6/warning.js"></script>
  <script>window.onload=function(){e("/static/landing/scripts/ie6/")}</script>
  <![endif]-->

  
	<!--Favicons-->
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144.png"> 
  
  
  <!-- jQuery & Foundation Framework -->
  <script type="text/javascript" src="/static/landing/scripts/modernizr.foundation.js"></script> 
</head>
<body>


<!-- Page
================================================ -->
<!--Attributes-->
<!--class = page wide-style / boxed-style-->
<div class="page wide-style">

<!-- HEADER SECTION
================================================ -->
<header>
<div>
	<div class="row">
      
    <!-- Logo -->
    <div class="three pull-9 columns">
      	<a href="/"><img src="/static/img/barnaclelogo_sm.png"></a>
    </div>
    <!--end logo-->
    <div class="one columns">
    </div>         
    <!--Login buttons-->  
    <div class="five columns hide-for-small">
    	<div class="space-b-10 hide-for-small">&nbsp;</div>	        
        <button class="search_btn small button secondary ">Find a Driver</button>
        <button class="post_btn small button secondary">Be a Driver</button>
        <a href="/how" class="small button secondary">How it Works</a>
        <div class="space-b-5 hide-for-small">&nbsp;</div>	 
    </div>
    <div class="three columns login-buttons" style='text-transform: uppercase;
	font-size: 0.85em; line-height: 1.5em;' id='user_head'>
       <table class='user_head'><tr><td rowspan='2' class='th'>
         <img src="{{prof_thumb}}" id='prof_thumb'>
       </td><td style='text-align:left'>
       {{nickname | safe}}<br>
       {{account_links | safe}} </td></tr></table>
    </div>
    <!--end login buttons-->
  </div>
  
<div id="header">
	<div class="row">
    

		
    <div class="twelve columns">
      <div class="row">
      
      	<!--Form wrapper-->
        <div class="five columns form-wrapper">
          <div class="form-header">
            <p class="lead text-resize">Give your {{seosub}} a ride with our nationwide network of commuters.</p>
          </div>
          <!--Search form-->
          <form action="/post/request0" method="post" class="custom form-search" id='request_form'>
            <div class="row">
              <div class="five mobile-four columns">
                <label class="right inline">Origin:</label>
              </div>
              <div class="seven mobile-four columns">
                <input class="input input-xlarge" type="text" name="start" id='map0Field' value="{{locstart}}">
              </div>
            </div><!--end row-->
            <div class="row">
              <div class="five mobile-four columns">
                <label class="right inline">Destination:</label>
              </div>
              <div class="seven mobile-four columns">
                <input class="input input-xlarge" type="text" name="dest" id='map1Field' value="{{locend}}">
              </div>
            </div><!--end row-->
            <div class="row">
              <div class="five mobile-four columns">
                <label class="right inline">Space Needed:</label>
              </div>
              <div class="seven mobile-four columns">
                <select name="vcap" class="expand">
                  <option selected="selected" value="0">Passenger Seat</option>
                  <option value="1">Trunk</option>
                  <option value="2">Wagon</option>
                </select>
              </div>
            </div><!--end row-->            
            <div class="row">
              <div class="five mobile-four columns">
                <label class="right inline">Deliver By:</label>
              </div>
              <div class="seven mobile-four columns">
                <input type="date" name="reqdate" min="{{today}}" value="{{delivby}}" id="reqdate" autocomplete="off">
              </div>
            </div><!--end row-->
            <input type='hidden' name="startlat" id="startlat">
            <input type='hidden' name="startlon" id="startlon">
            <input type='hidden' name="startstr" id="startstr">
            <input type='hidden' name="destlat" id="destlat">
            <input type='hidden' name="destlon" id="destlon">
            <input type='hidden' name="deststr" id="deststr">         
            <input type='hidden' name="items" value="{{items}}">
            
            <div class="row">
              <div class="seven offset-by-five columns"><button class="button" id='request_btn'><i class="icon-search"></i> &nbsp;GET A DRIVER</button></div>
            </div>
            <span class="notch"></span>
          </form>
         
          <!--end search form-->
          <!--Form footer-->
          <div class="form-footer silver-bg">
            <p><strong>Recent Deliveries</strong>
              <span class="right hide-for-small">
                <a href="#" id="profile-thumbs-prev"><i class="icon-circle-arrow-left icon-large"></i></a>&nbsp;
                <a href="#" id="profile-thumbs-next"><i class="icon-circle-arrow-right icon-large"></i></a>
              </span>
            </p>
            <div class="clearfix"></div>
            
            <div class="carousel-profiles responsive">
              <ul id="profile-thumbs">
                <li><img src="/static/landing/images/profile-{{seodir}}/thumb_01.jpg" alt=""></li>
                <li><img src="/static/landing/images/profile-{{seodir}}/thumb_02.jpg" alt=""></li>
                <li><img src="/static/landing/images/profile-{{seodir}}/thumb_03.jpg" alt=""></li>
                <li><img src="/static/landing/images/profile-{{seodir}}/thumb_04.jpg" alt=""></li>
                <li><img src="/static/landing/images/profile-{{seodir}}/thumb_05.jpg" alt=""></li>
                <li><img src="/static/landing/images/profile-{{seodir}}/thumb_06.jpg" alt=""></li>
                <li><img src="/static/landing/images/profile-{{seodir}}/thumb_07.jpg" alt=""></li>
                <li><img src="/static/landing/images/profile-{{seodir}}/thumb_08.jpg" alt=""></li>
                <li><img src="/static/landing/images/profile-{{seodir}}/thumb_09.jpg" alt=""></li>
              </ul>
            </div><!--end carousel-profiles-->
          </div><!--end form-footer-->
  
        </div><!--end form-wrapper-->
      </div><!--end row-->
    </div><!--end twelve-->
  </div><!--end row-->
</div><!--end #header-->
</div><!--end header-bg-->
</header>
<!--END HEADER SECTION-->





<!-- CALL TO ACTION SECTION
================================================ -->
<section>
  <div id="call-to-actions" class="silver-bg">
    <div class="row map-bg">
    
      <div class="twelve columns">
        <h1 class="section-title">Ship Outside the Box</h1>
        <p class="lead">Barnacle matches your transportation needs with drivers who are commuting or traveling. Your deliveries are just along for the ride.
        <strong>Give your {{seosub}} their own private seats in passenger vehicles!</strong></p>
                
        <!--Take action-->
        <div class="take-action">
          <ul class="button-group expand left">
            <li><a class="search_btn button large expand">Find a Driver &nbsp;<i class="icon-search"></i></a></li>
          </ul>
          <span class="or-block hide-for-small">- or -</span>
          <ul class="button-group expand right">                      
            <li><a class="post_btn button compl large expand">Be a Driver &nbsp;<i class="icon-road"></i></a></li>
          </ul>
        </div>
        <!--end take-action-->
      </div><!--end twelve-->

        <!--Status Icons-->
        <div class="status three columns mobile-one">
          <div class="icon" data-animation="pulse">
            <img src="/static/landing/images/steps/status_01.png" width="213" height="149" alt="">
          </div>
          <ul class="block-grid">
            <li class="title">10,000+</li>
            <li class="subtitle">Users in total</li>
          </ul>
        </div>
        
        <div class="status three columns mobile-one">
          <div class="icon" data-animation="pulse">
            <img src="/static/landing/images/steps/status_02.png" width="213" height="149" alt="">
          </div>
          <ul class="block-grid">
            <li class="title">500</li>
            <li class="subtitle">Active Drivers</li>
          </ul>
        </div>
        
        <div class="status three columns mobile-one">
          <div class="icon" data-animation="pulse">
            <img src="/static/landing/images/steps/status_03.png" width="213" height="149" alt="">
          </div>
          <ul class="block-grid">
            <li class="title">46</li>
            <li class="subtitle">Connected Cities</li>
          </ul>
        </div>
        
        <div class="status three columns mobile-one">
          <div class="icon" data-animation="pulse">
            <img src="/static/landing/images/steps/status_04.png" width="213" height="149" alt="">
          </div>
          <ul class="block-grid">
            <li class="title">400+</li>
            <li class="subtitle">Deliveries Completed</li>
          </ul>
        </div>
        <!--end status icons-->
      
    </div><!--end row map-bg-->
  </div><!--end call-to-actions-->
</section>
<!--END CALL TO ACTION SECTION-->





<!-- FEATURED TEXT SECTION
================================================ -->
<section>
   <div id="feature-text" class="text-center">
    <div class="row">
      
      <ul class="no-bullet">
        <li class="four columns">
          <div class="circle">
            <a class="imagelink">
              <span class="overlay"></span>
              <span class="read"><i class="icon-truck"></i></span>
              <img src="/static/landing/images/small_thumb_01.png" alt="">
            </a>
          </div>
          <h4>Lower Cost</h4>
          <p>Save up to 75% off commercial shipping and freight prices.</p>
        </li>
        
        <li class="four columns">
          <div class="circle">
            <a class="imagelink">
              <span class="overlay"></span>
              <span class="read"><i class="icon-truck"></i></span>
              <img src="/static/landing/images/small_thumb_02.png" alt="">
            </a>
          </div>
          <h4>Real-time Tracking</h4>
          <p>We provide real-time tracking and look out for our drivers to help them provide you with the best possible service.</p>
        </li>
        
        <li class="four columns">
          <div class="circle">
            <a class="imagelink">
              <span class="overlay"></span>
              <span class="read"><i class="icon-truck"></i></span>
              <img src="/static/landing/images/small_thumb_03.png" alt="">
            </a>
          </div>
          <h4>Ship Outside the Box</h4>
          <p>Your deliveries get their own private seats or trunk space. This means you don't have to worry about crating or packaging your shipments.</p>
        </li>
      </ul>
    </div><!--end row-->
  </div><!--end feature-text-->
</section>
<!--END FEATURED TEXT SECTION-->

  
    {% block testimonials %}
    {% endblock %}
<!--END TESTIMONIALS SECTION-->





<!-- SUPPORT & NEWSLETTER SECTION
================================================ -->
<section>
  <div id="support">
    <div class="row">
      
      <div class="four columns">
      	<div class="panel">
      		<h4><i class="icon-question-sign"></i> Concerns or questions?</h4>
        	<p>Read more about how it works and contact us with any additional questions.</p>
          <a href="/how" class="small button secondary" target="_blank"><i class="icon-angle-right"></i> HOW IT WORKS</a>
    		</div><!--end panel-->
      </div>
      
      <div class="eight columns">
      	<div class="panel">
      		<h4><i class="icon-smile"></i> NEWSLETTER SIGNUP</h4>
        	<p>By subscribing to our mailing list you will always be updated with the latest news from us.</p>
          
          <!--Newsletter form-->
          <form action="http://gobarnacle.us7.list-manage1.com/subscribe/post?u=63e7c0e246c3f363c1ce9c125&amp;id=bab2de2f7f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="row">
            <div class="four columns">
              <div class="row collapse">
                <div class="two mobile-one columns">
                	<span class="prefix"><i class="icon-user"></i></span>
                </div>
                <div class="ten mobile-three columns">
                	<input type="text" name="yname" id="yname" placeholder="Your name" required>
                </div>
              </div>
            </div>
            <div class="five columns">
              <div class="row collapse">
                <div class="two mobile-one columns">
                	<span class="prefix"><i class="icon-envelope"></i></span>
                </div>
                <div class="ten mobile-three columns">
                	<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email" required>
                </div>
              </div>
            </div>
            <div class="three columns">
            	<p><button type="submit" id="mc-embedded-subscribe"  name="newsletter-submit" class="small button expand">JOIN US</button></p>
            </div>
						<div class="twelve column">              
            	<small><i class="icon-lock"></i> <strong>Your <a href="/privacy">privacy</a> is important to us and we will never share your information.</strong></small>            	
            </div>
          </form><!--end newsletter-form-->
    		</div><!--end panel-->
      </div>
      
    </div><!--end row-->
  </div><!--end support-->
</section>
<!--END SUPPORT & NEWSLETTER SECTION-->





{% include "landing/footer.html" %}

{% include "landing/modals.html" %}

<!-- POP-UP MODAL FORMS-->

 
<!-- JAVASCRIPTS
================================================ -->


    <!-- Barnacle crap -->    
    <script>
    $(document).ready(function(){
        var v = [[0],[0]];
        click_validloc('#request_btn',['map0','map1'],['start','dest'],v,'#request_form',true);
        click_redirect('.search_btn','/search');
        click_redirect('.post_btn','/drive');
        if(window.location.hash) {
          var popup = window.location.hash;
          var bizname = popup.split('?')[1]
          $('#bizname').html(bizname);
          $( '#coupon_panel' ).reveal( $( this ).data() );
        }			         
    });
    </script>
    <script type="text/javascript" src="/static/js/signinup.js"></script>
    <script type="text/javascript" src="/static/js/fb.js"></script> 
    <script type="text/javascript" src="/static/js/cookie.js"></script>    
    <script type="text/javascript" src="/static/js/validation.js"></script>    

  
    <!-- maps and other stuff for the form -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>          
  <script src="/static/js/maps/mapsclientno.js"></script>

  
  <!-- 3rd Plugins -->
	<!-- jQuery & Foundation Framework -->
  <script type="text/javascript" src="/static/landing/scripts/jquery.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/foundation.min.js"></script>   
  <script type="text/javascript" src="/static/landing/scripts/modal-foundation.js"></script>     
  
	<!-- include carouFredSel plugin -->
  <script type="text/javascript" src="/static/landing/scripts/plugins/carouFredSel/jquery.carouFredSel-6.2.0-packed.js"></script>
  <!-- optionally include helper for carouFredSel plugins -->
  <script type="text/javascript" src="/static/landing/scripts/plugins/carouFredSel/helper-plugins/jquery.mousewheel.min.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/plugins/carouFredSel/helper-plugins/jquery.touchSwipe.min.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/plugins/carouFredSel/helper-plugins/jquery.transit.min.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/plugins/carouFredSel/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/plugins/retina/retina.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/plugins/knob/jquery.knob.js"></script>
   <script type="text/javascript" src="/static/landing/scripts/plugins/fittext/jquery.fittext.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/plugins/quovolver/jquery.quovolver.js"></script><!--Quote rotator-->
  <script type="text/javascript" src="/static/landing/scripts/plugins/backgroundSize/jquery.backgroundSize.js"></script><!--BackgroundSize for IE8-->
  <script type="text/javascript" src="/static/landing/scripts/plugins/prettyPhoto/jquery.prettyPhoto.js"></script>
  
  <!-- Custom JS effects, tweaks and inits -->
  <script type="text/javascript" src="/static/landing/scripts/app.js"></script>
  
  
{% include 'google_analytics.html' %}
  
</body>
</html>
