{% extends "landing/base.html" %}

{% block title %}
Barnacle - Deliveries Along for the Ride
{% endblock %}

{% block metadescr %}
  <meta content="barnacle,motorcycle transport,auto transport,auto transit, military moves, ship package,logistics,crowdsourced deliveries,crowdsourced shipping,courier,freight, shipping, disruption,postmates,zipments,taskrabbit,shutl,uship,fedex,ups,dhl,usps,shyp,mini storage, self storage,auto transit" name="keywords">
  <meta content="Barnacle is a crowdsourced shipping and delivery community that matches drivers with people who need to transport freight. Bulky or fragile shipments and parcels may be uneconomical to mail, or a hassle to wrap in packaging. Give them their own private seats in passenger vehicles!" name="description">
{% endblock %}

{% block keyphrase %}
Small Business
{% endblock %}

{% block testimonials %}
<section>
	<div id="testimonials">
  	<div class="row">
    	<div class="twelve columns"><hr>
      	<ul class="testimonials-carousel">
        	<li>
          	<div class="quote-content">
              I can finally get cupcakes from my favorite bakery delivered the same day! Now I'm looking for a driver to bring me cronuts from Dominique Ansel. Any takers? :)
            </div>
          	<div class="quote-author">
            	<strong>Karen</strong>
              <span class="author-description"> &nbsp; Portland, OR</span>
            </div>            
          </li>          
        	<li class="hide-on-mobile">
            <div class="quote-content">
              Thanks to Barnacle, I have been able to expand my printing business and provide services to customers all over California.
            </div>
            <div class="quote-author">
            	<strong>Pat</strong>
              <span class="author-description"> &nbsp;  San Francisco, CA</span>
            </div>
          </li>          
          <li class="hide-on-mobile">
            <div class="quote-content">
              I do a lot of custom bodywork fabrication for my business. Barnacle is perfect for me to get the bodywork to my customers at a huge discount.
            </div>
            <div class="quote-author">
            	<strong>Sal</strong>
              <span class="author-description"> &nbsp; Santa Clara, CA</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}