{% extends "mobile/base.html" %}

{% block content %}
<h2>Generate a coupon code.</h2>
<h3>{{last_biz}}: {{last_code}}</h3>
 <form enctype="multipart/form-data" method="post" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" >Business name: </label>
        <div class="controls">
          <input type="text" name="name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="repeat">Category:</label>
        <div class="controls">
            <label class="radio inline">
              <input type="radio" name="cat" value="0" checked> Pets
            </label>
            <label class="radio inline">
              <input type="radio" name="cat" value="1"> Auto
            </label>
            <label class="radio inline">
              <input type="radio" name="cat" value="2"> Sporting equip
            </label>
            <label class="radio inline">
              <input type="radio" name="cat" value="3"> Music
            </label>            
            <label class="radio inline">
              <input type="radio" name="cat" value="4"> Other Events
            </label>            
        </div>
    </div>
	<button type="submit" class="btn">submit</button>
</form>
{% endblock %}