{% extends "landing/base.html" %}

{% block title %}
Barnacle - Equipment Deliveries Along for the Ride
{% endblock %}

{% block metadescr %}
  <meta content="barnacle,bicycle transport,furniture shipping,auto transit, military moves, ship package,logistics,crowdsourced deliveries,crowdsourced shipping,courier,freight, shipping, disruption,postmates,zipments,taskrabbit,shutl,uship,fedex,ups,dhl,usps,shyp,mini storage, self storage,auto transit" name="keywords">
  <meta content="Barnacle is a crowdsourced shipping and delivery community that matches drivers with people who need to transport large packages. Bulky or fragile shipments and parcels may be uneconomical to mail, or a hassle to wrap in packaging. Give them their own private seats in passenger vehicles!" name="description">
{% endblock %}

{% block keyphrase %}
Deliveries
{% endblock %}

{% block testimonials %}
<section>
	<div id="testimonials">
  	<div class="row">
    	<div class="twelve columns"><hr>
      	<ul class="testimonials-carousel">
        	<li>
          	<div class="quote-content">
              When I flew into LAX for Ironman California, the airline messed up my luggage and my bicycle didn't arrive in time for the race. It was a huge disaster. I've been using Barnacle to bring me my bike when I travel ever since then.
            </div>
          	<div class="quote-author">
            	<strong>Jamie</strong>
              <span class="author-description"> &nbsp; Seattle, WA</span>
            </div>            
          </li>          
        	<li class="hide-on-mobile">
            <div class="quote-content">
              I bought a longboard from a seller on ebay and there was no good way to ship it. A Barnacle driver delivered it right to my door. This is awesome.
            </div>
            <div class="quote-author">
            	<strong>Jon</strong>
              <span class="author-description"> &nbsp;  San Diego, CA</span>
            </div>
          </li>          
          <li class="hide-on-mobile">
            <div class="quote-content">
              Absolutely amazing! I got to fly up to Whistler for some sweet downhill mountain biking, and Barnacle got my mountain bike to my hotel and back!
            </div>
            <div class="quote-author">
            	<strong>Sherry</strong>
              <span class="author-description"> &nbsp; Santa Clara, CA</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}