<!--Login panel-->
<div id="fb-root"></div>
<div id="signin-box" class="reveal-modal">
  <div class="row">
      <div class="twelve columns">
      <div class="radius button facebook fblogin"><i class="icon-facebook-sign"></i> &nbsp;LOG IN WITH Facebook</div>
      </div>
    <div class="twelve columns"><hr>
      <p>To establish trust in the community, we require that drivers sign up using their Facebook accounts. We will never post on your wall or share your information without your permission. Please read our <a href='/privacy' target='_blank'>privacy policy</a> to learn how we protect your information.</p>
    </div>
  </div><!--end row-->
  <a href="#" class="close-reveal-modal">×</a>
</div><!--end login panel-->

<div id="invalid-box" class="reveal-modal">
  <div class="row">
      <div class="twelve columns">
      <h4>Invalid Location.</h4>
    </div>
  </div><!--end row-->
  <a href="#" class="close-reveal-modal">×</a>
</div>

<!-- Forgot panel -->
<div id="forgot_panel" class="reveal-modal">
  <div class="row">

    <div class="twelve columns"><hr>
      <small><a href="#" data-reveal-id="signin-box">GO BACK</a></small>
    </div>
  </div><!--end row-->
  <a href="#" class="close-reveal-modal">×</a>
</div><!-- end register panel -->

<!--Coupon panel-->
<div id="coupon_panel" class="reveal-modal">
  <div class="row">
      <div class="twelve columns">
      <h2>Welcome, <span id='bizname'></span>! </h2>
      <h5>Transport your most treasured possessions in the security of passenger vehicles, with NO booking fees!</h5>
      </div>
  </div><!--end row-->
  <a href="#" class="close-reveal-modal">×</a>
</div><!--end login panel-->

<!-- end login register stuff -->

<p id="btnGoUp">Go up</p>
</div><!--end page-->  

<p id="btnGoUp">Go up</p>
</div><!--end page-->  