{% extends "landing/base.html" %}

{% block title %}
Barnacle - Pet Deliveries Along for the Ride
{% endblock %}

{% block metadescr %}
Barnacle is a crowdsourced shipping and transport community that matches drivers with people who need to send or receive shipments. Bulky or fragile items may be uneconomical to mail, or a hassle to wrap in packaging. Give them their own private seats in passenger vehicles!
{% endblock %}

{% block testimonials %}
<section>
	<div id="testimonials">
  	<div class="row">
    	<div class="twelve columns"><hr>
      	<ul class="testimonials-carousel">
        	<li>
          	<div class="quote-content">
              I brought my chocolate lab on a flight when I first moved to San Francisco. When we arrived, she was terrified and the hairs on her muzzle had gone white! I never want to put her through that again. On the trip back, we used Barnacle and she was much happier.
            </div>
          	<div class="quote-author">
            	<strong>Susan</strong>
              <span class="author-description"> &nbsp; Seattle, WA</span>
            </div>            
          </li>          
        	<li class="hide-on-mobile">
            <div class="quote-content">
              Absolutely amazing! My cat loved traveling in the car!
            </div>
            <div class="quote-author">
            	<strong>Jon</strong>
              <span class="author-description"> &nbsp;  Cambridge, MA</span>
            </div>
          </li>          
          <li class="hide-on-mobile">
            <div class="quote-content">
              I am a breeder, and I know how traumatic it is for animals to travel by air. Barnacle lets me send my puppies all over the west coast. It is perfect for my needs.
            </div>
            <div class="quote-author">
            	<strong>Erica</strong>
              <span class="author-description"> &nbsp; Bakersfield, CA</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}