<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->


<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<!--Site charset-->
  <meta charset="utf-8">
  <!--Site title-->
    <title>Barnacle</title>
    <meta property="og:image" content="http://www.gobarnacle.com/static/img/barnacle.png"/>
    <meta property="og:title" content="Barnacle"/>
    <meta property="og:url" content="http://www.gobarnacle.com"/>
    <meta property="fb:app_id" content="540602052657989"/>
    <meta property="og:site_name" content="Barnacle"/>
    <meta property="og:description" content="Ship Outside the Box."/>
    <meta property="description" content="The Barnacle P2P community ships your most treasured possessions through a trusted network of drivers already en route."/>
  <meta name="author"  content="Elaine Ou">
  <!--Set the viewport width to device width for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Foundation Framework-->
  <link rel="stylesheet" href="/static/landing/styles/foundation.min.css">
  <!--Plugins-->
  <link rel="stylesheet" href="/static/landing/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/static/landing/styles/prettyPhoto.css">
  <link rel="stylesheet" href="/static/css/p2pps.css">
  
  <link rel="stylesheet" href="/static/landing/styles/app.css">
  <link rel="stylesheet" href="/static/landing/styles/updates.css">
  <link rel="stylesheet" href="/static/landing/styles/custom.css">
  <script src="/static/js/jquery-1.9.1.js"></script>
  
	
  <!--Google Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  
  <!--[if IE 7]>
  <link rel="stylesheet" href="/static/landing/styles/font-awesome-ie7.min.css">
  <script src="/static/landing/scripts/ie6/warning.js"></script>
  <script>window.onload=function(){e("/static/landing/scripts/ie6/")}</script>
  <![endif]-->

  
	<!--Favicons-->
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144.png"> 
  
  
  <!-- jQuery & Foundation Framework -->
  <script type="text/javascript" src="/static/landing/scripts/modernizr.foundation.js"></script> 
</head>
<script type="text/javascript">
$(document).ready(function(){
    $('#prof_thumb').error(function() { $(this).hide(); });       
});
function breakout_of_frame() {
    if (top.location != location) 
        top.location.href = document.location.href ;
}    
</script>
<body>


<!-- Page
================================================ -->
<!--Attributes-->
<!--class = page wide-style / boxed-style-->
<div class="page wide-style">

<!-- HEADER SECTION
================================================ -->
<header>
    
	<div class="row fixed" id='navhead' >      
    <!-- Logo -->
    <div class="three pull-9 columns hide-for-small">
      	<a href="/" id='logo' class='toplogo'></a>
    </div>
    <!--end logo-->
    <div class="one columns">
    </div>         
    <!--Login buttons-->  
    <div class="five columns hide-for-small">
    	<div class="space-b-10 hide-for-small">&nbsp;</div>	        
        <button class="search_btn small button secondary radius">Find a Driver</button>
        <button class="post_btn small button secondary radius">Be a Driver</button>
        <a href="/how" class="small button secondary radius">How it Works</a>
        <div class="space-b-5 hide-for-small">&nbsp;</div>	 
    </div>
    <div class="three columns login-buttons hide-for-small" style='text-transform: uppercase;
	font-size: 0.85em; line-height: 1.5em;' id='user_head'>
       <table class='user_head'><tr><td rowspan='2' class='th'>
         <img src="{{prof_thumb}}" id='prof_thumb'>
       </td><td style='text-align:left'>
       {{nickname | safe}}<br>
       {{account_links | safe}} </td></tr></table>
    </div>
    <!--end login buttons-->
  </div>

<div class='hero_bg row'>
  <div class="hero_container">  
    <div class="splash_img"></div>
  </div>
  <div class="wash"></div>
</div>
<div class='heading hero_fg'>
  <div class="row">
    <div class='twelve columns ' style='height:500px;text-align:center;'>
        <h1 class='heroh1'>SHIP OUTSIDE THE BOX</h1>
        <h4 class='whiteh1'>A TRUSTED NETWORK OF DRIVERS ALREADY EN ROUTE</h4>
        <br>
    <button class="search_btn button radius large">Find a Driver &nbsp;<i class="icon-search"></i></button> &nbsp; &nbsp;
    <button class="post_btn button radius large compl">Be a Driver &nbsp;<i class="icon-road"></i></button>
    </div>
  </div>
</div>
 </header>
<!--END HEADER SECTION-->





<!-- CALL TO ACTION SECTION
================================================ -->
<section>
  <div id="call-to-actions" class="silver-bg">
    <div class="row map-bg">    
      <div class="twelve columns">
        <h1 class="section-title">WHY SHIP WITH <span class="blue-text">BARNACLE?</span></h1>
        <p class="lead">
        Barnacle is a community. Our drivers will work with you to arrange a delivery schedule and provide special care for your transportation needs. 
        <strong>Give your most treasured possessions their own private seats in passenger vehicles!</strong></p>

      </div><!--end twelve-->
  <div id="feature-text" class="text-center">
    <div class="row">
      
      <ul class="no-bullet">
        <li class="four columns">
          <div class="circle">
            <a class="imagelink">
              <span class="overlay"></span>
              <span class="read"><i class="icon-truck"></i></span>
              <img src="/static/landing/images/small_thumb_01.png" alt="">
            </a>
          </div>
          <h4>Lower Cost</h4>
          <p>Save up to 75% off commercial shipping and freight prices.</p>
        </li>
        
        <li class="four columns">
          <div class="circle">
            <a class="imagelink">
              <span class="overlay"></span>
              <span class="read"><i class="icon-truck"></i></span>
              <img src="/static/landing/images/small_thumb_02.png" alt="">
            </a>
          </div>
          <h4>Real-time Tracking</h4>
          <p>We provide real-time tracking and look out for our drivers to help them provide you with the best possible service.</p>
        </li>
        
        <li class="four columns">
          <div class="circle">
            <a class="imagelink">
              <span class="overlay"></span>
              <span class="read"><i class="icon-truck"></i></span>
              <img src="/static/landing/images/small_thumb_03.png" alt="">
            </a>
          </div>
          <h4>Ship Outside the Box</h4>
          <p>Your deliveries get their own private seats or trunk space. This means you don't have to worry about crating or packaging your shipments.</p>
        </li>
      </ul>
    </div><!--end row-->
  </div><!--end feature-text-->
      
    </div><!--end row map-bg-->
  </div><!--end call-to-actions-->
</section>
<!--END CALL TO ACTION SECTION-->





<!-- FEATURED TEXT SECTION
================================================ -->
<section>
  <div id="feature-text" class="text-center">
    <div class="row">
      <div class="twelve columns">
        <h2><span class="no-bg">JOIN OUR GROWING NETWORK</span></span></h2>  
        <p class="lead">
        We have over 5000 drivers with routes between most major cities. It's fun to be a <span class="blue-text">Barnacle</span> driver!</p>        
      </div><!--end twelve-->    
      <div id="map-canvas" class="homemap"></div>
    </div><!--end row-->
  </div><!--end feature-text-->
</section>
<!--END FEATURED TEXT SECTION-->


<!-- SUPPORT & NEWSLETTER SECTION
================================================ -->
<section>
  <div id="support">
    <div class="row">
      
      <div class="four columns">
      	<div class="panel">
      		<h4><i class="icon-question-sign"></i> Concerns or questions?</h4>
        	<p>Read more about how it works and contact us with any additional questions.</p>
          <a href="/how" class="small button radius secondary" target="_blank"><i class="icon-angle-right"></i> HOW IT WORKS</a>
    		</div><!--end panel-->
      </div>
      
      <div class="eight columns">
      	<div class="panel">
      		<h4><i class="icon-smile"></i> NEWSLETTER SIGNUP</h4>
        	<p>By subscribing to our mailing list you will always be updated with the latest news from us.</p>
          
          <!--Newsletter form-->
          <form action="http://gobarnacle.us7.list-manage1.com/subscribe/post?u=63e7c0e246c3f363c1ce9c125&amp;id=bab2de2f7f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="row">
            <div class="four columns">
              <div class="row collapse">
                <div class="two mobile-one columns">
                	<span class="prefix"><i class="icon-user"></i></span>
                </div>
                <div class="ten mobile-three columns">
                	<input type="text" name="yname" id="yname" placeholder="Your name" required>
                </div>
              </div>
            </div>
            <div class="five columns">
              <div class="row collapse">
                <div class="two mobile-one columns">
                	<span class="prefix"><i class="icon-envelope"></i></span>
                </div>
                <div class="ten mobile-three columns">
                	<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email" required>
                </div>
              </div>
            </div>
            <div class="three columns">
            	<p><button type="submit" id="mc-embedded-subscribe"  name="newsletter-submit" class="small radius button expand">JOIN US</button></p>
            </div>
						<div class="twelve column">              
            	<small><i class="icon-lock"></i> <strong>Your <a href="/privacy">privacy</a> is important to us and we will never share your information.</strong></small>            	
            </div>
          </form><!--end newsletter-form-->
    		</div><!--end panel-->
      </div>
      
    </div><!--end row-->
  </div><!--end support-->
</section>
<!--END SUPPORT & NEWSLETTER SECTION-->


{% include "landing/footer.html" %}

{% include "landing/modals.html" %}

 
<!-- JAVASCRIPTS
================================================ -->

 <script>
  
$(document).ready(function(){
    /* Give the heading a pretty picture */
    hh = $('.heading').height()+20;
    $('.wash').height(hh);
    $('.hero_container').height(hh);
    preload([
    '/static/img/barnaclelogo_sm.png',
    '/static/img/barnaclelogo_sq.png']);
});

$(document).scroll( function() {
    var value = $(this).scrollTop();
    if ( value > 60 ) {
        $("#logo").addClass("flatlogo");
        $("#logo").removeClass("toplogo");
    } else {
        $("#logo").removeClass("flatlogo");
        $("#logo").addClass("toplogo");
    }
});
function preload(arrayOfImages) {
    $(arrayOfImages).each(function(){
        $('<img/>')[0].src = this;
    });
}
  </script>  
    <!-- Barnacle crap -->    
    <script>
    $(document).ready(function(){
        click_redirect('.search_btn','/search');
        click_redirect('.post_btn','/drive');
        var mapURL = '/post/jsonall';
        initialize_home(mapURL);
    });
    </script>
    <script type="text/javascript" src="/static/js/signinup.js"></script>
    <script type="text/javascript" src="/static/js/fb.js"></script> 
    <script type="text/javascript" src="/static/js/cookie.js"></script>    
    <script type="text/javascript" src="/static/js/validation.js"></script>    

  
    <!-- maps and other stuff for the form -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
<script type="text/javascript" src="/static/js/maps/mapstyles.js"></script>
<script type="text/javascript" src="/static/js/maps/mapsplash.js"></script>
  
  <!-- 3rd Plugins -->
	<!-- jQuery & Foundation Framework -->
  <script type="text/javascript" src="/static/landing/scripts/jquery.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/foundation.min.js"></script>   
  <script type="text/javascript" src="/static/landing/scripts/modal-foundation.js"></script>     
  
	<!-- include carouFredSel plugin -->
  <script type="text/javascript" src="/static/landing/scripts/plugins/carouFredSel/jquery.carouFredSel-6.2.0-packed.js"></script>
  <!-- optionally include helper for carouFredSel plugins -->
  <script type="text/javascript" src="/static/landing/scripts/plugins/carouFredSel/helper-plugins/jquery.mousewheel.min.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/plugins/carouFredSel/helper-plugins/jquery.touchSwipe.min.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/plugins/carouFredSel/helper-plugins/jquery.transit.min.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/plugins/carouFredSel/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/plugins/retina/retina.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/plugins/knob/jquery.knob.js"></script>
   <script type="text/javascript" src="/static/landing/scripts/plugins/fittext/jquery.fittext.js"></script>
  <script type="text/javascript" src="/static/landing/scripts/plugins/quovolver/jquery.quovolver.js"></script><!--Quote rotator-->
  <script type="text/javascript" src="/static/landing/scripts/plugins/backgroundSize/jquery.backgroundSize.js"></script><!--BackgroundSize for IE8-->
  <script type="text/javascript" src="/static/landing/scripts/plugins/prettyPhoto/jquery.prettyPhoto.js"></script>
  
  <!-- Custom JS effects, tweaks and inits -->
  <script type="text/javascript" src="/static/landing/scripts/app.js"></script>
  
  
{% include 'google_analytics.html' %}
  
</body>
</html>
