{% extends "landing/base_sxsw2.html" %}

{% block title %}
Barnacle - Ship Outside the Box
{% endblock %}

{% block metadescr %}
  <meta content="barnacle,guitar transport,sxsw,namm show, furniture shipping,auto transit, military moves, ship package,logistics,crowdsourced deliveries,crowdsourced shipping,courier,freight, shipping, disruption,postmates,zipments,taskrabbit,shutl,uship,fedex,ups,dhl,usps,shyp,mini storage, self storage,auto transit" name="keywords">
  <meta content="Barnacle is a crowdsourced shipping and delivery community that matches drivers with people who need to transport large packages. Bulky or fragile shipments and parcels may be uneconomical to mail, or a hassle to wrap in packaging. Give them their own private seats in passenger vehicles!" name="description">
{% endblock %}

{% block keyphrase %}
Deliveries
{% endblock %}

{% block testimonials %}
<section>
	<div id="testimonials">
  	<div class="row">
    	<div class="twelve columns">
      <h3 class="text-center"><br><span class="no-bg">Businesses and Bands Use <span class="blue-text">Barnacle</span></span></h3>
      	<ul class="testimonials-carousel">
        	<li>
          	<div class="quote-content">
              Flying with my double bass has always been a huge hassle for me. Barnacle got my bass to me in Los Angeles for my last gig and back home again. This is awesome.
            </div>
          	<div class="quote-author">
            	<strong>Jamie</strong>
              <span class="author-description"> &nbsp; Seattle, WA</span>
            </div>            
          </li>          
        	<li class="hide-on-mobile">
            <div class="quote-content">
              I bought a used full-stack Crate amp from a guy in San Francisco, and had a heck of a time figuring out how to ship it. I found Barnacle through a forum recommendation, and had a driver bringing my amp down the next weekend. I am so glad this service exists!
            </div>
            <div class="quote-author">
            	<strong>Jon</strong>
              <span class="author-description"> &nbsp;  San Diego, CA</span>
            </div>
          </li>          
          <li class="hide-on-mobile">
            <div class="quote-content">
              I used Barnacle to transport 4 boxes from Oakland to Seattle. The process was super easy and affordable. I plan to use their services again in a couple weeks. Thanks, Barnacle!
            </div>
            <div class="quote-author">
            	<strong>Office Ninjas</strong>
              <span class="author-description"> &nbsp; Oakland, CA</span>
            </div>
          </li>
        </ul><hr>
      </div>
    </div>
  </div>
</section>
{% endblock %}