<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>CL Patch Cuz Google Uses crappy rackspace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/p2pps.css" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript" src="/static/js/data/cldata.js"></script>
    <script type="text/javascript" src="/static/js/data/zdata.js"></script>
</head>

<body onload="initialize()">

  <h3>Freaking Rackspace</h3>
<br>
 <div id='popspace'></div>
 <div id='zspace'></div>
<br>
 <div id="map-canvas" style="width: 300px; height: 200px;"></div>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script>
  var geocoder0, geocoder1;
  var map;
  function initialize() {
    geocoder0 = new google.maps.Geocoder();
    geocoder1 = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
  }

nc = cldata.length;
nz = zdata.length;
$(document).ready(function(){
    for (var i = 0; i<nc; i=i+8)
        $('#popspace').append('<p><button class="c" id="'+i+'">Pop Me '+i+'</button></p>');

    for (var i = 0; i<nz; i=i+8)
        $('#zspace').append('<p><button class="z" id="'+i+'">Pop Z '+i+'</button></p>');

    $('button.c').click(function() {
        console.log(this.id);
        sti = parseInt(this.id);
        eni = sti + 8;
        if (eni > nc) eni = nc;
        popMe(sti, eni);
    });
    $('button.z').click(function() {
        console.log(this.id);
        sti = parseInt(this.id);
        eni = sti + 8;
        if (eni > nz) eni = nz;
        popZ(sti, eni);
    });
});

function popMe(x,y) {
    for (var i = x; i<y; i++) {
        email = cldata[i][0];
        time = cldata[i][1];
        subj = cldata[i][2];
        url = cldata[i][3];
        details = cldata[i][4];
        start = cldata[i][5];
        dest = cldata[i][6];
        date = cldata[i][7];
        var claddress = {
            'email':email,
            'time':time,
            'subj':subj,
            'url':url,
            'details':details,
            'start':start,
            'dest':dest,
            'date':date }
        if (cldata[i].length > 8)
            claddress['rtdate'] = cldata[i][8];
        codeAddress(claddress, "createcl");
        pausecomp(2000);
    }
}
function popZ(x,y) {
    for (var i = x; i<y; i++) {
        url = zdata[i][0];
        details = zdata[i][1];
        start = zdata[i][2];
        dest = zdata[i][3];
        fbid = zdata[i][4];
        date = zdata[i][5];
        rtdate = zdata[i][6];
        var zaddress = {
            'url':url,
            'details':details,
            'start':start,
            'dest':dest,
            'fbid':fbid,
            'date':date,
            'rtdate':rtdate}
        codeAddress(zaddress, "createz");
        pausecomp(2000);
    }
}
function pausecomp(ms) {
  ms += new Date().getTime();
  while (new Date() < ms){}
}

  function codeAddress(address,debugadd) {
    var postaddr = address;
    geocoder0.geocode( { 'address': address.start}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        postaddr.startlat = results[0].geometry.location.lat();
        postaddr.startlng = results[0].geometry.location.lng();
        if (postaddr.startlng > -100.0)
          return
        geocoder1.geocode( { 'address': address.dest}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            console.log(results[0]);
            postaddr.destlat = results[0].geometry.location.lat();
            postaddr.destlng = results[0].geometry.location.lng();
            if (postaddr.destlng > -100.0)
                return
            console.log(postaddr);
            djson = JSON.stringify(postaddr);
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "json",
                url: "/debug/"+debugadd,
                data: djson,
                success: function(response) {
                    console.log(response);
                }
            });
          } else { console.log(status) }
        });
        console.log(results[0]);

      } else {
        console.log("Geocode was not successful for the following reason: " + status);
      }
    });
  }


</script>
</body>
</html>
