<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://gobarnacle.us7.list-manage1.com/subscribe/post?u=63e7c0e246c3f363c1ce9c125&amp;id=bab2de2f7f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
	<label for="mce-EMAIL">Subscribe to our newsletter </label>
    <div class="input-append">
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder='Email Address'>
    <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn button">
    </div>
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
</form>
</div>

<!--End mc_embed_signup-->