<div class="row-fluid">    
    <div class="span10 offset1 dropshadow">
        <table>
        <tr><td style='vertical-align:middle; padding:10px'>
        <img style='width:100px' src="{{profile_thumb}}">
        <h4>{{first_name}}</h4> 
        <!--
        {% if msg_ok == True %}
  <button type="submit" class="button tiny info" id="message_btn">Message</button>
        {% endif %}
        -->
        </td><td style='padding:10px'>
        <div id="avgrating">
            <span class="rating-starsOff" style="width:95px;">
            <span class="rating-starsOn" style="width:19px">{{avg_rating}}</span>
            </span>
            </div>
        Deliveries Completed: <b>{{deliv_completed}}</b><br> 
        <div class="insured">
        {% if ins == True %}
           <img src="/static/barnacle64.png"> &nbsp;Insured up to $500
           <br>
        {% endif %}
        </div>
        <b>Mutual Friends</b><br>
        <div id='dumpfriends' >None.</div>
        <!-- Networks: {% for n in networks %} {{n}}{% endfor %} -->
        </td></tr></table>
    </div>
</div>
<script>
$(document).ready(function(){
    user_rating();
    
    $(document).on('fbload', function(){
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
              dumpFriends('{{fbid}}','#dumpfriends', 6);
            }
        });
    });
});
</script>
<script src="/static/js/profile.js"></script>