<html>
<table width='100%' cellpadding='10px' style='font-family:"Helvetica Neue",Helvetica,Arial,sans-serif'>
    <tr>
      <td><a href="http://www.gobarnacle.com"><img border='0' src='http://www.gobarnacle.com/static/img/email/barnaclelogo.jpg'></a></td>      
    </tr>
    <tr>
      <td>
        {% block content %}{% endblock %}
      </td>
    </tr>    
    <tr>
      <td bgcolor='#eee'>
      <font size='-1'>
      This email was sent to you by Barnacle. 
    If you feel that you received this email by mistake, please contact us at: <a href='mailto:help@gobarnacle.com'>help@GoBarnacle.com</a>.<br>

      <p>&copy; Barnacle 2014. Use of this site constitutes acceptance of our <a href="http://www.gobarnacle.com/tos">Terms and Conditions of Use</a> and <a href="http://www.gobarnacle.com/privacy">Privacy Policy</a>. All rights reserved.</p>
      </td>
    </tr>
</table>
</html>