{% extends "email/ebase.html" %}
{% block content %}
        <h4><font color='#666'>Thank you for your reservation</font></h4>
        <p>Thank you for your reservation with Barnacle.
        If you have any questions or schedule changes, please <a href='mailto:help@gobarnacle.com'>contact us</a> directly.</p>
        <p>
        You can access your reservation at any time by going to <a href="http://www.gobarnacle.com">GoBarnacle.com</a> and clicking on the <a href='http://www.gobarnacle.com/account'>Account</a> link at the top of the page.        
        </p>
        <br>
        <b><font color='#666'>Reservation Details</font></b>
        <table cellpadding='4px'>
          <tr><td>Origin:</td>
            <td>{{ locstart }}
            <br><font size='-1'>{{ dropoffstr }}</font></td>
          </tr>
          <tr><td>Destination:</td>
            <td>{{ locend }}
            <br><font size='-1'>{{ pickupstr }}</font>
            <br><font size='-1'>{{ delivby }}</font></td>
          </tr>
          <tr><td>Driver:</td>
            <td>{{first_name}}
            <br>{{ins_email}}</td>
          </tr>
          <tr><td>Size:</td>
            <td>
      {% if capacity == 0 %} Carry On
      {% elif capacity == 1 %} Trunk
      {% else %} Oversized {% endif %}
            </td>
          </tr>
          <tr>
            <td><b>Total:</b></td>
            <td><b>${{ price }} </b></td>
          </tr>
        </table>
{% endblock %}        