{% extends "email/ebase.html" %}
{% block content %}
        <h4><font color='#666'>Delivery Requests Near You</font></h4>
        <p>Barnacle users have requested deliveries along your route! You can make a delivery offer on their request page.
        </p>
        <br>        
        <table cellpadding='4px'>
          <tr>
            <tr><td><b><font color='#666'>Sender</font></b></td>
            <td><b><font color='#666'>Origin</font></b></td>
            <td><b><font color='#666'>Destination</font></b></td>
            <td><b><font color='#666'>Deliver By</font></b></td>
            <td></td>
          </tr>
            {% for post in posts %}
            <tr>
                <td>
                <img height="50px" src="{{post.thumb_url}}"><br>
                {{post.first_name}}</td>
                <td>{{post.start}}</td>
                <td>{{post.dest}}</td>
                <td>{{post.delivby}}</td>
                <td><a href='http://www.gobarnacle.com/post/request/{{post.routekey}}'>view</a></td>
            </tr>
            {% endfor %}            
        </table>
        <br>
        <p>Change your notification settings and view your routes by going to your <a href='http://www.gobarnacle.com/account'>account page</a>.</p>
{% endblock %}        