{% extends "email/ebase.html" %}
{% block content %}
<h4><font color='#666'>Thank you for your post!</font></h4>
<p>
Dear {{first_name}},</p>
<p>
Thank you for posting your route on Barnacle. Taking the time to share your travel plans helps our community and increases the chances you will get paid for driving.
</p>
<p>
You can view and edit your listing <a href="http://www.gobarnacle.com{{post_url}}">here</a>.</p>
<p>
Over half the time, our drivers actually source business by posting their route to Facebook or Twitter.  If you use the #GoBarnacle hashtag, we will help you spread the word to our userbase.
</p>
<p>
If you drive this route frequently, you may consider applying to be a verified driver. Our partner driver program provides many benefits, including offline package request notifications, first shot at new requests, special discounts, access to our private forums, and roadside support. You can apply <a href="http://www.gobarnacle.com/apply">here</a>.</p>
<p>Thank you again for using Barnacle!</p>
{% endblock %}        