{% extends "email/ebase.html" %}
{% block content %}
  <h4><font color='#666'>Welcome to Barnacle!</font></h4>
    <p>
    Thank you for signing up for Barnacle. Our community makes it easy to ship your treasured possessions through a trusted network of drivers who were already driving between cities. <br>Here are some things you can do to get started.
    </p>
    <br>
    <b><font color='#666'>Ship Something</font></b>
    <table cellpadding='4px'>
      <tr><td>Do you have a box of stuff sitting in an attic in Albuquerque?  Need to send your bike to Bellingham?  A trusty Barnacle driver will get them where they're going in style.<br>
          <a href="http://gobarnacle.com/request">Post a Delivery Request</a>
      </td></tr>
    </table>
    <br>
    <b><font color='#666'>Drive for Barnacle</font></b>
    <table cellpadding='4px'>
        <tr><td>Taking a road trip?  Bring a fellow Barnacle members' package with you and you'll get rewarded for your ride.  You can get started simply by registering your itinerary.
            <br>
            <a href="http://gobarnacle.com/drive">Post Your Route</a>
        </td></tr>
    </table>
    <br>
    <b><font color='#666'>Search for Requests</font></b>
    <table cellpadding='4px'>
      <tr><td>Crowdshipping makes it easy to send anything, anywhere.  Barnacle users are using peer power to send goods ranging from Art to Zoo animals.  Check out the creativity of our community and get inspired.<br>
          <a href="http://gobarnacle.com/search/request">Browse New Requests</a>
      </td></tr>
    </table>    
    <p>
    An in-depth guide to getting started is available for you <a href="http://www.gobarnacle.com/profile/drivestart">here</a>.</p>
    <p>
    If you ever have any questions, feel free to <a href="http://www.gobarnacle.com/contact">contact us</a> and we will respond within a day!
    </p>
{% endblock %}        