{% extends "email/ebase.html" %}
{% block content %}
  <h4><font color='#666'>Welcome to the Barnacle Community!</font></h4>
    <p>
    Thank you for signing up for Barnacle. Our community makes it easy to ship your treasured possessions through a trusted network of drivers who are already driving between cities. <br>Here are things you can do to get started.
    </p>
    <br>
    <b><font color='#666'>Ship Something</font></b>
    <table cellpadding='4px'>
      <tr><td>Do you have a box of stuff sitting in an attic in Albuquerque?  Need to send your bike to Bellingham?  A Barnacle driver will get it there in style.<br>
      <a href="http://www.gobarnacle.com/request">Post a Delivery Request</a>
      </td></tr>
    </table>
    <br>
    <b><font color='#666'>Drive for Barnacle</font></b>
    <table cellpadding='4px'>
      <tr><td>Taking a road trip?  Bring a fellow Barnacle members' package with you and get rewarded for your ride.<br>
      <a href="http://www.gobarnacle.com/drive">Sign up here</a>
        </td></tr>
    </table>
    <p>
    If you have any questions, feel free to <a href="http://www.gobarnacle.com/contact">contact us</a> and our friendly team will get back to you right away!
    </p>
{% endblock %}        