{% extends "email/ebase.html" %}
{% block content %}
  <h4><font color='#666'>Welcome to Barnacle!</font></h4>
    <p>
    Thank you for signing up to become a driver. It's easy to get on the road and making deliveries. <br>Here are some things you can do to get started.
    </p>
    <br>
    <b><font color='#666'>Set up a payment account</font></b>
    <table cellpadding='4px'>
      <tr><td>Barnacle users appreciate the added security of our escrow system. Have your payments securely transferred to your bank account and funds will be released upon delivery confirmation.<br>
      <a href="http://www.gobarnacle.com/settings">Do that now</a>
      </td></tr>
    </table>
    <br>
    <b><font color='#666'>Post a driving route</font></b>
    <table cellpadding='4px'>
      <tr><td>Add your next drive to our database so that other users can find you when they need to send something!<br>
      <a href="http://www.gobarnacle.com/drive">Do that now</a>
      </td></tr>
    </table>
    <br>
    <b><font color='#666'>Search for requests</font></b>
    <table cellpadding='4px'>
      <tr><td>If you don't have a planned travel itinerary, search our user requests.<br>
      <a href="http://www.gobarnacle.com/search/request">Do that now</a>
      </td></tr>
    </table>    
    <p>
    An in-depth guide to getting started is available for you <a href="http://www.gobarnacle.com/profile/drivestart">here</a>.</p>
    <p>
    If you ever have any questions, feel free to <a href="http://www.gobarnacle.com/contact">contact us</a> and we will respond within a day!
    </p>
{% endblock %}        